[2020-10-24 19:49] #833 closed

[2020-10-24 19:51] cmaureir commented on #851
Bueno tenemos 2 paginas llenas de "good first issue" https://github.com/python/python-docs-es/labels/good%20first%20issue
Espero nos puedas ayudar con otros archivos grandes pendientes, ya que tienes la experiencia suficiente.
Te lo asigno igual ;)

[2020-10-24 20:01] #856 closed

[2020-10-24 20:31] mjmolina commented on #325
Hola! Me gustaría traducir este documento :)

[2020-10-24 20:35] cmaureir commented on #325
gracias, éxito con la traducción :tada:

[2020-10-24 22:26] ricrogz commented on #844
Hola, me gustaría traducir este archivo.

[2020-10-24 22:27] h3ct0rjs commented on #810
@cmaureir  #1106 help me with the proper review 😄

[2020-10-24 23:23] aroquega commented on #704
¿@cmaureir  este problema todavía sigue? por lo que veo ya no aparece la 3.7 en el read-the-docs, creo que se debe cerar este issue o cambiar el nombre.

[2020-10-24 23:40] aroquega commented on #348
¿Este es el famoso doctest que sólo los expertos en git saben usar @cmaureir? me encantaría traducir este archivo, en cuanto revisen el #939.

Por mientras mantendré los ojos en esta issue 👀.

[2020-10-25 08:33] clacri commented on #348
toda tuya, mientras te están revisando la otra puedes comenzar esta!

[2020-10-25 14:13] #851 closed

[2020-10-25 15:07] cmaureir commented on #844
Hola @ricrogz por supuesto, recuerda leer la guía de contribución y si tienes dudas tenemos un canal de telegram ;)

[2020-10-25 15:16] cmaureir commented on #704
Si ya está listo :+1:

[2020-10-25 15:16] #704 closed

[2020-10-25 16:56] ricrogz commented on #831
Hola, me gustaría encargarme de traducir este archivo también. Gracias.

[2020-10-25 19:58] popiula commented on #808
Hola. Me gustaría colaborar aquí. ¿Puedo empezar con esta issue? Gracias!

[2020-10-25 21:07] aroquega commented on #1012
@cmaureir tengo una idea de como hacerlo pero no estoy seguro 100% y tendría que hacer pruebas, pero no puedo compilar la documentación para probarlo. Pienso en dos alternativas: crear un proyecto en sphinx y desde ahí probar como funcionan las variables de sphinx, o mandar un pr al repositorio para que se construya la documentación ¿Qué opinas?

¿@iam-agf que problemas tuviste? Estas referencias

[2020-10-25 21:09] aroquega commented on #1012
El problema es que en la documentación en inglés, ellos lo reemplazan con rst, ya que sus documentos están en rst, y nuestros documentos están en .po a excepción de la guía de contribución y eso. Hay que verificar si el sufijo es rst para no reemplazarlo con .po

[2020-10-25 21:12] h3ct0rjs commented on #786
Hi @cmaureir  Would you assign this issue to me, it will be good to learn the world flow. Also if you could share with me the docs about how to run the unit test locally.

Sincerely,
H

[2020-10-26 00:56] aroquega commented on #1012
La pr #1108 está arreglando eso

[2020-10-26 08:42] #1020 closed

[2020-10-26 09:01] cmaureir commented on #831
éxito con la traducción! :tada:

[2020-10-26 09:01] #778 closed

[2020-10-26 09:02] cmaureir commented on #808
Muchas gracias @popiula éxito con la traducción!

[2020-10-26 09:04] #844 closed

[2020-10-26 09:15] cmaureir commented on #786
Gracias @h3ct0rjs, como ya vi, tienes otros Pull-request, recuerda por favor, volver a las rama principal, 3.8 antes de crear una nueva rama de traducción relacionada a este archivo.
La información para construir la documentación está acá: https://python-docs-es.readthedocs.io/es/3.8/faq.html#como-puedo-hacer-un-build-local-de-la-documentacion

Cualquier cosa, estamos en el grupo de telegram.

[2020-10-26 10:26] iam-agf commented on #1012
Yo desconozco, así que opté por dejarlo en manos de conocedores, porque igual hacer algo que creo que va a fallar hubiera terminado siendo un PR inútil 😓 .

[2020-10-26 10:55] lis17 commented on #853
Hola,
Estoy aprendiendo y me gustaría hacer mi primera contribución con esta traducción. Es mi primera primerísima contribución y espero poder completarla.

[2020-10-26 20:12] h3ct0rjs commented on #786
Gracias @cmaureir . Esperando para iniciar este 😄

[2020-10-26 20:48] popiula commented on #808
Gracias!

[2020-10-27 00:10] ricrogz commented on #829
¿Podría encargarme también de este Issue? El que se me asignó ayer ya está como PR, a la espera de ser revisado.

[2020-10-27 10:45] #319 closed

[2020-10-27 10:49] cmaureir commented on #829
Vale @ricrogz, y con este te graduas de los "good first issue" a ver si nos puedes dar una mano con las traducciones pendientes que tienen más entradas :+1:

[2020-10-27 10:50] #815 closed

[2020-10-27 12:02] #831 closed

[2020-10-27 14:04] #829 closed

[2020-10-27 16:29] 0-Arngerdur-1 commented on #827
Hola, que tal ¿puedo traducir este issue?

[2020-10-27 17:38] lgfunderburk commented on #877
PR aqui https://github.com/python/python-docs-es/pull/1113

[2020-10-27 20:32] ricrogz commented on #678
Si este issue ha quedado libre, ¿puedo ocuparme yo?

[2020-10-28 00:43] MelissaEscobar commented on #825
Hi! I want to contribute translating this issue :D

[2020-10-28 00:45] MelissaEscobar commented on #824
Hi! I want to contribute translating. Please assign me this issue :D

[2020-10-28 00:46] MelissaEscobar commented on #821
Hi! I want to contribute translating. Please assign me this issue :D

[2020-10-28 00:46] MelissaEscobar commented on #817
Hi! I want to contribute translating. Please assign me this issue :D

[2020-10-28 00:47] MelissaEscobar commented on #811
Hi! I want to contribute translating. Please assign me this issue :D

[2020-10-28 09:04] cmaureir commented on #827
gracias @0-Arngerdur-1 :tada:

[2020-10-28 09:05] cmaureir commented on #678
Claro @ricrogz :tada: mucho éxito

[2020-10-28 09:18] cmaureir commented on #825
Muchas gracias @MelissaEscobar, éxito con la traducción!

[2020-10-28 09:18] cmaureir commented on #824
Te asigné el otro @MelissaEscobar, cuando lo termines y  te acostumbres al flujo de trabajo, te asignamos este ;)

[2020-10-28 09:19] cmaureir commented on #821
Te asigné el otro @MelissaEscobar, cuando lo termines y te acostumbres al flujo de trabajo, te asignamos este ;)

[2020-10-28 09:19] cmaureir commented on #817
Te asigné el otro @MelissaEscobar, cuando lo termines y te acostumbres al flujo de trabajo, te asignamos este ;)

[2020-10-28 09:19] cmaureir commented on #811
Te asigné el otro @MelissaEscobar, cuando lo termines y te acostumbres al flujo de trabajo, te asignamos este ;)

[2020-10-28 10:27] josephLSalgado commented on #1033
Hi @cmaureir! Me gustaría ayudar con esta traducción :)

[2020-10-28 11:17] mondeja commented on #423
Hola, ¿puedo tomar este?

[2020-10-28 15:15] MelissaEscobar commented on #811
¡Súper!. Muchas gracias.

[2020-10-28 15:33] m3lissaeg commented on #817
Muchas gracias 😄. Ya quedó listo el anterior 🤓, quedo atenta para continuar con los demás.

[2020-10-28 16:27] cmaureir commented on #1033
gracias @josephLSalgado mucho éxito y paciencia que es un archivo largo :tada:

[2020-10-28 16:27] cmaureir commented on #423
Gracias @mondeja mucho éxito :tada:

[2020-10-28 20:23] carlos-bernad commented on #343
@cmaureir Gracias por el mensaje, esta semana lo completo.

[2020-10-28 23:04] kiolo45 commented on #302
Quisiera trabajar en esta traducción.

[2020-10-29 13:37] italofarve commented on #807
Hola. ¿Puedo colaborar con esta?

[2020-10-29 17:50] #825 closed

[2020-10-29 17:52] cmaureir commented on #807
Claro @italofarve, éxito con la traducción!

[2020-10-29 23:07] m3lissaeg commented on #821
¡Holaa! Por favor no me olvides jeje. Ya el anterior quedó aprobado 😺

[2020-10-30 12:14] cmaureir commented on #821
Ningún problema, además con esta ya te graduas de las "good first issue", a ver si el siguiente es uno con más entradas :tada:

[2020-10-30 18:18] Yo-hanaPR commented on #1031
Hello! I would like to translate this file. I've already forked the official repository, and cloned it on my local machine.

[2020-10-30 18:22] cmaureir commented on #1031
Gracias @Yo-hanaPR !!! Mucho éxito y recuerda avisarnos en el grupo de telegram o acá si tienes problemas con la guia de contribución.

[2020-10-30 18:28] Yo-hanaPR commented on #1031
Hola! De nada, un gusto contribuir con la traducción de python. Ya puedo comenzar a traducir el archivo "whatsnew/3.3.po" que tengo en mi máquina? Me uní a la comunidad hace minutos, ya leí [la guia para contribuir con la traduccion](https://python-docs-es.readthedocs.io/es/3.8/CONTRIBUTING.html), pero no sé si debo hacer algo más o ya puedo comenzar la traducción de forma local

[2020-10-31 00:00] #325 closed

[2020-10-31 00:25] #821 closed

[2020-10-31 03:25] willian593 commented on #812
Saludos cordiales.
Me gustaría ayudar en esta issues, me la podrían asignar, gracias de antemano.

[2020-10-31 04:23] Xaraxx commented on #853
Hola me gustaría contribuir traduciendo esta parte!

[2020-10-31 04:32] Xaraxx commented on #824
Hola! me gustaría traducir esta parte me lo podrían asignar?

[2020-10-31 13:01] jaumemy commented on #809
Hola, para mi primera contribución, me gustaría poder traducir este módulo que se ve interesante.
Podrían asignarmelo? gracias!

[2020-10-31 13:59] #848 closed

[2020-10-31 14:00] #1012 closed

[2020-10-31 14:01] cmaureir commented on #853
Gracias @Xaraxx, mucho éxito con la traducción. Recuerda mirar la guía de contribución y nos puedes encontrar en telegram!

[2020-10-31 14:01] cmaureir commented on #824
Mejor de a uno @Xaraxx, cuando acabes el otro te asigno este ;)

[2020-10-31 14:03] #773 closed

[2020-10-31 14:03] cmaureir commented on #809
Mucho éxito con la traducción! @jaumemy, recuerda leer la guía de contribución y nos puedes encontrar en telegram!

[2020-10-31 14:08] #423 closed

[2020-10-31 14:09] cmaureir commented on #812
Ya tienes dos "good first issues" @willian593, si te faltan para el Hacktoberfest, me parece bien, pero si no, sería genial que nos pudieras ayudar con archivos con más entradas.

[2020-10-31 14:12] jaumemy commented on #809
Gracias Cristián! Ya me pongo a ello

[2020-10-31 15:09] willian593 commented on #812
Ok, entonces quisiera ayudar con esta issues, Translate 'whatsnew/3.2.po' #1030

[2020-10-31 20:36] Xaraxx commented on #853
Muchas gracias! :+1:

[2020-10-31 20:56] mjmolina commented on #667
A mi me gustaría traducir este archivo :)

[2020-10-31 20:56] cmaureir commented on #667
listo, gracias @mjmolina

[2020-10-31 22:22] Xaraxx commented on #824
Muchas gracias!! es que no sabía cual escoger! :+1:  muchas gracias @cmaureir!!

[2020-11-01 02:35] Xaraxx commented on #824
Hola @cmaureir  ya terminé he hice pull request de la anterior me podrias asignar esta?

[2020-11-01 18:45] enrique-zarate commented on #776
Hola! Me pueden asiganar este issue?

[2020-11-01 20:23] cmaureir commented on #824
OK! ya con este te graduas de los "good first issues" ;) a ver si nos das una mano con los pendientes con más entradas luego. Mucho éxito.

[2020-11-01 20:24] cmaureir commented on #776
Gracias @enrique-zarate :tada: éxito con la traducción!

[2020-11-02 19:09] Xaraxx commented on #824
Eso sería genial @cmaureir la verdad es que me encanta esto de contribuir a la comunidad! :+1: estoy muy felíz

[2020-11-02 20:52] dvidsilva commented on #812
@cmaureir me gustaria colaborar con esta

[2020-11-04 09:42] #776 closed

[2020-11-04 09:48] #840 closed

[2020-11-04 09:49] cmaureir commented on #812
hecho, éxito, y con esta ya te graduas de los "good first issues" ;)

[2020-11-04 14:33] willian593 commented on #1030
Saludos podría colaborar en esta issues

[2020-11-06 14:30] enrique-zarate commented on #811
Puedo ayudar con este issue?

[2020-11-07 17:52] mondeja commented on #553
Hola, ¿puedo traducir este módulo?

[2020-11-07 17:56] jaumemy commented on #817
Hola! Me pueden asignar este que veo que está sin asignar, para mi segunda contribución?

Gracias!

[2020-11-08 19:20] popiula commented on #808
queda algo pendiente aqui?

[2020-11-09 11:35] cmaureir commented on #811
Gracias @enrique-zarate mucho éxito!

[2020-11-09 11:36] cmaureir commented on #553
Muchas gracias @mondeja :)

[2020-11-09 11:37] #809 closed

[2020-11-09 11:39] cmaureir commented on #808
había un problema con el CI, ahora lo miro cuando termine de ejecutar de nuevo.

[2020-11-09 11:41] cmaureir commented on #817
Genial @jaumemy :tada: mucho éxito!

[2020-11-09 12:29] popiula commented on #808
Gracias

[2020-11-10 08:50] yeyeto2788 commented on #792
Buenas @cmaureir, mientras espero que el PR sea aprobado y dado que hacktoberfest ha acabado es posible que pueda trabajar en este issue y otros para ir bajando la lista de issues.

[2020-11-10 16:52] cmaureir commented on #792
Claro @yeyeto2788, pero igual ahora dentro de poco tenemos un nuevo evento, donde esperamos tener gente nueva participando ;) así que te dejo este último de los cortitos.

[2020-11-10 17:01] cmaureir commented on #1079
I'll be closing this issue @Seluj78 but are all very happy for the news since you posted it ;)
Thanks for your project! and we will certainly go back to you in case we need something :raised_hands:

[2020-11-10 17:01] #1079 closed

[2020-11-10 19:59] Seluj78 commented on #1079
Glad you liked it ! Please do let me know if you have feature requests and all

[2020-11-14 01:21] eamanu commented on #51
@humitos viendo los últimos comentarios de #371, creo que este issue se puede cerrar?

[2020-11-16 23:53] lucasmiranda42 commented on #788
Hi! Can I work on this? It'd be my first contribution indeed :) Thanks!

[2020-11-17 08:08] cmaureir commented on #788
Gracias @lucasmiranda42 :tada:, recuerda que de todas formas estaremos este sábado con el sprint de la PyConAr, en caso que tengas dudas, si no, nos puedes contactar por telegram.

[2020-11-17 08:12] #817 closed

[2020-11-17 08:16] #1029 closed

[2020-11-17 09:04] lucasmiranda42 commented on #788
Genial! Voy chusmeando y el sábado me sumo al sprint entonces :) Gracias!

[2020-11-17 11:54] Eric-Hernan commented on #774
Hola, podré sumarme con la traducción de este segmento?

[2020-11-18 16:05] willian593 commented on #779
Hola! Me gustaría empezar a colaborar con el proyecto traduciendo este archivo. Gracias!

[2020-11-19 16:13] Juerodriguez commented on #797
Hi, I would like to work on this file.

[2020-11-20 21:59] endikagil commented on #793
I would like to try helping on this

[2020-11-21 14:50] cmaureir commented on #797
Muchas gracias @Juerodriguez !!!

[2020-11-21 15:09] #792 closed

[2020-11-21 15:10] cmaureir commented on #774
Claro! muchas gracias! :tada:

[2020-11-21 15:12] cmaureir commented on #796
Genial! gracias @fzuccolo

[2020-11-21 15:13] #808 closed

[2020-11-21 15:15] cmaureir commented on #779
Gracias @willian593 :tada:

[2020-11-21 15:15] #321 closed

[2020-11-21 15:17] #811 closed

[2020-11-21 15:27] cmaureir commented on #793
Gracias @endikagil :+1:

[2020-11-21 19:55] #793 closed

[2020-11-21 19:56] #553 closed

[2020-11-21 19:58] #667 closed

[2020-11-21 19:58] #807 closed

[2020-11-21 21:24] #678 closed

[2020-11-21 21:25] #847 closed

[2020-11-21 21:29] #682 closed

[2020-11-21 21:32] #673 closed

[2020-11-21 22:28] Juerodriguez commented on #1027
Hola, quiero traducir esta issue.

[2020-11-21 22:33] #672 closed

[2020-11-21 22:34] cmaureir commented on #1027
uff mucho éxito con este file @Juerodriguez es bastante largo. Si en algún momento crees que no puedes terminar, te recomiendo que subas lo que tienes como draft, asi alguien más lo puede terminar. Gracias y mucho éxito!

[2020-11-21 22:35] #865 closed

[2020-11-21 22:36] eamanu opened #1150 "Mensaje de error con pospell"
Buenas!
Estoy viendo que pospel en el build de https://github.com/python/python-docs-es/pull/1144 da este mensaje que se reproduce localmente:

[code]
Esa línea se introdujo acá: https://github.com/python/python-docs-es/commit/ee86f034a7334e44816a30275ea24981a3a72295

[2020-11-21 22:39] cmaureir commented on #1150
Pues realmente no puedo encontrar cual es el error
[code]

[2020-11-21 22:59] #796 closed

[2020-11-22 00:05] eamanu commented on #1150
Por lo que pude investigar sería un problema en la documentación de Python rfc espera un número no una frase. debería ser algo así :rfc:`2045`

Esto se repite en muy pocas partes de la documentación; http://paste.debian.net/1173766

[2020-11-23 00:36] Juerodriguez commented on #797
#1147

[2020-11-23 08:42] #779 closed

[2020-11-23 09:03] mondeja commented on #1150
He abierto un [issue en Sphinx](https://github.com/sphinx-doc/sphinx/issues/8482) para que se acepten roles RFC con links apuntando a secciones de un RFC.

[2020-11-23 12:24] jaumemy commented on #339
Hola! Curioseando qué podía traducir, encontré esto que está pendiente parece.
Me ofrezco!

[2020-11-23 14:02] cmaureir commented on #339
éxito @jaumemy, es un archivo bastante largo, asi que si en algún momento crees que no puedes continuar, te recomiendo que subas lo que tengas. Alternativamente, puedes abrir el PR como draft cuando te sientes a hacer las primeras traducciones y así solo lo vas actualizando cada vez que avances ;)

[2020-11-23 15:39] jaumemy commented on #339
Gracias @cmaureir ! Ya había traducido un par más cortos y me apetecía hacer alguno más complicado.
Puedo hacer como tu dices. Lo iré subiendo en unas pocas partes para que vaya progresando mientras doy tiempo a que le hagan review .

[2020-11-23 16:25] fzuccolo commented on #302
Hola, me gustaría traducir este archivo, gracias!

[2020-11-24 11:17] elnaquete commented on #780
Hi! I'd like to translate this one.

[2020-11-24 16:38] eamanu commented on #1150
@mondeja con la nueva version de pospell no tenemos ese error?

[2020-11-24 18:47] mondeja commented on #1150
Pues seguimos teniéndolo. He estado investigando más a fondo y parece que es un bug con docutils, que no es capaz de interpretar roles RFC con textos largos. He abierto un [issue en sourceforge](https://sourceforge.net/p/docutils/bugs/409/), a ver si se soluciona.

[2020-11-24 18:58] aroquega commented on #788
El #1145 cerró este issue. @cmaureir, no se cerró automáticamente.

[2020-11-24 19:13] eamanu commented on #1150
Para mi es la documentación de python la que aplica mal el :rfc:. Consulté pero todavía no tengo novedades.

[2020-11-24 19:17] mondeja commented on #1150
Definitivamente se produce en pospell, pero dentro del parsing con docutils. Puedes probar el siguiente ejemplo mínimo reproducible y verás el mensaje de error:

[code]

[2020-11-24 20:48] dvidsilva commented on #349
@clacri @cmaureir si nadie la pidio, yo puedo darle esta semana! o si pueden sugerir otro issue como este! gracias

[2020-11-25 13:22] cmaureir commented on #302
Se me había pasado esta issue por completo, mil disculpas!
Te lo asigné a ti @kiolo45, en caso que no puedas o no quieras tomarlo ahora 28 días más tarde, avisame así se lo puedo asignar a @fzuccolo .

[2020-11-25 13:23] cmaureir commented on #780
Perfecto, mucho éxito!

[2020-11-25 13:23] #788 closed

[2020-11-25 13:25] cmaureir commented on #349
dale @dvidsilva, no tuvimos respuesta asi que todo tuyo

[2020-11-25 23:09] GibranHL0 commented on #803
Hola, me gustaría ayudar a traducirlo! 😄

[2020-11-25 23:16] migrmrz commented on #317
Hola, me gustaría colaborar con este issue.

[2020-11-26 17:57] UlisesAlexanderAM commented on #782
Hola, me gustaría traducir este archivo.

[2020-11-26 21:12] cmaureir commented on #317
Hola @migrmrz, ¿es tu primera colaboración? si es así, te recomiendo que puedas mirar un archivo pequeño, para que te familiarices con el flujo de trabajo, ya que este archivo es bastante largo. Te parece si miras uno mucho más corto y cuando lo tengas listo te asignamos este issue?

[2020-11-26 21:14] cmaureir commented on #803
Gracias por tu interés @GibranHL0, mucho éxito!

[2020-11-26 21:14] cmaureir commented on #782
Gracias @UlisesAlexanderAM y mucho éxito!

[2020-11-26 21:45] migrmrz commented on #317
Hola. Sí es mi primera. Intenté buscar algo más, pero no encontré. Igual fue una búsqueda rápida. Seguiré buscando más a fondo para solicitar la asignación. Gracias.

[2020-11-27 19:12] migrmrz commented on #787
Hola, ¿podría colaborar con este issue? Veo que solo es una sección corta (concurrent.futures.as_completed(fs, timeout=None)) la que falta de traducir.

[2020-11-27 19:31] cmaureir commented on #787
Este si que sí @migrmrz :dancers:  mucho éxito!

[2020-11-27 22:11] mondeja commented on #324
Buenas, ¿podría traducir este archivo?

[2020-11-28 17:37] mondeja opened #1157 "Migración de TravisCI"
TravisCI está dejando de ser gratuito para proyectos de código abierto. Esto está provocando que las construcciones se queden paradas durante horas. Creo que es momento de migrar y yo voto por Github Actions que por ahora es completamente gratuito para proyectos de código abierto.

[2020-11-30 15:44] cmaureir commented on #324
Claro @mondeja, ya eres de la casa!

[2020-11-30 15:52] cmaureir commented on #1157
+1 a usar Github actions.

[2020-12-02 06:12] sparkingdark commented on #785
@cmaureir basically what need to do

[2020-12-02 06:42] tuxtitlan commented on #785
@cmaureir assign this to me, please

[2020-12-03 16:22] Juerodriguez opened #1164 "Problema con pospell <rst-doc>:1: (WARNING/2)"
Cuando lo paso por pospell me marca el siguiente problema: <rst-doc>:1: (WARNING/2) Inline interpreted text or phrase reference start-string without end-string. while parsing: Comparando a un :class:`~collections.OrderedDict`con un diccionario normal ignora el orden de inserción y simplemente compara las llaves y los valores.

_Originally posted by @Juerodriguez in https://github.com/python/python

[2020-12-03 16:31] #350 closed

[2020-12-03 18:04] Juerodriguez commented on #1164
Resuelto gracias por la review eamanu con el commit 6c1f0082cac9d312477b78150c290891b9298674

[2020-12-03 18:05] #1164 closed

[2020-12-04 12:42] mikanchu commented on #1157
+1 a github actions

[2020-12-04 14:48] cacrespo commented on #1030
Buenas! @willian593 finalmente trabajaste este issue?
Si nadie lo está trabajando puedo tomarlo!

[2020-12-04 20:12] cmaureir commented on #785
Gracias @tuxtitlan !
@sparkingdark es la traducción de la documentación de Python al español.

[2020-12-04 20:40] migrmrz commented on #304
Hola, ¿podría continuar con este issue? Veo que es largo, pero podría trabajar por secciones más pequeñas, así no esperamos hasta que alguien termine todo y también da oportunidad de que alguien más que quiera ayudar, pueda trabajarlo.

[2020-12-07 11:53] cmaureir commented on #304
Dale @migrmrz, éxito!

[2020-12-07 11:56] #780 closed

[2020-12-07 14:26] elnaquete commented on #911
Buenas! Si puedo dar una mano con esta traducción, estoy disponible :)

[2020-12-07 19:29] cmaureir commented on #911
Por inactividad te la asignamos a ti @elnaquete, éxito!

[2020-12-07 19:29] cmaureir commented on #1030
Es una issue bastante larga, quizás se la pueden dividir :)

[2020-12-07 19:35] migrmrz commented on #304
¡gracias!

[2020-12-08 13:51] raulcd commented on #1157
+1 a usar GitHub actions

[2020-12-08 19:01] cacrespo commented on #1030
OK. @willian593 creo que @cmaureir tiene razón... te parece si dividimos en dos el archivo? Son 518 entradas. De la 1 a 259 puedo ir yo y tu te ocupas del resto. ¿Qué dices?

[2020-12-11 09:32] #782 closed

[2020-12-14 15:38] #816 closed

[2020-12-16 08:12] lazaromer97 commented on #1157
+1 a GitHub actions

[2020-12-16 08:18] lazaromer97 commented on #1035
Saludos, me gustaría colaborar con la traducción de algunas secciones de ser posible.

[2020-12-18 09:49] #1157 closed

[2020-12-18 18:14] willian593 commented on #1030
Ok, @cacrespo, a darle

[2020-12-19 03:46] lazaromer97 commented on #1030
Saludos @cmaureir, me gustaría trabajar en alguna de las tareas de traducción pendientes.

[2020-12-19 10:54] cmaureir commented on #1030
@lazaromer97 solo tienes que buscar un issue que no tenga a nadie asignado ;)

[2020-12-19 10:55] #785 closed

[2020-12-19 11:09] #803 closed

[2020-12-19 16:10] #1035 closed

[2020-12-20 14:55] #478 closed

[2020-12-20 15:50] #591 closed

[2020-12-20 16:35] #418 closed

[2020-12-20 16:44] #689 closed

[2020-12-20 18:54] #892 closed

[2020-12-20 19:03] #230 closed

[2020-12-20 19:35] #830 closed

[2020-12-20 19:52] #200 closed

[2020-12-20 20:23] cmaureir opened #1174 "Translate 'whatsnew/2.4.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.8/whatsnew/2.4.html once translated.
Meanwhile, the English version is shown.

Current stats for `whatsnew/2.4.po`:

* Fuzzy: 0
* Percent translated: 0.0%
* Entries: 0 / 266
* Untranslated: 266

Please, comment here if you want this file to be assigned to you and an member will

[2020-12-20 20:23] cmaureir opened #1175 "Translate 'whatsnew/2.3.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.8/whatsnew/2.3.html once translated.
Meanwhile, the English version is shown.

Current stats for `whatsnew/2.3.po`:

* Fuzzy: 0
* Percent translated: 0.0%
* Entries: 0 / 324
* Untranslated: 324

Please, comment here if you want this file to be assigned to you and an member will

[2020-12-20 20:23] cmaureir opened #1176 "Translate 'whatsnew/2.2.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.8/whatsnew/2.2.html once translated.
Meanwhile, the English version is shown.

Current stats for `whatsnew/2.2.po`:

* Fuzzy: 0
* Percent translated: 0.0%
* Entries: 0 / 192
* Untranslated: 192

Please, comment here if you want this file to be assigned to you and an member will

[2020-12-20 20:23] cmaureir opened #1177 "Translate 'whatsnew/2.0.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.8/whatsnew/2.0.html once translated.
Meanwhile, the English version is shown.

Current stats for `whatsnew/2.0.po`:

* Fuzzy: 0
* Percent translated: 0.0%
* Entries: 0 / 182
* Untranslated: 182

Please, comment here if you want this file to be assigned to you and an member will

[2020-12-20 20:23] cmaureir opened #1178 "Translate 'whatsnew/2.5.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.8/whatsnew/2.5.html once translated.
Meanwhile, the English version is shown.

Current stats for `whatsnew/2.5.po`:

* Fuzzy: 0
* Percent translated: 0.0%
* Entries: 0 / 386
* Untranslated: 386

Please, comment here if you want this file to be assigned to you and an member will

[2020-12-20 20:23] cmaureir opened #1179 "Translate 'whatsnew/2.1.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.8/whatsnew/2.1.html once translated.
Meanwhile, the English version is shown.

Current stats for `whatsnew/2.1.po`:

* Fuzzy: 0
* Percent translated: 0.0%
* Entries: 0 / 139
* Untranslated: 139

Please, comment here if you want this file to be assigned to you and an member will

[2020-12-20 20:23] cmaureir opened #1180 "Translate 'whatsnew/2.6.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.8/whatsnew/2.6.html once translated.
Meanwhile, the English version is shown.

Current stats for `whatsnew/2.6.po`:

* Fuzzy: 0
* Percent translated: 0.0%
* Entries: 0 / 539
* Untranslated: 539

Please, comment here if you want this file to be assigned to you and an member will

[2020-12-20 20:23] cmaureir opened #1181 "Translate 'library/resource.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.8/library/resource.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/resource.po`:

* Fuzzy: 0
* Percent translated: 98.2%
* Entries: 110 / 112
* Untranslated: 2

Please, comment here if you want this file to be assigned to you and an me

[2020-12-20 20:23] cmaureir opened #1182 "Translate 'library/macpath.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.8/library/macpath.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/macpath.po`:

* Fuzzy: 0
* Percent translated: 0.0%
* Entries: 0 / 4
* Untranslated: 4

Please, comment here if you want this file to be assigned to you and an member wi

[2020-12-20 20:23] cmaureir opened #1183 "Translate 'library/spwd.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.8/library/spwd.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/spwd.po`:

* Fuzzy: 0
* Percent translated: 58.1%
* Entries: 25 / 43
* Untranslated: 18

Please, comment here if you want this file to be assigned to you and an member will

[2020-12-20 20:23] cmaureir opened #1184 "Translate 'library/numbers.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.8/library/numbers.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/numbers.po`:

* Fuzzy: 4
* Percent translated: 96.6%
* Entries: 28 / 29
* Untranslated: 1

Please, comment here if you want this file to be assigned to you and an member

[2020-12-20 20:24] #837 closed

[2020-12-20 20:27] #417 closed

[2020-12-20 21:04] #324 closed

[2020-12-20 21:06] #514 closed

[2020-12-20 21:07] #876 closed

[2020-12-20 21:12] #819 closed

[2020-12-20 21:28] #812 closed

[2020-12-20 21:41] #343 closed

[2020-12-20 21:52] cmaureir commented on #1027
@Juerodriguez @eamanu hice el merge del 25%, y actualicé el issue. Si quieres continuar en otro PR @Juerodriguez te lo asigno de nuevo.

[2020-12-20 21:56] cmaureir commented on #302
@fzuccolo te interesa tomar esta issue?

[2020-12-20 22:00] cmaureir commented on #338
queda libre esta issue

[2020-12-20 22:02] cmaureir commented on #349
@dvidsilva tienes algún avance para subir como draft?

[2020-12-20 22:03] cmaureir commented on #468
dejando esta issue libre

[2020-12-20 22:03] cmaureir commented on #506
dejando esta issue libre

[2020-12-20 22:05] cmaureir commented on #601
dejando este issue libre

[2020-12-20 22:06] fzuccolo commented on #302
Sí por supuesto!

[2020-12-20 22:08] #900 closed

[2020-12-20 22:08] cmaureir commented on #897
dejando este issue libre

[2020-12-20 22:09] cmaureir commented on #890
dejando libre este issue

[2020-12-20 22:09] cmaureir commented on #886
dejandro libre este issue

[2020-12-20 22:10] cmaureir commented on #873
dejando libre este issue

[2020-12-20 22:10] #868 closed

[2020-12-20 22:10] cmaureir commented on #855
Como vas @CosmicTiger ?

[2020-12-20 22:11] Juerodriguez commented on #1027
Hola @cmaureir, buenisimo me gustaria comenzarlo en un nuevo PR

[2020-12-20 22:11] #853 closed

[2020-12-20 22:11] cmaureir commented on #827
como vas @0-Arngerdur-1 ?

[2020-12-20 22:13] cmaureir commented on #810
@h3ct0rjs podrías volver a crear un PR con solo tus cambios al archivo? o prefieres dejar este issue para otra persona?

[2020-12-20 22:14] #797 closed

[2020-12-20 22:14] #787 closed

[2020-12-20 22:15] cmaureir commented on #786
te podemos ayudar con algo @h3ct0rjs ?

[2020-12-20 22:15] #783 closed

[2020-12-20 22:15] cmaureir commented on #774
@Eric-Hernan te podemos ayudar con algo?

[2020-12-20 22:16] #769 closed

[2020-12-20 22:16] jmriddell commented on #1184
Hola, me gustaría trabajar en esta issue.

[2020-12-20 22:16] cmaureir commented on #688
dejando esta issue libre

[2020-12-20 22:17] cmaureir commented on #674
dejando esta issue libre

[2020-12-20 22:17] cmaureir commented on #1184
todo tuyo, es solo 1 entrada así que espero no tengas problemas :)

[2020-12-20 22:18] cmaureir commented on #1034
Recuerda ir subiendo de a poquito los avances @iam-agf así los vamos revisando juntos

[2020-12-20 22:21] cmaureir commented on #1031
Como vas @Yo-hanaPR ? pudiste comenzar a hacer la traducción?
Este archivo es *muy* largo, y quizás podrías mirar alguno con un "good first issue"

[2020-12-20 22:22] #1021 closed

[2020-12-20 22:23] cmaureir commented on #967
Hoy he hecho varios merge y también pings en los issues/pr sin actividad.
Quizás estaría bueno poder hacer la actualización pronto.

[2020-12-20 22:24] cmaureir commented on #928
dependemos de la docu oficial, voy a cerrar esta issue

[2020-12-20 22:24] #928 closed

[2020-12-20 22:24] cmaureir commented on #907
dejando libre este issue

[2020-12-20 22:25] cmaureir commented on #302
Si es tu primera issue, te recomiendo que puedas mirar otras que tengan menos entradas, pues esta es bastaaaaaante larga.
Te la dejo asignada igual, pero avisame si prefieres quedarte con una más pequeña

[2020-12-20 22:32] mondeja commented on #338
Uh que buen módulo, me lo pido :tada:
¿Me lo podéis asignar?

[2020-12-21 08:39] cmaureir commented on #338
gracias @mondeja :+1:

[2020-12-21 08:40] #1184 closed

[2020-12-21 17:24] dvidsilva commented on #349
@cmaureir si que pena! dame un ratillo y abro el PR!

[2020-12-21 20:45] gomezgleonardob commented on #873
Puedo retomar este :)

[2020-12-21 21:32] cmaureir commented on #873
dale @gomezgleonardob, éxito! :tada:

[2020-12-22 19:20] h3ct0rjs commented on #810
@cmaureir Hola, preferiria dejar estos cambios para alguien más.

[2020-12-22 22:58] jairock282 commented on #1181
Hola, me gustaría apoyar!

[2020-12-27 15:09] cmaureir commented on #810
Queda disponible este issue.

[2020-12-27 15:09] cmaureir commented on #1181
hola @jairock282, ya lo tienes asignado. Debería ser rápido pues solo son dos entradas. Avisanos si tienes problemas. éxito! :tada:

[2020-12-27 19:08] #824 closed

[2020-12-27 19:10] #599 closed

[2020-12-29 22:49] willian593 commented on #1030
saludos @cacrespo, ya tengo mi parte de la traducción del 259 al 529, hago no mas push, o cual es el paso a seguir

[2020-12-30 00:05] 0-Arngerdur-1 commented on #827
Hola, le pare por un tiempo, pero ya regrese de nuevo

[2020-12-30 03:44] Yo-hanaPR commented on #1031
Hola @cmaureir. Disculpa la tardanza en contestar. He tenido problemas con mi conexión a internet en las últimas semanas. Comencé la traducción de ese archivo hace un buen tiempo y ya tengo bastante adelantado. Tengo algunas dudas en cuanto a ciertas palabras y la traducción correcta que debo darles, sin embargo estoy tomando referencia con otros archivos ya traducidos.

[2021-01-01 16:32] David-Lor commented on #674
Hola! Me podría poner con esta traducción

[2021-01-03 01:22] jairock282 commented on #1182
Hola, me gustaría apoyar

[2021-01-03 20:47] cacrespo commented on #1030
@willian593 perdón por la demora en responder.
Sí! Dale nomás... en cuánto complete mi parte hacemos una revisión de todo junto.

[2021-01-06 12:16] cmaureir commented on #1182
Gracias @jairock282 :tada: éxito!

[2021-01-06 12:17] #1181 closed

[2021-01-06 12:17] cmaureir commented on #674
gracias @David-Lor :tada: éxito!

[2021-01-06 12:18] cmaureir commented on #1031
Sin problema @Yo-hanaPR ! Mucho éxito. Recuerda que puedes subir lo que tienes con un PR y marcarlo como draft ;)

[2021-01-06 12:19] cmaureir commented on #827
Genial, @0-Arngerdur-1  no es tan largo el archivo, así que de seguro lo acabas pronto :muscle: :tada:

[2021-01-07 15:47] framorac commented on #907
quisiera ayudar me asignan este issue, por favor?

[2021-01-07 22:41] tinchoram commented on #897
Hola! 😁 podría tomar este issue? me gustaría empezar a contribuir.

[2021-01-08 12:28] cmaureir commented on #897
Claro @tinchoram, todo tuyo. éxito!

[2021-01-08 12:29] cmaureir commented on #907
Genial!, mucho éxito @framorac

[2021-01-08 13:29] framorac commented on #907
Gracias.!!

[2021-01-08 21:39] GibranHL0 commented on #601
Hola, me gustaría que me asignaras este issue si todavía está disponible. 😄

[2021-01-08 21:42] 0-Arngerdur-1 commented on #827
Listo :+1:  :smile:

[2021-01-09 16:26] framorac commented on #907
Mandé PR para revisión, no sé cómo continuar, podrían orientarme por favor cuales son los pasos siguientes?

[2021-01-10 14:59] gomezgleonardob commented on #1175
Please assign me

[2021-01-10 20:56] cmaureir opened #1200 "readthedocs: 'extensions' is not defined"
Por alguna razón, hemos encontrado https://github.com/UPC/ravada/issues/890 en la CI de readthedocs, y actualmente los builds tienen el siguiente error:

[code]

Localmente `extensions` está definido, pero por alguna razón no en el CI de readthedocs.

[2021-01-10 21:21] cmaureir commented on #1175
Gracias @gomezgleonardob es bastante largo, asi que mucho éxito!

[2021-01-10 21:24] cmaureir commented on #601
Hecho @GibranHL0, mucho éxito!

[2021-01-10 21:31] cmaureir commented on #907
Los pasos siguientes son que algún revisor le dará un vistazo a tu archivo y dejará comentarios, cuando esté listo alguien le dará approve y se integrará.

[2021-01-11 13:24] #1200 closed

[2021-01-11 14:35] framorac commented on #1183
Favor asignarme este issue.

[2021-01-12 09:31] yeyeto2788 commented on #688
@cmaureir puedo encargarme de este issue?

[2021-01-12 20:30] cmaureir commented on #688
Claro, mucho éxito! @yeyeto2788

[2021-01-12 20:31] cmaureir commented on #1183
éxito @framorac !

[2021-01-12 20:49] framorac commented on #1183
Gracias. @cmaureir

[2021-01-13 07:32] yeyeto2788 commented on #810
@cmaureir puedo encargarme de este issue?

[2021-01-13 16:29] framorac commented on #1183
PR enviado.

[2021-01-13 16:45] framorac commented on #890
favor asignarme este issue.

[2021-01-17 12:30] #897 closed

[2021-01-17 12:31] #688 closed

[2021-01-17 12:32] cmaureir commented on #810
@yeyeto2788 vi que ya hiciste la traducción, pues ya tienes bastante experiencia. Intentemos dejar los "good first issue" para gente que está comenzando, quizás nos puedas dar una mano con archivos más largos ;)

[2021-01-17 12:38] #1183 closed

[2021-01-17 12:40] #1182 closed

[2021-01-17 13:06] #907 closed

[2021-01-18 07:35] yeyeto2788 commented on #810
@cmaureir Got it! Gracias igualmente.

[2021-01-18 16:34] framorac commented on #890
Favor asignarme este issue.

[2021-01-19 16:47] Kajachuan commented on #886
Buenas. Me gustaría trabajar en este issue.

[2021-01-19 21:11] #827 closed

[2021-01-19 21:12] #810 closed

[2021-01-19 21:14] cmaureir commented on #890
Hola @framorac, ya tienes dos "good first issue" mergeadas: https://github.com/python/python-docs-es/pulls?q=is%3Apr+is%3Amerged+author%3Aframorac+ te parece si dejamos este archivo para alguien que esté comenzando?
Acá puedes ver todas las issues abiertas que no tienen a nadie asignado y que no tienen ese label: https://github.com/python/python-docs-es/issues?q=is%3Aissue+is%3Aopen+-label%3A%22go

[2021-01-19 21:21] cmaureir commented on #886
Claro @Kajachuan, mucho éxito!

[2021-01-19 21:43] framorac commented on #890
perfecto, @cmaureir tomo otro.

[2021-01-19 21:45] framorac commented on #506
@cmaureir favor asignarme este issue. Y una consulta, como marco un PR como DRAFT? agrego un label?. Esto para ir generando commits de avance.

[2021-01-20 20:33] cmaureir commented on #506
Cuando lo vas a abrir deberías tener la opción, de lo contrario, cuando abras el PR existe una opción en la interfaz. Si me etiquetas cuando subas el PR te lo puedo transformar a draft y te digo donde era ;)

[2021-01-20 20:34] #338 closed

[2021-01-21 14:43] framorac commented on #506
Entiendo, lo hare cuando mande el primer PR. Gracias.

[2021-01-21 21:40] #886 closed

[2021-01-22 01:42] Kajachuan commented on #890
Hola @cmaureir. Quería consultarte si puedo trabajar en este issue.

[2021-01-22 09:37] cmaureir commented on #890
Claro @Kajachuan ya con este segundo good first issue te graduas :)

[2021-01-25 19:46] Kajachuan commented on #468
Hola @cmaureir. Quería saber si puedo trabajar en esta issue.

[2021-02-01 19:09] #890 closed

[2021-02-01 20:22] cmaureir commented on #468
@Kajachuan todo tuyo! Muchas gracias!

[2021-02-01 21:32] juansemarquez commented on #855
Es un archivo breve, y lleva más de 3 meses sin actividad... Si no se oponen, me gustaría contribuir aquí, ya que hubo varios cambios en CI desde mi última intervención, y me sirve para ponerme a tono antes de abordar un archivo más extenso. ¡Gracias!

[2021-02-02 11:34] cacrespo commented on #855
Hola @juansemarquez! Genial que lo quieras tomar. Dale para adelante y cualquier inconveniente pregunta sin problemas. 🚀

[2021-02-02 11:35] juansemarquez commented on #855
Perfecto. ¡Gracias!

[2021-02-08 11:02] #855 closed

[2021-02-16 20:44] #774 closed

[2021-02-19 14:43] AdolfoVillalobos commented on #786
Hola a todos. Como van con esto? Me encantaría contribuir con este issue, en caso de que aun este inconcluso. Encuentro genial el proyecto, y creo seria una buena oportunidad para familiarizarme con el flujo de trabajo.

Saludos!

[2021-02-19 15:46] cacrespo commented on #786
@AdolfoVillalobos genial!!! Actualmente estamos bastante atrasados con las revisiones. Sería estupendo si pudieras colaborar en esa tarea. Si puedes, súmate al grupo en Telegram y lo vamos conversando.

[2021-02-19 16:51] AdolfoVillalobos commented on #786
@cacrespo Excelente, me acabo de incorporar al grupo. Lo conversamos por esa vía!

Saludos.

[2021-02-20 20:54] #467 closed

[2021-02-22 14:46] #786 closed

[2021-02-28 16:04] #302 closed

[2021-03-08 15:47] #306 closed

[2021-03-18 17:04] #468 closed

[2021-03-19 14:07] humitos opened #1221 "Review Sphinx build problem"
I had to remove these two paragraphs, https://github.com/python/python-docs-es/pull/1220/files#diff-76e825af3419a1d9a7d6f11b9073a2f39bfa86a97d9534d275ecb28d9b8c1116L79-L101

because I was receiving

[code]

all the time and that made the build to fail.

We will need to re-add those paragraphs and find out a solution.

[2021-03-19 18:16] #315 closed

[2021-03-19 18:22] #513 closed

[2021-03-19 18:28] #888 closed

[2021-03-19 18:41] #519 closed

[2021-03-19 19:08] #877 closed

[2021-03-19 19:38] #465 closed

[2021-03-19 22:15] #304 closed

[2021-03-19 22:33] #873 closed

[2021-03-19 22:39] #674 closed

[2021-03-19 23:49] #601 closed

[2021-03-19 23:49] #1031 closed

[2021-03-20 11:59] humitos commented on #1221
I think I found something weird at Sphinx level. I put a pdb at this line https://github.com/sphinx-doc/sphinx/blob/72ad5f2a98c60d2b1cd856b6b9057ac5b5c85edd/sphinx/transforms/i18n.py#L402 and this called my attention

[code]

Note that the `node.rawsource` only have one `:ref:` but the `old_xrefs` shows 2 references and they are completely different 🤔. On the other hand, `patch` node (the translat

[2021-03-20 13:58] #323 closed

[2021-03-20 14:11] #265 closed

[2021-03-20 14:55] #340 closed

[2021-03-20 15:37] #1028 closed

[2021-03-20 21:16] humitos commented on #1221
looks like a matching problem: `old_xrefs` contains the references of the next paragraph in the `.po` file (from `#: ../Doc/library/sys.rst:40` instead of `#: ../Doc/library/sys.rst:38`). This paragraph is "the content" of the directive `.. audit-event::`
I found the exact same situation happens in https://github.com/python/cpython/blob/e8e341993e3f80a3c456fb8e0219530c93c13151/Doc/c-api/sys.rst#L3

[2021-03-21 10:54] cmaureir commented on #21
Suena genial, mirando el código del bot noté que está más relacionado con funcionalidades de transifex, que al final decidimos de no utilizar. ¿Hay algún feature en particular que piensen que podría ayudarnos?
Sería genial tener un bot más completo, ya que actualmente el que tenemos solo cubre lo siguiente:
* Avisa por cada PR nuevo con un mensaje al grupo de telegram,
* Avisa cada vez que hay un

[2021-03-21 10:55] cmaureir commented on #51
Pues yo creo que si, la página de FAQ ya tiene bastante material

[2021-03-21 10:55] #51 closed

[2021-03-21 10:58] cmaureir commented on #82
Pues yo creo que si, voy a cerrarlo y si sienten que se puede mejorar o continuar la discusión, lo podemos reabrir :)

[2021-03-21 10:58] #82 closed

[2021-03-21 11:00] cmaureir commented on #83
Cerrando porque la memoria ya está en funcionamiento hace tiempo. Si hay que mejorarla o agregar un flujo de trabajo distinto, abrimos esto sin problemas.

[2021-03-21 11:00] #83 closed

[2021-03-21 11:01] cmaureir commented on #259
Ya que hiciste el cambio a 3.9, yo creo que no vale la pena mantener este issue abierto.

[2021-03-21 11:01] #259 closed

[2021-03-21 11:05] cmaureir commented on #339
@jaumemy al final pudiste traducir algo de acá? Si no, no pasa nada es solo para saber si te animas a seguir a cargo o si lo dejamos libre.

[2021-03-21 11:05] cmaureir commented on #506
Hola @framorac, si le das el último empujón al archivo, yo te lo podría corregir asi lo mergeamos pronto :muscle:

[2021-03-21 11:06] cmaureir commented on #349
@dvidsilva solo para saber... te animas a finalizar el archivo? (quizás por estos días tienes un poco más de tiempo).
Si no, no pasa nada y lo podemos ir finalizando :)

[2021-03-21 11:08] cmaureir commented on #348
@aroquega ojalá tengas tiempo de acabar lo que queda, que no es mucho y ya has hecho gran cantidad del trabajo! Si en algún momento te quedas sin tiempo, avisanos así lo tomamos y acabamos :tada:

[2021-03-21 11:08] #911 closed

[2021-03-21 11:12] cmaureir commented on #967
Pues veo que ya hemos cubierto todos los puntos para este issue, asi que la cierro (pensaba que la docu no estaba actualizada, pero si :P) Gracias :tada:

[2021-03-21 11:12] #967 closed

[2021-03-21 11:14] cmaureir commented on #1027
Hola @Juerodriguez, ¿Cómo vas con el archivo? Si te quedaste sin tiempo, sería muy importante que compartieras lo que  llevas, para que alguien más lo pueda continuar. Si no tuviste tiempo, no te preocupes, podemos dejar libre este issue para otra persona.

[2021-03-21 11:15] cmaureir commented on #1030
Se cerró gracias al trabajo conjunt ode @willian593 y @cacrespo :tada:

[2021-03-21 11:15] #1030 closed

[2021-03-21 11:16] cmaureir commented on #1033
@josephLSalgado si en algún momento te quedas sin tiempo y no puedes seguir con este archivo tan grande, si nos dices lo podemos acabar y mergear pronto!

[2021-03-21 11:17] cmaureir commented on #1034
@iam-agf ¿Cómo vas? Si no puedes seguir, sería genial que subas lo que hiciste.

[2021-03-21 11:18] cmaureir commented on #1175
@gomezgleonardob ¿has podido traducir algunas entradas? Si es así, puedes subirlas asi vamos finalizando el archivo.

[2021-03-21 12:12] alcides29 commented on #1179
Puedo encargarme de esta traducción

[2021-03-21 12:47] cmaureir commented on #1179
Clado @alcides29 :tada: mucho éxito!

[2021-03-21 14:44] jaumemy commented on #339
Hola @cmaureir !

Sí, mil disculpas pero he estado en muchas otras cosas.
Déjalo libre y cuando esté un poco más liberado ya buscaré otra issue en qué aportar.

Un saludo!

[2021-03-21 15:28] framorac commented on #506
por supuesto, estoy con carga laboral pero apenas pueda termino. 🤘

[2021-03-21 20:51] iam-agf commented on #1034
Dame chance llego a la semana santa (dentro de siete días) y corrijo los detalles del último push que hice en mi repo, porque ando en otra computadora y con esto del confinamiento no tengo acceso a ella, por eso no lo he tocado :(

[2021-03-21 21:48] cmaureir opened #1222 "Integración canal de Telegram con el servidor Discord "Python en Español""
Hola gente :wave:,

Hace un tiempo que varias comunidades de habla hispana han estado empujando una nueva iniciativa llamada **Python en Español**, siendo el primer paso haber renombrado el canal más grande de telegram ("Python España") para utilizar el mismo nombre.
Ya que telegram no escala para poder tener más de 6000 personas hablando temas distintos, quisimos mirar otras plataformas que nos a

[2021-03-21 22:13] cacrespo commented on #1222
Me parece estupenda la idea! 🚀 🚀 🚀
Agregaría algún mensaje en la bienvenida al grupo de Telegram para aclarar que se está reproduciendo el contenido en Discord y todo el mundo esté al tanto.

[2021-03-21 22:59] josephLSalgado commented on #1222
Interesante mientras estás en discord por todos los canales del server incluyendo uno para el de telegram :)

[2021-03-21 23:01] alcides29 commented on #1222
Me parece buena la integración!

[2021-03-21 23:21] josephLSalgado commented on #1033
Justo terminé un curso y no podía seguir avanzando, pero en cuanto tenga algo más de la traducción hago commit.

[2021-03-22 09:04] raulcd commented on #1222
Considero que es una buena idea. Puede ayudar a conocer el proyecto incluso a más gente.

[2021-03-22 15:29] cmaureir commented on #1222
Gracias por sus comentarios :)
A penas tenga la integración andando, les avisaré!

[2021-03-22 15:40] framorac commented on #1222
Me parece genial 👌

[2021-03-22 15:43] Juerodriguez commented on #1027
Hola Cristian, si me parece perfecto dejar esta issue al 31% la idea era
que se corrija y se haga el pull asi dejo esta issue

El dom, 21 de mar. de 2021 a la(s) 08:15, Cristián Maureira-Fredes (
***@***.***) escribió:

[2021-03-22 15:46] Juerodriguez commented on #1027
El error que me sale en el verificador de python-docs-es, es el
siguiente, NameError:
name 'extensions' is not defined

El lun, 22 de mar. de 2021 a la(s) 12:43, Juan Elias Rodriguez (
***@***.***) escribió:

[2021-03-22 18:38] eamanu commented on #1222
Apoyo!!!

[2021-03-22 18:39] eamanu commented on #1222
+1  por una integración con IRC :D

[2021-03-22 19:30] cmaureir commented on #1222
Pues ya está funcionando, así que cerraré esta issue :man_dancing:

[2021-03-22 19:30] #1222 closed

[2021-03-22 19:38] cmaureir commented on #1027
Tienes que actualizar tu rama local con los últimos cambios que se han hecho.
Igual puedes subir los cambios que tienes y yo me encargo de dejar la rama funcionando ;)

[2021-03-22 20:03] cacrespo commented on #1180
Buenas! Quisiera tomar este archivo.

[2021-03-23 02:53] JoelBuenrostro commented on #1177
Hola, me gustaría apoyar con esta traducción

[2021-03-24 08:35] TiaIvonne commented on #1174
Hola! Me gustaria colaborar con la traducción.

[2021-03-24 13:44] cacrespo commented on #1174
@TiaIvonne Éxitos con la traducción!

[2021-03-24 13:45] cacrespo commented on #1177
@JoelBuenrostro adelante!! Que lo disfrutes 😄

[2021-03-26 14:29] TiaIvonne commented on #1174
muchas gracias, en esto estoy. Tengo una pregunta, el texto es bastante extenso, puedo ir subiendo de a poco los avances o es preferible subir todo de una vez cuando ya este listo?  Gracias =)

[2021-03-26 15:34] cacrespo commented on #1174
Como prefieras. Yo creo que conviene que vayas subiendo los avances así si hay algún problema lo vamos resolviendo y no lo arrastras hasta el final.

[2021-03-26 20:24] mmmarcos commented on #339
Hola! Nuevo por aquí, me gustaría comenzar a traducir este archivo si sigue sin estar asignado :)

[2021-03-26 20:30] cacrespo commented on #339
Hola @mmmarcos!! Asignado. 🚀🚀🚀
Feliz traducción! 😄

[2021-03-26 20:58] mmmarcos commented on #339
OK, gracias! Es sobre la branch 3.9?

[2021-03-26 22:07] cacrespo commented on #339
Así es. Cualquier duda que tengas puedes escribir en el grupo de Telegram también.

[2021-04-01 20:47] #348 closed

[2021-04-10 17:12] mmmarcos commented on #339
La traducción avanza a paso lento pero seguro 😄

Este es el PR (en draft por el momento) : #1223

[2021-04-19 00:42] josephLSalgado commented on #1176
Hola, me gustaría trabajar con este issue :) 👍

[2021-04-19 01:47] cacrespo commented on #1176
Adelante @josephLSalgado, que lo disfrutes!! 🚀

[2021-04-24 18:36] Seluj78 opened #1228 "Using PyDocteur for python-docs-es ?"
Holà a todos !

I'm one of the maintainers and translators of `python-docs-fr` and I also build tools that you might use for your translation such as `potodo`.

I have a new tool to present to you, that might interest you ?

It's called PyDocteur (PYthon DOCumentation and teur from the word `doctor` in french, doctEUR 😉)

What's it for ? Well if you contributed to `cpython`, you know they have a t

[2021-04-24 19:28] cacrespo commented on #1228
Hi Jules!
Merci beaucoup de nous avoir écrit!

I will forward the message to the telegram group to give it greater visibility.

[2021-04-25 21:26] mmmarcos commented on #339
Traducción finalizada! 🙌

El PR ya no está mas en draft --> https://github.com/python/python-docs-es/pull/1223

[2021-04-29 17:24] mxarc commented on #1178
Me gustaría trabajar en este issue @cmaureir

[2021-05-01 19:32] cacrespo commented on #1178
💪💪💪 Que lo disfrutes!
Cualquier duda, pregunta sin problemas.

[2021-05-09 21:24] mmmarcos commented on #339
Hola, ya subí todas las correcciones/sugerencias de @eamanu (gracias por el review!)

El PR debería poder mergearse 👍

cc @cacrespo

[2021-05-17 16:17] mmmarcos commented on #317
Hola! Nadie trabajando en esta traducción ? yo puedo dedicarle un poco de tiempo :)

[2021-05-17 17:26] cmaureir commented on #317
Todo tuyo @mmmarcos  ;)
Gracias por el interés y nos avisas si tienes alguna pregunta!

[2021-05-23 12:48] #339 closed

[2021-07-18 21:10] mmmarcos commented on #317
Traducción terminada!
/cc @cmaureir

[2021-08-02 08:32] TiaIvonne commented on #1174
Hola, Estuve de vacaciones el pasado mes de Julio por lo que no avance con traducciones. Este mes ya estoy de regreso para continuar. :)

[2021-08-03 11:42] #1061 closed

[2021-08-03 12:00] cmaureir commented on #759
Pues yo creo que activar el entorno como requerimiento para que funcione `make build` no es mucho pedir, mejor cerramos esto y si alguien lo considera muy importante, lo podemos reabrir

[2021-08-03 12:00] #759 closed

[2021-08-03 16:31] #317 closed

[2021-08-04 12:14] cmaureir commented on #1150
Al final lo que hice fue modificar el enlace, para bypassearlo, pero dejé un comentario
[code]

[2021-08-04 14:56] #285 closed

[2021-08-04 15:19] #506 closed

[2021-08-06 20:15] cmaureir opened #1260 "Translate 'c-api/call.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.9/c-api/call.html once translated.
Meanwhile, the English version is shown.

Current stats for `c-api/call.po`:

* Fuzzy: 0
* Percent translated: 0.0%
* Entries: 0 / 96
* Untranslated: 96

Please, comment here if you want this file to be assigned to you and an member will assig

[2021-08-06 20:15] cmaureir opened #1261 "Translate 'library/devmode.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.9/library/devmode.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/devmode.po`:

* Fuzzy: 0
* Percent translated: 0.0%
* Entries: 0 / 47
* Untranslated: 47

Please, comment here if you want this file to be assigned to you and an member

[2021-08-06 20:15] cmaureir opened #1262 "Translate 'library/graphlib.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.9/library/graphlib.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/graphlib.po`:

* Fuzzy: 0
* Percent translated: 0.0%
* Entries: 0 / 32
* Untranslated: 32

Please, comment here if you want this file to be assigned to you and an membe

[2021-08-06 20:15] cmaureir opened #1263 "Translate 'library/dialog.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.9/library/dialog.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/dialog.po`:

* Fuzzy: 0
* Percent translated: 0.0%
* Entries: 0 / 57
* Untranslated: 57

Please, comment here if you want this file to be assigned to you and an member wi

[2021-08-06 20:15] cmaureir opened #1264 "Translate 'library/zoneinfo.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.9/library/zoneinfo.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/zoneinfo.po`:

* Fuzzy: 0
* Percent translated: 0.0%
* Entries: 0 / 72
* Untranslated: 72

Please, comment here if you want this file to be assigned to you and an membe

[2021-08-06 20:20] gomezgleonardob commented on #1261
Please assign me

[2021-08-06 20:21] gomezgleonardob commented on #1264
Please assign me

[2021-08-06 20:37] cacrespo opened #1266 "orden alfabético roto en el glosario"
Revisando la traducción de `glosary.po` me di cuenta que al traducir rompimos el orden alfabético (que sí tiene en la versión original). Y no me gusta nada ¿?
Es este [archivo](https://github.com/python/python-docs-es/blob/3.9/glossary.po).

¿Cómo dicen de encararlo? Creo que sería mejor agregar las palabras originales al comienzo de cada entrada traducida.

[2021-08-06 22:29] #738 closed

[2021-08-07 22:20] crisortiz92 commented on #1262
Hello, I can translate it.

[2021-08-07 22:29] cmaureir commented on #1262
todo tuyo @crisortiz92 mucho éxito :tada:

[2021-08-08 06:54] fmontalvoo commented on #1263
Assign me the translation of this file, please

[2021-08-08 16:51] cacrespo commented on #1263
Hecho. Feliz traducción! 🥳

[2021-08-08 16:52] cacrespo commented on #1264
Ahora sí! 😄

[2021-08-09 08:48] cmaureir opened #1279 "Translate 'library/http.client.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.9/library/http.client.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/http.client.po`:

* Fuzzy: 0
* Percent translated: 94.8%
* Entries: 91 / 96
* Untranslated: 5

Please, comment here if you want this file to be assigned to you and a

[2021-08-09 08:48] cmaureir opened #1280 "Translate 'library/shutil.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.9/library/shutil.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/shutil.po`:

* Fuzzy: 8
* Percent translated: 98.0%
* Entries: 144 / 147
* Untranslated: 3

Please, comment here if you want this file to be assigned to you and an member

[2021-08-09 08:48] cmaureir opened #1281 "Translate 'library/io.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.9/library/io.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/io.po`:

* Fuzzy: 18
* Percent translated: 97.5%
* Entries: 233 / 239
* Untranslated: 6

Please, comment here if you want this file to be assigned to you and an member will a

[2021-08-09 08:48] cmaureir opened #1282 "Translate 'library/tracemalloc.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.9/library/tracemalloc.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/tracemalloc.po`:

* Fuzzy: 4
* Percent translated: 94.5%
* Entries: 137 / 145
* Untranslated: 8

Please, comment here if you want this file to be assigned to you and

[2021-08-09 08:48] cmaureir opened #1283 "Translate 'library/subprocess.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.9/library/subprocess.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/subprocess.po`:

* Fuzzy: 6
* Percent translated: 98.5%
* Entries: 263 / 267
* Untranslated: 4

Please, comment here if you want this file to be assigned to you and a

[2021-08-09 08:48] cmaureir opened #1284 "Translate 'library/functools.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.9/library/functools.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/functools.po`:

* Fuzzy: 2
* Percent translated: 87.5%
* Entries: 70 / 80
* Untranslated: 10

Please, comment here if you want this file to be assigned to you and an m

[2021-08-09 08:48] cmaureir opened #1285 "Translate 'library/profile.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.9/library/profile.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/profile.po`:

* Fuzzy: 0
* Percent translated: 98.7%
* Entries: 153 / 155
* Untranslated: 2

Please, comment here if you want this file to be assigned to you and an memb

[2021-08-09 08:48] cmaureir opened #1286 "Translate 'library/string.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.9/library/string.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/string.po`:

* Fuzzy: 4
* Percent translated: 96.6%
* Entries: 172 / 178
* Untranslated: 6

Please, comment here if you want this file to be assigned to you and an member

[2021-08-09 08:48] cmaureir opened #1287 "Translate 'library/enum.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.9/library/enum.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/enum.po`:

* Fuzzy: 5
* Percent translated: 95.7%
* Entries: 179 / 187
* Untranslated: 8

Please, comment here if you want this file to be assigned to you and an member wil

[2021-08-09 08:48] cmaureir opened #1288 "Translate 'library/random.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.9/library/random.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/random.po`:

* Fuzzy: 11
* Percent translated: 82.1%
* Entries: 78 / 95
* Untranslated: 17

Please, comment here if you want this file to be assigned to you and an member

[2021-08-09 08:48] cmaureir opened #1289 "Translate 'library/multiprocessing.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.9/library/multiprocessing.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/multiprocessing.po`:

* Fuzzy: 8
* Percent translated: 98.6%
* Entries: 510 / 517
* Untranslated: 7

Please, comment here if you want this file to be assigned to

[2021-08-09 08:48] cmaureir opened #1290 "Translate 'library/http.server.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.9/library/http.server.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/http.server.po`:

* Fuzzy: 1
* Percent translated: 97.7%
* Entries: 85 / 87
* Untranslated: 2

Please, comment here if you want this file to be assigned to you and a

[2021-08-09 08:48] cmaureir opened #1291 "Translate 'library/test.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.9/library/test.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/test.po`:

* Fuzzy: 8
* Percent translated: 90.1%
* Entries: 255 / 283
* Untranslated: 28

Please, comment here if you want this file to be assigned to you and an member wi

[2021-08-09 08:48] cmaureir opened #1292 "Translate 'library/pathlib.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.9/library/pathlib.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/pathlib.po`:

* Fuzzy: 25
* Percent translated: 97.0%
* Entries: 197 / 203
* Untranslated: 6

Please, comment here if you want this file to be assigned to you and an mem

[2021-08-09 08:48] cmaureir opened #1293 "Translate 'library/time.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.9/library/time.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/time.po`:

* Fuzzy: 5
* Percent translated: 99.1%
* Entries: 232 / 234
* Untranslated: 2

Please, comment here if you want this file to be assigned to you and an member wil

[2021-08-09 08:48] cmaureir opened #1294 "Translate 'library/signal.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.9/library/signal.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/signal.po`:

* Fuzzy: 0
* Percent translated: 97.5%
* Entries: 119 / 122
* Untranslated: 3

Please, comment here if you want this file to be assigned to you and an member

[2021-08-09 08:49] cmaureir opened #1295 "Translate 'library/hashlib.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.9/library/hashlib.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/hashlib.po`:

* Fuzzy: 1
* Percent translated: 98.6%
* Entries: 137 / 139
* Untranslated: 2

Please, comment here if you want this file to be assigned to you and an memb

[2021-08-09 08:49] cmaureir opened #1296 "Translate 'library/os.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.9/library/os.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/os.po`:

* Fuzzy: 20
* Percent translated: 97.2%
* Entries: 773 / 795
* Untranslated: 22

Please, comment here if you want this file to be assigned to you and an member will

[2021-08-09 08:49] cmaureir opened #1297 "Translate 'library/bz2.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.9/library/bz2.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/bz2.po`:

* Fuzzy: 0
* Percent translated: 97.0%
* Entries: 65 / 67
* Untranslated: 2

Please, comment here if you want this file to be assigned to you and an member will as

[2021-08-09 08:49] cmaureir opened #1298 "Translate 'library/json.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.9/library/json.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/json.po`:

* Fuzzy: 3
* Percent translated: 97.3%
* Entries: 143 / 147
* Untranslated: 4

Please, comment here if you want this file to be assigned to you and an member wil

[2021-08-09 08:49] cmaureir opened #1299 "Translate 'library/pkgutil.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.9/library/pkgutil.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/pkgutil.po`:

* Fuzzy: 1
* Percent translated: 78.4%
* Entries: 40 / 51
* Untranslated: 11

Please, comment here if you want this file to be assigned to you and an membe

[2021-08-09 08:49] cmaureir opened #1300 "Translate 'library/types.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.9/library/types.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/types.po`:

* Fuzzy: 3
* Percent translated: 91.8%
* Entries: 78 / 85
* Untranslated: 7

Please, comment here if you want this file to be assigned to you and an member wil

[2021-08-09 08:49] cmaureir opened #1301 "Translate 'library/http.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.9/library/http.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/http.po`:

* Fuzzy: 4
* Percent translated: 97.0%
* Entries: 197 / 203
* Untranslated: 6

Please, comment here if you want this file to be assigned to you and an member wil

[2021-08-09 08:49] cmaureir opened #1302 "Translate 'library/ftplib.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.9/library/ftplib.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/ftplib.po`:

* Fuzzy: 6
* Percent translated: 95.5%
* Entries: 63 / 66
* Untranslated: 3

Please, comment here if you want this file to be assigned to you and an member w

[2021-08-09 08:49] cmaureir opened #1303 "Translate 'library/exceptions.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.9/library/exceptions.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/exceptions.po`:

* Fuzzy: 1
* Percent translated: 98.5%
* Entries: 128 / 130
* Untranslated: 2

Please, comment here if you want this file to be assigned to you and a

[2021-08-09 08:49] cmaureir opened #1304 "Translate 'library/urllib.request.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.9/library/urllib.request.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/urllib.request.po`:

* Fuzzy: 1
* Percent translated: 97.5%
* Entries: 271 / 278
* Untranslated: 7

Please, comment here if you want this file to be assigned to y

[2021-08-09 08:49] cmaureir opened #1305 "Translate 'library/urllib.parse.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.9/library/urllib.parse.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/urllib.parse.po`:

* Fuzzy: 13
* Percent translated: 97.2%
* Entries: 141 / 145
* Untranslated: 4

Please, comment here if you want this file to be assigned to you

[2021-08-09 08:49] cmaureir opened #1306 "Translate 'library/logging.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.9/library/logging.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/logging.po`:

* Fuzzy: 0
* Percent translated: 96.9%
* Entries: 310 / 320
* Untranslated: 10

Please, comment here if you want this file to be assigned to you and an mem

[2021-08-09 08:49] cmaureir opened #1307 "Translate 'library/imaplib.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.9/library/imaplib.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/imaplib.po`:

* Fuzzy: 6
* Percent translated: 96.3%
* Entries: 105 / 109
* Untranslated: 4

Please, comment here if you want this file to be assigned to you and an memb

[2021-08-09 08:49] cmaureir opened #1308 "Translate 'library/ipaddress.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.9/library/ipaddress.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/ipaddress.po`:

* Fuzzy: 6
* Percent translated: 97.2%
* Entries: 140 / 144
* Untranslated: 4

Please, comment here if you want this file to be assigned to you and an

[2021-08-09 08:49] cmaureir opened #1309 "Translate 'library/idle.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.9/library/idle.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/idle.po`:

* Fuzzy: 5
* Percent translated: 96.4%
* Entries: 271 / 281
* Untranslated: 10

Please, comment here if you want this file to be assigned to you and an member wi

[2021-08-09 08:49] cmaureir opened #1310 "Translate 'library/sys.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.9/library/sys.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/sys.po`:

* Fuzzy: 5
* Percent translated: 96.5%
* Entries: 384 / 398
* Untranslated: 14

Please, comment here if you want this file to be assigned to you and an member will

[2021-08-09 08:49] cmaureir opened #1311 "Translate 'library/socket.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.9/library/socket.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/socket.po`:

* Fuzzy: 0
* Percent translated: 41.9%
* Entries: 134 / 320
* Untranslated: 186

Please, comment here if you want this file to be assigned to you and an memb

[2021-08-09 08:49] cmaureir opened #1312 "Translate 'library/typing.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.9/library/typing.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/typing.po`:

* Fuzzy: 19
* Percent translated: 72.3%
* Entries: 211 / 292
* Untranslated: 81

Please, comment here if you want this file to be assigned to you and an memb

[2021-08-09 08:49] cmaureir opened #1313 "Translate 'library/smtplib.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.9/library/smtplib.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/smtplib.po`:

* Fuzzy: 0
* Percent translated: 98.2%
* Entries: 107 / 109
* Untranslated: 2

Please, comment here if you want this file to be assigned to you and an memb

[2021-08-09 08:49] cmaureir opened #1314 "Translate 'library/hmac.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.9/library/hmac.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/hmac.po`:

* Fuzzy: 0
* Percent translated: 92.6%
* Entries: 25 / 27
* Untranslated: 2

Please, comment here if you want this file to be assigned to you and an member will

[2021-08-09 08:49] cmaureir opened #1315 "Translate 'library/importlib.metadata.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.9/library/importlib.metadata.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/importlib.metadata.po`:

* Fuzzy: 9
* Percent translated: 95.1%
* Entries: 39 / 41
* Untranslated: 2

Please, comment here if you want this file to be assigne

[2021-08-09 08:49] cmaureir opened #1316 "Translate 'library/gc.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.9/library/gc.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/gc.po`:

* Fuzzy: 1
* Percent translated: 92.7%
* Entries: 51 / 55
* Untranslated: 4

Please, comment here if you want this file to be assigned to you and an member will assi

[2021-08-09 08:49] cmaureir opened #1317 "Translate 'library/logging.handlers.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.9/library/logging.handlers.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/logging.handlers.po`:

* Fuzzy: 5
* Percent translated: 98.5%
* Entries: 257 / 261
* Untranslated: 4

Please, comment here if you want this file to be assigned

[2021-08-09 08:49] cmaureir opened #1318 "Translate 'library/stdtypes.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.9/library/stdtypes.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/stdtypes.po`:

* Fuzzy: 12
* Percent translated: 91.8%
* Entries: 864 / 941
* Untranslated: 77

Please, comment here if you want this file to be assigned to you and an

[2021-08-09 08:49] cmaureir opened #1319 "Translate 'library/ast.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.9/library/ast.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/ast.po`:

* Fuzzy: 0
* Percent translated: 30.7%
* Entries: 58 / 189
* Untranslated: 131

Please, comment here if you want this file to be assigned to you and an member will

[2021-08-09 08:49] cmaureir opened #1320 "Translate 'library/functions.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.9/library/functions.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/functions.po`:

* Fuzzy: 10
* Percent translated: 98.4%
* Entries: 371 / 377
* Untranslated: 6

Please, comment here if you want this file to be assigned to you and an

[2021-08-09 08:49] cmaureir opened #1321 "Translate 'library/math.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.9/library/math.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/math.po`:

* Fuzzy: 4
* Percent translated: 83.1%
* Entries: 98 / 118
* Untranslated: 20

Please, comment here if you want this file to be assigned to you and an member wil

[2021-08-09 08:49] cmaureir opened #1322 "Translate 'howto/descriptor.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.9/howto/descriptor.html once translated.
Meanwhile, the English version is shown.

Current stats for `howto/descriptor.po`:

* Fuzzy: 34
* Percent translated: 40.7%
* Entries: 77 / 189
* Untranslated: 112

Please, comment here if you want this file to be assigned to you and an

[2021-08-09 08:49] cmaureir opened #1323 "Translate 'whatsnew/3.9.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.9/whatsnew/3.9.html once translated.
Meanwhile, the English version is shown.

Current stats for `whatsnew/3.9.po`:

* Fuzzy: 0
* Percent translated: 0.0%
* Entries: 0 / 363
* Untranslated: 363

Please, comment here if you want this file to be assigned to you and an member will

[2021-08-09 08:49] cmaureir opened #1324 "Translate 'whatsnew/3.8.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.9/whatsnew/3.8.html once translated.
Meanwhile, the English version is shown.

Current stats for `whatsnew/3.8.po`:

* Fuzzy: 7
* Percent translated: 99.1%
* Entries: 450 / 454
* Untranslated: 4

Please, comment here if you want this file to be assigned to you and an member wil

[2021-08-09 08:49] cmaureir opened #1325 "Translate 'whatsnew/changelog.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.9/whatsnew/changelog.html once translated.
Meanwhile, the English version is shown.

Current stats for `whatsnew/changelog.po`:

* Fuzzy: 0
* Percent translated: 0.0%
* Entries: 0 / 5106
* Untranslated: 5106

Please, comment here if you want this file to be assigned to you and

[2021-08-09 08:49] cmaureir opened #1326 "Translate 'whatsnew/3.7.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.9/whatsnew/3.7.html once translated.
Meanwhile, the English version is shown.

Current stats for `whatsnew/3.7.po`:

* Fuzzy: 6
* Percent translated: 99.6%
* Entries: 554 / 556
* Untranslated: 2

Please, comment here if you want this file to be assigned to you and an member wil

[2021-08-09 08:56] cmaureir commented on #1325
Con este me jubilo

[2021-08-09 12:50] rtobar commented on #1321
Please count me in, although I'll be able tackle this next week onwards.

[2021-08-09 13:08] cmaureir commented on #1321
No worries :tada:

[2021-08-09 13:13] javoweb commented on #1318
Count on me.

[2021-08-09 14:18] cmaureir commented on #1318
Good luck :tada:

[2021-08-09 20:31] javoweb commented on #1312
I can start with this next. :smiley:

[2021-08-10 08:07] cmaureir commented on #1312
amaziiiing :partying_face: :tada:

[2021-08-10 14:35] dcristobalh commented on #1315
count on me :)

[2021-08-11 14:39] #1315 closed

[2021-08-11 16:01] dcristobalh commented on #1317
Count on me!

[2021-08-11 16:35] cmaureir commented on #1313
amazing!

[2021-08-11 16:36] cmaureir commented on #1317
yay :tada:

[2021-08-12 17:36] #1287 closed

[2021-08-12 17:36] #1295 closed

[2021-08-12 17:36] #1301 closed

[2021-08-12 17:36] #1302 closed

[2021-08-12 17:36] #1303 closed

[2021-08-12 17:36] #1314 closed

[2021-08-12 17:36] #1316 closed

[2021-08-12 17:36] #1320 closed

[2021-08-12 18:37] #1313 closed

[2021-08-13 15:14] fmontalvoo commented on #1288
Por favor asígnenme la traducción de este archivo.

[2021-08-13 15:21] fmontalvoo commented on #1291
Por favor asígnenme la traducción de este archivo.

[2021-08-13 20:43] cacrespo commented on #1291
Que lo disfrutes! 😄

[2021-08-13 21:12] #1317 closed

[2021-08-13 21:13] cmaureir commented on #1288
buena suerte!

[2021-08-13 21:33] #1263 closed

[2021-08-15 08:51] rtobar commented on #1280
Please consider me for this one too, thanks.

[2021-08-15 10:34] dcristobalh commented on #1310
count on me! :)

[2021-08-15 10:35] dcristobalh commented on #1309
count on me please!

[2021-08-15 17:34] cmaureir commented on #1280
all yours

[2021-08-15 17:34] cmaureir commented on #1310
yay!

[2021-08-15 17:34] cmaureir commented on #1309
thanks @dcristobalh

[2021-08-15 22:48] #1260 closed

[2021-08-16 00:18] javoweb opened #1336 "pre-commit not able to run powrap"
`pre-commit` on a fresh install is not able to run `powrap`.

I got this error after first `pre-commit` run:

[code]
It looks like there is no `master` branch in `powrap` repo anymore.

[2021-08-16 10:54] #1336 closed

[2021-08-16 10:57] #1318 closed

[2021-08-16 13:38] #1312 closed

[2021-08-16 14:29] #1179 closed

[2021-08-16 18:51] #1177 closed

[2021-08-16 19:04] Alex0jk commented on #1296
Hola, me gustaría tomar esta traducción.

[2021-08-16 19:16] cmaureir commented on #1296
todo tuyo! :tada: éxito!

[2021-08-16 19:41] #1176 closed

[2021-08-17 02:50] rtobar commented on #1307
I can take care of this

[2021-08-17 09:26] #1280 closed

[2021-08-18 00:38] javoweb commented on #1300
Hola! Puedo ayudar con este archivo para concluir todos los de typing.

[2021-08-18 02:08] rtobar commented on #1294
I'll be doing this one

[2021-08-18 22:24] cmaureir commented on #1300
gracias @javoweb :tada:

[2021-08-18 22:25] #1321 closed

[2021-08-19 09:11] #1294 closed

[2021-08-19 14:09] #1261 closed

[2021-08-20 15:21] clacri commented on #1033
@cmaureir esta no se cerro automaticamente porque cambie el close message porque pensaba que la traduccion no estaba completa pero esta al 100%

[2021-08-21 15:45] rtobar commented on #1293
I'm on it.

[2021-08-21 16:26] rtobar commented on #1286
Mine please

[2021-08-21 17:03] rtobar opened #1352 "Problemas con pospell"
En versiones actuales de la rama 3.9 `pospell` falla al azar al analizar `whatsnew/3.5.po`, lo cual está bloqueando algunos PRs (pero no otros, dada la naturaleza intermitente del problema). Por ejemplo estas son dos corridas una justo después de la otra:

[code]

[2021-08-22 02:53] cacrespo commented on #1352
Estuve haciendo unas pruebas en #1346 impactando ajustes sobre dict.txt y sobre el .po en cuestión pero sin resultados positivos. 👎
Tal vez la traducción se hizo a partir de una rama desactualizada (o algo por el estilo).
#1354 tiene el mismo problema.

@clacri ¿se te ocurre algo?

[2021-08-22 15:55] rtobar commented on #1352
El problema al parecer es provocado por el hecho de que `Oberkich` aparece de dos formas distintas (`Oberkich` y `OberKirch`), pero sólo si las palabras aparecen en cierto orden en el diccionario.

Cada vez que se genera `dict.txt`, estas dos palabras aparecen en distinto lugares del archivo (porque `create_dict.py` loopea sobre un `set`, los cuales no especifican orden de iteración), lo que expli

[2021-08-23 00:51] javoweb commented on #1319
Hola! Puedo tomar esta si está libre.

[2021-08-23 11:38] #1324 closed

[2021-08-23 11:38] #1326 closed

[2021-08-23 12:08] cacrespo commented on #1352
Dejo constancia de lo que conversamos al respecto:
Dado que` OberKirch` / `Oberkirch` se refiere efectivamente al mismo apellido vamos a unificar en la traducción y de esa manera evitamos que fallen los tests sin alterar la configuración de pospell o hunspell.
Si están OK damos por cerrado el issue.

[2021-08-23 15:10] #1352 closed

[2021-08-23 15:39] #1286 closed

[2021-08-23 15:45] #1293 closed

[2021-08-23 17:26] rtobar commented on #1289
Para mi porfa

[2021-08-23 18:03] #1289 closed

[2021-08-24 01:59] rtobar commented on #1299
Mio

[2021-08-24 08:22] #1299 closed

[2021-08-24 08:23] #1307 closed

[2021-08-24 08:25] #1300 closed

[2021-08-24 13:27] rtobar commented on #1323
Yo voy a darle a este si no es problema

[2021-08-24 15:02] #1297 closed

[2021-08-29 03:02] rtobar commented on #1284
Este archivo ya parece estar totalmente traducido

[2021-08-29 03:03] rtobar commented on #1279
Este archivo parece ya estar totalmente traducido

[2021-08-31 07:55] #1285 closed

[2021-09-01 09:52] #1282 closed

[2021-09-02 06:30] #1298 closed

[2021-09-02 16:22] rtobar commented on #1322
Mine please

[2021-09-03 12:03] andresbermeoq commented on #1311
Hello @cmaureir... You could assign me this issue.

[2021-09-03 13:27] cacrespo commented on #1311
@andresbermeoq done!

[2021-09-03 17:24] andresbermeoq commented on #1311
@cacrespo ... I'm trying to fetch the project with my fork and inadvertently remove the assignment... Please, you'd assign me again.

[2021-09-03 20:19] cacrespo commented on #1311
Ningún problema! 😄

[2021-09-07 12:40] #1322 closed

[2021-09-17 20:54] #1311 closed

[2021-09-19 20:20] carmandorh commented on #1281
Quiero apoyar en traducir

[2021-09-19 21:56] cacrespo commented on #1281
Te asigno este issue @carmandorh. Escribe por cualquier duda que tengas.

[2021-09-24 17:13] #1291 closed

[2021-09-24 21:50] fmontalvoo commented on #1292
Por favor asígnenme la traducción de este archivo.

[2021-09-24 21:51] fmontalvoo commented on #1306
Por favor asígnenme la traducción de este archivo.

[2021-09-26 01:41] xochozomatli commented on #1325
I could give a hand with this one.

[2021-09-29 01:00] daniel692a commented on #1323
Yo puedo trabajar en esto

[2021-09-29 12:25] cacrespo commented on #1279
Contesto tarde pero seguro: efectivamente @rtobar le faltan traducir 5 entradas nomás.

[2021-09-29 12:29] cacrespo commented on #1292
Hola @fmontalvoo ! Por lo general tratamos de ir traduciendo un archivo a la vez (sobretodo para no agotar los "good first issue"). Si no me confundo ya tienes asignado un archivo.  😄
Te ayudo a cerrar el que estás trabajando y luego avanzamos sobre el resto ¿te parece? 💪

[2021-09-29 12:40] cacrespo commented on #1325
Hola @xochozomatli ! La verdad que este es un archivo super largo y aburrido que estamos tratando de traducir automáticamente. Tal vez es mucho más productivo si tomas algún otro archivo.
Sin embargo, si no te importa y quieres trabajarlo igual: puedes ir avanzando sobre este PR #1328

Cualquier duda que tengas, escribe sin problemas 😄

[2021-09-29 19:25] fmontalvoo commented on #1292
Hola @cacrespo. Claro, me parece bien.

[2021-09-30 01:19] xochozomatli commented on #1325
Gracias, @cacrespo . Veamos cuánto me puedo poner al tanto con el PR  :woozy_face:

[2021-10-01 07:48] #1175 closed

[2021-10-01 11:46] cacrespo opened #1372 "Ajustar detalles en 14 traducciones finalizadas"
Cada uno de estos archivos tienen una entrada pendiente o a revisar:

~whatsnew/3.3.po~
~library/symbol.po~
~library/pdb.po~
~library/site.po~
~library/unittest.mock.po~
~library/smtpd.po~
~library/statistics.po~
~library/parser.po~
~library/pprint.po~
~library/shlex.po~
~library/poplib.po~
~library/threading.po~

library/decimal.po
library/struct.po

Por favor comenta si quieres tomar estos ajust

[2021-10-01 15:21] paaaron commented on #1372
Yo puedo trabajar en esto

[2021-10-01 15:22] andresbermeoq commented on #1308
Hola, ¿qué tal podrías asignarme este issue.. @cmaureir

[2021-10-01 16:21] cacrespo commented on #1372
@paaaron Adelante!

[2021-10-01 16:27] cacrespo commented on #1308
Hola @andresbermeoq! ¿cómo estás? En realidad este issue ya está resuelto en #1354 . Sólo falta que se apruebe.
Este otro #1292 por ej. está sin asignar. 😄

[2021-10-01 16:30] cacrespo commented on #1319
@javoweb que lo disfrutes!

[2021-10-01 16:31] andresbermeoq commented on #1308
Hola @cacrespo... podrías ayudarme con el #1266 porfa para evitar ocupar todos los `good first issue`. Muchas gracias 🙂

[2021-10-01 16:49] cacrespo commented on #1266
Hola @andresbermeoq! Te lo asigno.

[2021-10-01 18:42] andresbermeoq commented on #1266
Listo sin problema @cacrespo... podrías darme un poco de feedback acerca del issue, le ordeno o buscaría primero las palabras originales.

[2021-10-01 19:16] cacrespo commented on #1266
El orden debemos mantenerlo tal cuál está, eso no se puede cambiar. Y respecto a buscar la palabras, en realidad es más simple: es cuestión de ver el texto original en inglés y ya.

Si te resulta más práctico podemos conversar en Telegram o Discord.

[2021-10-02 00:56] CatalinaArrey commented on #1279
No sé si @rtobar tomó este issue, pero sino me gustaría tomarlo

[2021-10-02 03:42] rtobar commented on #1279
@cacrespo @CatalinaArrey yo veo todas las entradas traducidas para este archivo, por eso mi comentario anterior. En la página https://python-docs-es.readthedocs.io/es/3.9/progress.html también se puede ver que `http.client.po` no está en la lista de archivos por terminar de traducir.

[2021-10-02 14:57] CatalinaArrey commented on #1323
Quisiera saber si puedo ayudar en este translate si no está asignado todavía.

[2021-10-02 15:04] CatalinaArrey commented on #349
No estoy segura si aun se necesita ayuda con este archivo, pero si no está actualmente asignado me gustaría tomarlo para poder ir traduciendo lo que quede.

[2021-10-02 15:11] CatalinaArrey commented on #1292
No estoy segura si este Issue está asignado, pero si no lo está, me gustaría tomarlo.

[2021-10-02 21:41] brivadeneira commented on #1292
Hola!! Quisiera que me asignen archivos para traducir, gracias!

[2021-10-02 23:14] cacrespo commented on #1279
Tienés razón @rtobar. Cierro el issue.
cc @CatalinaArrey

[2021-10-02 23:14] #1279 closed

[2021-10-02 23:21] cacrespo commented on #1292
Buenas! se lo asigno a @CatalinaArrey que lo pidió primero 😄 .

@brivadeneira voy a buscar algún otro issue y te lo asigno. De todos modos, en unos días sale Python 3.10 y eso va a generar muchos archivos para traducir. Paciencia 🙏

[2021-10-02 23:26] cacrespo commented on #1323
Hola @rtobar @daniel692a @CatalinaArrey . Estos archivos son super largos y aburridos 👎 . En algún momento evaluamos traducirlos automáticamente. @clacri este entraba en el listado??

Si esperan unos días, con la salida de Python 3.10 vamos a tener archivos más entretenidos 😄 .

[2021-10-02 23:27] #1290 closed

[2021-10-03 08:56] clacri commented on #1323
si, creo que no tenia la PR ya hecha pero vamos me ocupo yo con lo de la automatica no hay problema!

[2021-10-03 13:29] #1180 closed

[2021-10-03 14:19] #1178 closed

[2021-10-03 14:29] daniel692a commented on #1323
Vale @cacrespo

[2021-10-04 00:12] mhered commented on #1372
Hola me gustaria colaboarar trabajando en el archivo library/pdb.po. Es posible, o solo puede haber un colaborador asignado?

[2021-10-05 08:17] raulcd opened #1376 "Cambiar rama principal y migrar documentación a nueva versión python 3.10"
Ahora que la versión de python 3.10 se encuentra disponible hay que migrar la rama principal y los docs a la versión de python 3.10.

[2021-10-05 09:33] cmaureir commented on #1376
A ver si lo podemos hacer después del Miércoles 6 de Octubre, pues hay un evento del https://hacktoberfest.dev y esto puede liarla un poquito con las ramas, ci, etc.

Adicionalmente, cuando se haga esta actualización, voy a crear nuevas issues para que así utilicemos el Hacktoberfest para obtener más contribuciones :tada:

[2021-10-05 09:34] cmaureir commented on #1372
Hola @mhered como esta tarea es bastante corta, seguimos la idea de 1 persona por Issue. Cuando hay issues muy grandes se suelen dividir. Te recomiendo mirar otra Issue abierta en las que puedas darnos una mano!

[2021-10-05 09:36] cmaureir commented on #1284
gracias por notarlo!

[2021-10-05 09:36] #1284 closed

[2021-10-05 09:45] #1296 closed

[2021-10-05 12:41] raulcd commented on #1376
He creado [un issue en Python](https://bugs.python.org/issue45377) preguntando si hay algún motivo por el que [el default docs](https://docs.python.org/3/) no apunte a 3.10 todavía.

En cuanto a lo de migrar la rama ok a hacerlo después del miércoles aunque realmente la rama se podría empezar a crear.

@humitos y si montamos un stream y lo hacemos en directo? Nos podemos juntar unos cuantos y char

[2021-10-05 12:49] humitos commented on #1376
¡Genial! Lo coordinamos para la próxima semana. Ayer aprendí como poner varias cámaras con invitados en OBS 😉

[2021-10-16 21:31] cmaureir opened #1387 "Volver a habilitar la memoria de traducción"
Con el cambio de 3.10, tuvimos que quitar los términos de la memoria de traducción, debido a conflictos con el archivo `glossary.po`.

[2021-10-18 13:37] cmaureir opened #1390 "Translate 'using/cmdline.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/using/cmdline.html once translated.
Meanwhile, the English version is shown.

Current stats for `using/cmdline.po`:

* Fuzzy: 13
* Percent translated: 92.4%
* Entries: 207 / 224
* Untranslated: 17

Please, comment here if you want this file to be assigned to you and an membe

[2021-10-18 13:37] cmaureir opened #1391 "Translate 'using/windows.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/using/windows.html once translated.
Meanwhile, the English version is shown.

Current stats for `using/windows.po`:

* Fuzzy: 3
* Percent translated: 99.7%
* Entries: 312 / 313
* Untranslated: 1

Please, comment here if you want this file to be assigned to you and an member

[2021-10-18 13:37] cmaureir opened #1392 "Translate 'using/unix.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/using/unix.html once translated.
Meanwhile, the English version is shown.

Current stats for `using/unix.po`:

* Fuzzy: 1
* Percent translated: 88.9%
* Entries: 40 / 45
* Untranslated: 5

Please, comment here if you want this file to be assigned to you and an member will ass

[2021-10-18 13:37] cmaureir opened #1393 "Translate 'using/configure.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/using/configure.html once translated.
Meanwhile, the English version is shown.

Current stats for `using/configure.po`:

* Fuzzy: 0
* Percent translated: 0.0%
* Entries: 0 / 230
* Untranslated: 230

Please, comment here if you want this file to be assigned to you and an memb

[2021-10-18 13:37] cmaureir opened #1394 "Translate 'distutils/examples.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/distutils/examples.html once translated.
Meanwhile, the English version is shown.

Current stats for `distutils/examples.po`:

* Fuzzy: 0
* Percent translated: 97.8%
* Entries: 45 / 46
* Untranslated: 1

Please, comment here if you want this file to be assigned to you and an

[2021-10-18 13:37] cmaureir opened #1395 "Translate 'distutils/sourcedist.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/distutils/sourcedist.html once translated.
Meanwhile, the English version is shown.

Current stats for `distutils/sourcedist.po`:

* Fuzzy: 0
* Percent translated: 98.6%
* Entries: 71 / 72
* Untranslated: 1

Please, comment here if you want this file to be assigned to you an

[2021-10-18 13:37] cmaureir opened #1396 "Translate 'distutils/commandref.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/distutils/commandref.html once translated.
Meanwhile, the English version is shown.

Current stats for `distutils/commandref.po`:

* Fuzzy: 0
* Percent translated: 96.6%
* Entries: 28 / 29
* Untranslated: 1

Please, comment here if you want this file to be assigned to you an

[2021-10-18 13:37] cmaureir opened #1397 "Translate 'distutils/configfile.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/distutils/configfile.html once translated.
Meanwhile, the English version is shown.

Current stats for `distutils/configfile.po`:

* Fuzzy: 0
* Percent translated: 95.0%
* Entries: 19 / 20
* Untranslated: 1

Please, comment here if you want this file to be assigned to you an

[2021-10-18 13:37] cmaureir opened #1398 "Translate 'distutils/index.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/distutils/index.html once translated.
Meanwhile, the English version is shown.

Current stats for `distutils/index.po`:

* Fuzzy: 0
* Percent translated: 81.8%
* Entries: 9 / 11
* Untranslated: 2

Please, comment here if you want this file to be assigned to you and an member

[2021-10-18 13:37] cmaureir opened #1399 "Translate 'distutils/apiref.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/distutils/apiref.html once translated.
Meanwhile, the English version is shown.

Current stats for `distutils/apiref.po`:

* Fuzzy: 3
* Percent translated: 99.3%
* Entries: 414 / 417
* Untranslated: 3

Please, comment here if you want this file to be assigned to you and an m

[2021-10-18 13:37] cmaureir opened #1400 "Translate 'distutils/extending.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/distutils/extending.html once translated.
Meanwhile, the English version is shown.

Current stats for `distutils/extending.po`:

* Fuzzy: 0
* Percent translated: 92.3%
* Entries: 12 / 13
* Untranslated: 1

Please, comment here if you want this file to be assigned to you and

[2021-10-18 13:37] cmaureir opened #1401 "Translate 'distutils/builtdist.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/distutils/builtdist.html once translated.
Meanwhile, the English version is shown.

Current stats for `distutils/builtdist.po`:

* Fuzzy: 0
* Percent translated: 98.5%
* Entries: 129 / 131
* Untranslated: 2

Please, comment here if you want this file to be assigned to you an

[2021-10-18 13:37] cmaureir opened #1402 "Translate 'distutils/setupscript.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/distutils/setupscript.html once translated.
Meanwhile, the English version is shown.

Current stats for `distutils/setupscript.po`:

* Fuzzy: 0
* Percent translated: 99.4%
* Entries: 173 / 174
* Untranslated: 1

Please, comment here if you want this file to be assigned to yo

[2021-10-18 13:37] cmaureir opened #1403 "Translate 'distutils/introduction.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/distutils/introduction.html once translated.
Meanwhile, the English version is shown.

Current stats for `distutils/introduction.po`:

* Fuzzy: 0
* Percent translated: 98.0%
* Entries: 49 / 50
* Untranslated: 1

Please, comment here if you want this file to be assigned to yo

[2021-10-18 13:37] cmaureir opened #1404 "Translate 'tutorial/errors.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/tutorial/errors.html once translated.
Meanwhile, the English version is shown.

Current stats for `tutorial/errors.po`:

* Fuzzy: 11
* Percent translated: 96.7%
* Entries: 58 / 60
* Untranslated: 2

Please, comment here if you want this file to be assigned to you and an memb

[2021-10-18 13:37] cmaureir opened #1405 "Translate 'tutorial/controlflow.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/tutorial/controlflow.html once translated.
Meanwhile, the English version is shown.

Current stats for `tutorial/controlflow.po`:

* Fuzzy: 3
* Percent translated: 85.9%
* Entries: 128 / 149
* Untranslated: 21

Please, comment here if you want this file to be assigned to you

[2021-10-18 13:37] cmaureir opened #1406 "Translate 'tutorial/modules.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/tutorial/modules.html once translated.
Meanwhile, the English version is shown.

Current stats for `tutorial/modules.po`:

* Fuzzy: 0
* Percent translated: 98.8%
* Entries: 81 / 82
* Untranslated: 1

Please, comment here if you want this file to be assigned to you and an mem

[2021-10-18 13:37] cmaureir opened #1407 "Translate 'howto/descriptor.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/howto/descriptor.html once translated.
Meanwhile, the English version is shown.

Current stats for `howto/descriptor.po`:

* Fuzzy: 7
* Percent translated: 99.5%
* Entries: 189 / 190
* Untranslated: 1

Please, comment here if you want this file to be assigned to you and an m

[2021-10-18 13:37] cmaureir opened #1408 "Translate 'howto/functional.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/howto/functional.html once translated.
Meanwhile, the English version is shown.

Current stats for `howto/functional.po`:

* Fuzzy: 0
* Percent translated: 99.5%
* Entries: 206 / 207
* Untranslated: 1

Please, comment here if you want this file to be assigned to you and an m

[2021-10-18 13:37] cmaureir opened #1409 "Translate 'howto/annotations.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/howto/annotations.html once translated.
Meanwhile, the English version is shown.

Current stats for `howto/annotations.po`:

* Fuzzy: 0
* Percent translated: 0.0%
* Entries: 0 / 44
* Untranslated: 44

Please, comment here if you want this file to be assigned to you and an me

[2021-10-18 13:37] cmaureir opened #1410 "Translate 'howto/clinic.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/howto/clinic.html once translated.
Meanwhile, the English version is shown.

Current stats for `howto/clinic.po`:

* Fuzzy: 1
* Percent translated: 98.1%
* Entries: 416 / 424
* Untranslated: 8

Please, comment here if you want this file to be assigned to you and an member wi

[2021-10-18 13:37] cmaureir opened #1411 "Translate 'howto/logging-cookbook.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/howto/logging-cookbook.html once translated.
Meanwhile, the English version is shown.

Current stats for `howto/logging-cookbook.po`:

* Fuzzy: 1
* Percent translated: 92.7%
* Entries: 216 / 233
* Untranslated: 17

Please, comment here if you want this file to be assigned to

[2021-10-18 13:37] cmaureir opened #1412 "Translate 'howto/logging.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/howto/logging.html once translated.
Meanwhile, the English version is shown.

Current stats for `howto/logging.po`:

* Fuzzy: 3
* Percent translated: 99.1%
* Entries: 220 / 222
* Untranslated: 2

Please, comment here if you want this file to be assigned to you and an member

[2021-10-18 13:37] cmaureir opened #1413 "Translate 'reference/datamodel.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/reference/datamodel.html once translated.
Meanwhile, the English version is shown.

Current stats for `reference/datamodel.po`:

* Fuzzy: 24
* Percent translated: 97.7%
* Entries: 476 / 487
* Untranslated: 11

Please, comment here if you want this file to be assigned to you

[2021-10-18 13:37] cmaureir opened #1414 "Translate 'reference/expressions.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/reference/expressions.html once translated.
Meanwhile, the English version is shown.

Current stats for `reference/expressions.po`:

* Fuzzy: 7
* Percent translated: 97.0%
* Entries: 319 / 329
* Untranslated: 10

Please, comment here if you want this file to be assigned to y

[2021-10-18 13:37] cmaureir opened #1415 "Translate 'reference/import.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/reference/import.html once translated.
Meanwhile, the English version is shown.

Current stats for `reference/import.po`:

* Fuzzy: 0
* Percent translated: 97.9%
* Entries: 188 / 192
* Untranslated: 4

Please, comment here if you want this file to be assigned to you and an m

[2021-10-18 13:38] cmaureir opened #1416 "Translate 'reference/simple_stmts.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/reference/simple_stmts.html once translated.
Meanwhile, the English version is shown.

Current stats for `reference/simple_stmts.po`:

* Fuzzy: 1
* Percent translated: 99.4%
* Entries: 153 / 154
* Untranslated: 1

Please, comment here if you want this file to be assigned to

[2021-10-18 13:38] cmaureir opened #1417 "Translate 'reference/lexical_analysis.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/reference/lexical_analysis.html once translated.
Meanwhile, the English version is shown.

Current stats for `reference/lexical_analysis.po`:

* Fuzzy: 2
* Percent translated: 96.4%
* Entries: 186 / 193
* Untranslated: 7

Please, comment here if you want this file to be assi

[2021-10-18 13:38] cmaureir opened #1418 "Translate 'reference/compound_stmts.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/reference/compound_stmts.html once translated.
Meanwhile, the English version is shown.

Current stats for `reference/compound_stmts.po`:

* Fuzzy: 4
* Percent translated: 39.9%
* Entries: 118 / 296
* Untranslated: 178

Please, comment here if you want this file to be assign

[2021-10-18 13:38] cmaureir opened #1419 "Translate 'install/index.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/install/index.html once translated.
Meanwhile, the English version is shown.

Current stats for `install/index.po`:

* Fuzzy: 4
* Percent translated: 98.7%
* Entries: 223 / 226
* Untranslated: 3

Please, comment here if you want this file to be assigned to you and an member

[2021-10-18 13:38] cmaureir opened #1420 "Translate 'library/logging.config.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/library/logging.config.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/logging.config.po`:

* Fuzzy: 5
* Percent translated: 91.5%
* Entries: 118 / 129
* Untranslated: 11

Please, comment here if you want this file to be assigned to

[2021-10-18 13:38] cmaureir opened #1422 "Translate 'library/http.client.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/library/http.client.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/http.client.po`:

* Fuzzy: 0
* Percent translated: 97.0%
* Entries: 96 / 99
* Untranslated: 3

Please, comment here if you want this file to be assigned to you and

[2021-10-18 13:38] cmaureir opened #1423 "Translate 'library/symbol.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/library/symbol.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/symbol.po`:

* Fuzzy: 0
* Percent translated: 83.3%
* Entries: 5 / 6
* Untranslated: 1

Please, comment here if you want this file to be assigned to you and an member wi

[2021-10-18 13:38] cmaureir opened #1424 "Translate 'library/shutil.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/library/shutil.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/shutil.po`:

* Fuzzy: 0
* Percent translated: 99.3%
* Entries: 147 / 148
* Untranslated: 1

Please, comment here if you want this file to be assigned to you and an membe

[2021-10-18 13:38] cmaureir opened #1425 "Translate 'library/sysconfig.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/library/sysconfig.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/sysconfig.po`:

* Fuzzy: 4
* Percent translated: 92.5%
* Entries: 74 / 80
* Untranslated: 6

Please, comment here if you want this file to be assigned to you and an m

[2021-10-18 13:38] cmaureir opened #1426 "Translate 'library/poplib.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/library/poplib.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/poplib.po`:

* Fuzzy: 0
* Percent translated: 98.0%
* Entries: 49 / 50
* Untranslated: 1

Please, comment here if you want this file to be assigned to you and an member

[2021-10-18 13:38] cmaureir opened #1427 "Translate 'library/contextlib.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/library/contextlib.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/contextlib.po`:

* Fuzzy: 6
* Percent translated: 95.1%
* Entries: 116 / 122
* Untranslated: 6

Please, comment here if you want this file to be assigned to you and

[2021-10-18 13:38] cmaureir opened #1429 "Translate 'library/asyncio-task.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/library/asyncio-task.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/asyncio-task.po`:

* Fuzzy: 0
* Percent translated: 96.8%
* Entries: 184 / 190
* Untranslated: 6

Please, comment here if you want this file to be assigned to you

[2021-10-18 13:38] cmaureir opened #1430 "Translate 'library/security_warnings.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/library/security_warnings.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/security_warnings.po`:

* Fuzzy: 0
* Percent translated: 0.0%
* Entries: 0 / 16
* Untranslated: 16

Please, comment here if you want this file to be assigned

[2021-10-18 13:38] cmaureir opened #1431 "Translate 'library/shlex.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/library/shlex.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/shlex.po`:

* Fuzzy: 0
* Percent translated: 94.7%
* Entries: 71 / 75
* Untranslated: 4

Please, comment here if you want this file to be assigned to you and an member wi

[2021-10-18 13:38] cmaureir opened #1432 "Translate 'library/asyncio-sync.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/library/asyncio-sync.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/asyncio-sync.po`:

* Fuzzy: 0
* Percent translated: 98.6%
* Entries: 71 / 72
* Untranslated: 1

Please, comment here if you want this file to be assigned to you an

[2021-10-18 13:38] cmaureir opened #1433 "Translate 'library/distutils.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/library/distutils.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/distutils.po`:

* Fuzzy: 0
* Percent translated: 92.3%
* Entries: 12 / 13
* Untranslated: 1

Please, comment here if you want this file to be assigned to you and an m

[2021-10-18 13:38] cmaureir opened #1434 "Translate 'library/dataclasses.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/library/dataclasses.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/dataclasses.po`:

* Fuzzy: 11
* Percent translated: 84.7%
* Entries: 94 / 111
* Untranslated: 17

Please, comment here if you want this file to be assigned to you a

[2021-10-18 13:38] cmaureir opened #1437 "Translate 'library/venv.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/library/venv.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/venv.po`:

* Fuzzy: 2
* Percent translated: 58.2%
* Entries: 53 / 91
* Untranslated: 38

Please, comment here if you want this file to be assigned to you and an member wil

[2021-10-18 13:38] cmaureir opened #1438 "Translate 'library/itertools.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/library/itertools.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/itertools.po`:

* Fuzzy: 3
* Percent translated: 98.7%
* Entries: 151 / 153
* Untranslated: 2

Please, comment here if you want this file to be assigned to you and an

[2021-10-18 13:38] cmaureir opened #1439 "Translate 'library/locale.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/library/locale.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/locale.po`:

* Fuzzy: 5
* Percent translated: 99.3%
* Entries: 141 / 142
* Untranslated: 1

Please, comment here if you want this file to be assigned to you and an membe

[2021-10-18 13:38] cmaureir opened #1440 "Translate 'library/subprocess.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/library/subprocess.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/subprocess.po`:

* Fuzzy: 5
* Percent translated: 97.8%
* Entries: 268 / 274
* Untranslated: 6

Please, comment here if you want this file to be assigned to you and

[2021-10-18 13:38] cmaureir opened #1441 "Translate 'library/functools.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/library/functools.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/functools.po`:

* Fuzzy: 2
* Percent translated: 97.6%
* Entries: 80 / 82
* Untranslated: 2

Please, comment here if you want this file to be assigned to you and an m

[2021-10-18 13:38] cmaureir opened #1442 "Translate 'library/devmode.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/library/devmode.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/devmode.po`:

* Fuzzy: 0
* Percent translated: 95.9%
* Entries: 47 / 49
* Untranslated: 2

Please, comment here if you want this file to be assigned to you and an membe

[2021-10-18 13:38] cmaureir opened #1443 "Translate 'library/abc.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/library/abc.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/abc.po`:

* Fuzzy: 2
* Percent translated: 93.9%
* Entries: 46 / 49
* Untranslated: 3

Please, comment here if you want this file to be assigned to you and an member will a

[2021-10-18 13:38] cmaureir opened #1444 "Translate 'library/ssl.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/library/ssl.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/ssl.po`:

* Fuzzy: 17
* Percent translated: 96.7%
* Entries: 497 / 514
* Untranslated: 17

Please, comment here if you want this file to be assigned to you and an member wi

[2021-10-18 13:38] cmaureir opened #1445 "Translate 'library/string.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/library/string.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/string.po`:

* Fuzzy: 4
* Percent translated: 99.4%
* Entries: 178 / 179
* Untranslated: 1

Please, comment here if you want this file to be assigned to you and an membe

[2021-10-18 13:38] cmaureir opened #1446 "Translate 'library/shelve.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/library/shelve.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/shelve.po`:

* Fuzzy: 3
* Percent translated: 96.9%
* Entries: 31 / 32
* Untranslated: 1

Please, comment here if you want this file to be assigned to you and an member

[2021-10-18 13:38] cmaureir opened #1447 "Translate 'library/operator.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/library/operator.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/operator.po`:

* Fuzzy: 0
* Percent translated: 99.4%
* Entries: 177 / 178
* Untranslated: 1

Please, comment here if you want this file to be assigned to you and an m

[2021-10-18 13:38] cmaureir opened #1448 "Translate 'library/pprint.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/library/pprint.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/pprint.po`:

* Fuzzy: 3
* Percent translated: 74.4%
* Entries: 32 / 43
* Untranslated: 11

Please, comment here if you want this file to be assigned to you and an member

[2021-10-18 13:38] cmaureir opened #1449 "Translate 'library/py_compile.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/library/py_compile.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/py_compile.po`:

* Fuzzy: 2
* Percent translated: 86.7%
* Entries: 26 / 30
* Untranslated: 4

Please, comment here if you want this file to be assigned to you and an

[2021-10-18 13:38] cmaureir opened #1450 "Translate 'library/2to3.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/library/2to3.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/2to3.po`:

* Fuzzy: 0
* Percent translated: 99.2%
* Entries: 120 / 121
* Untranslated: 1

Please, comment here if you want this file to be assigned to you and an member wi

[2021-10-18 13:38] cmaureir opened #1451 "Translate 'library/random.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/library/random.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/random.po`:

* Fuzzy: 4
* Percent translated: 97.9%
* Entries: 95 / 97
* Untranslated: 2

Please, comment here if you want this file to be assigned to you and an member

[2021-10-18 13:38] cmaureir opened #1452 "Translate 'library/multiprocessing.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/library/multiprocessing.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/multiprocessing.po`:

* Fuzzy: 6
* Percent translated: 99.8%
* Entries: 517 / 518
* Untranslated: 1

Please, comment here if you want this file to be assigned t

[2021-10-18 13:38] cmaureir opened #1453 "Translate 'library/collections.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/library/collections.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/collections.po`:

* Fuzzy: 4
* Percent translated: 97.6%
* Entries: 202 / 207
* Untranslated: 5

Please, comment here if you want this file to be assigned to you an

[2021-10-18 13:38] cmaureir opened #1454 "Translate 'library/http.server.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/library/http.server.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/http.server.po`:

* Fuzzy: 4
* Percent translated: 97.8%
* Entries: 87 / 89
* Untranslated: 2

Please, comment here if you want this file to be assigned to you and

[2021-10-18 13:38] cmaureir opened #1455 "Translate 'library/base64.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/library/base64.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/base64.po`:

* Fuzzy: 4
* Percent translated: 90.9%
* Entries: 50 / 55
* Untranslated: 5

Please, comment here if you want this file to be assigned to you and an member

[2021-10-18 13:38] cmaureir opened #1456 "Translate 'library/constants.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/library/constants.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/constants.po`:

* Fuzzy: 2
* Percent translated: 94.7%
* Entries: 18 / 19
* Untranslated: 1

Please, comment here if you want this file to be assigned to you and an m

[2021-10-18 13:39] cmaureir opened #1457 "Translate 'library/xml.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/library/xml.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/xml.po`:

* Fuzzy: 4
* Percent translated: 98.1%
* Entries: 52 / 53
* Untranslated: 1

Please, comment here if you want this file to be assigned to you and an member will a

[2021-10-18 13:39] cmaureir opened #1458 "Translate 'library/glob.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/library/glob.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/glob.po`:

* Fuzzy: 1
* Percent translated: 85.0%
* Entries: 17 / 20
* Untranslated: 3

Please, comment here if you want this file to be assigned to you and an member will

[2021-10-18 13:39] cmaureir opened #1459 "Translate 'library/test.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/library/test.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/test.po`:

* Fuzzy: 14
* Percent translated: 99.3%
* Entries: 292 / 294
* Untranslated: 2

Please, comment here if you want this file to be assigned to you and an member w

[2021-10-18 13:39] cmaureir opened #1460 "Translate 'library/asyncio-stream.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/library/asyncio-stream.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/asyncio-stream.po`:

* Fuzzy: 0
* Percent translated: 98.7%
* Entries: 76 / 77
* Untranslated: 1

Please, comment here if you want this file to be assigned to yo

[2021-10-18 13:39] cmaureir opened #1461 "Translate 'library/mmap.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/library/mmap.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/mmap.po`:

* Fuzzy: 4
* Percent translated: 98.0%
* Entries: 49 / 50
* Untranslated: 1

Please, comment here if you want this file to be assigned to you and an member will

[2021-10-18 13:39] cmaureir opened #1462 "Translate 'library/dis.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/library/dis.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/dis.po`:

* Fuzzy: 3
* Percent translated: 96.2%
* Entries: 252 / 262
* Untranslated: 10

Please, comment here if you want this file to be assigned to you and an member wil

[2021-10-18 13:39] cmaureir opened #1463 "Translate 'library/asyncio-queue.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/library/asyncio-queue.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/asyncio-queue.po`:

* Fuzzy: 0
* Percent translated: 97.4%
* Entries: 37 / 38
* Untranslated: 1

Please, comment here if you want this file to be assigned to you

[2021-10-18 13:39] cmaureir opened #1464 "Translate 'library/pty.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/library/pty.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/pty.po`:

* Fuzzy: 2
* Percent translated: 94.7%
* Entries: 18 / 19
* Untranslated: 1

Please, comment here if you want this file to be assigned to you and an member will a

[2021-10-18 13:39] cmaureir opened #1465 "Translate 'library/site.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/library/site.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/site.po`:

* Fuzzy: 3
* Percent translated: 97.5%
* Entries: 39 / 40
* Untranslated: 1

Please, comment here if you want this file to be assigned to you and an member will

[2021-10-18 13:39] cmaureir opened #1466 "Translate 'library/_thread.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/library/_thread.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/_thread.po`:

* Fuzzy: 2
* Percent translated: 92.7%
* Entries: 38 / 41
* Untranslated: 3

Please, comment here if you want this file to be assigned to you and an membe

[2021-10-18 13:39] cmaureir opened #1467 "Translate 'library/time.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/library/time.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/time.po`:

* Fuzzy: 1
* Percent translated: 96.7%
* Entries: 235 / 243
* Untranslated: 8

Please, comment here if you want this file to be assigned to you and an member wi

[2021-10-18 13:39] cmaureir opened #1468 "Translate 'library/tkinter.font.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/library/tkinter.font.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/tkinter.font.po`:

* Fuzzy: 0
* Percent translated: 97.1%
* Entries: 34 / 35
* Untranslated: 1

Please, comment here if you want this file to be assigned to you an

[2021-10-18 13:39] cmaureir opened #1469 "Translate 'library/hashlib.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/library/hashlib.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/hashlib.po`:

* Fuzzy: 6
* Percent translated: 99.3%
* Entries: 139 / 140
* Untranslated: 1

Please, comment here if you want this file to be assigned to you and an mem

[2021-10-18 13:39] cmaureir opened #1470 "Translate 'library/sqlite3.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/library/sqlite3.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/sqlite3.po`:

* Fuzzy: 11
* Percent translated: 96.8%
* Entries: 212 / 219
* Untranslated: 7

Please, comment here if you want this file to be assigned to you and an me

[2021-10-18 13:39] cmaureir opened #1471 "Translate 'library/fcntl.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/library/fcntl.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/fcntl.po`:

* Fuzzy: 0
* Percent translated: 97.4%
* Entries: 38 / 39
* Untranslated: 1

Please, comment here if you want this file to be assigned to you and an member wi

[2021-10-18 13:39] cmaureir opened #1472 "Translate 'library/bz2.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/library/bz2.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/bz2.po`:

* Fuzzy: 0
* Percent translated: 98.5%
* Entries: 67 / 68
* Untranslated: 1

Please, comment here if you want this file to be assigned to you and an member will a

[2021-10-18 13:39] cmaureir opened #1473 "Translate 'library/asyncio-subprocess.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/library/asyncio-subprocess.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/asyncio-subprocess.po`:

* Fuzzy: 1
* Percent translated: 98.7%
* Entries: 76 / 77
* Untranslated: 1

Please, comment here if you want this file to be assign

[2021-10-18 13:39] cmaureir opened #1474 "Translate 'library/unittest.mock.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/library/unittest.mock.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/unittest.mock.po`:

* Fuzzy: 5
* Percent translated: 99.5%
* Entries: 372 / 374
* Untranslated: 2

Please, comment here if you want this file to be assigned to yo

[2021-10-18 13:39] cmaureir opened #1475 "Translate 'library/smtpd.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/library/smtpd.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/smtpd.po`:

* Fuzzy: 1
* Percent translated: 98.7%
* Entries: 78 / 79
* Untranslated: 1

Please, comment here if you want this file to be assigned to you and an member wi

[2021-10-18 13:39] cmaureir opened #1476 "Translate 'library/types.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/library/types.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/types.po`:

* Fuzzy: 2
* Percent translated: 89.5%
* Entries: 85 / 95
* Untranslated: 10

Please, comment here if you want this file to be assigned to you and an member w

[2021-10-18 13:39] cmaureir opened #1477 "Translate 'library/csv.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/library/csv.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/csv.po`:

* Fuzzy: 5
* Percent translated: 93.5%
* Entries: 87 / 93
* Untranslated: 6

Please, comment here if you want this file to be assigned to you and an member will a

[2021-10-18 13:39] cmaureir opened #1478 "Translate 'library/decimal.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/library/decimal.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/decimal.po`:

* Fuzzy: 2
* Percent translated: 99.7%
* Entries: 328 / 329
* Untranslated: 1

Please, comment here if you want this file to be assigned to you and an mem

[2021-10-18 13:39] cmaureir opened #1479 "Translate 'library/ftplib.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/library/ftplib.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/ftplib.po`:

* Fuzzy: 0
* Percent translated: 98.5%
* Entries: 66 / 67
* Untranslated: 1

Please, comment here if you want this file to be assigned to you and an member

[2021-10-18 13:39] cmaureir opened #1480 "Translate 'library/exceptions.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/library/exceptions.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/exceptions.po`:

* Fuzzy: 9
* Percent translated: 91.2%
* Entries: 135 / 148
* Untranslated: 13

Please, comment here if you want this file to be assigned to you and

[2021-10-18 13:39] cmaureir opened #1481 "Translate 'library/urllib.parse.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/library/urllib.parse.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/urllib.parse.po`:

* Fuzzy: 3
* Percent translated: 97.3%
* Entries: 145 / 149
* Untranslated: 4

Please, comment here if you want this file to be assigned to you

[2021-10-18 13:39] cmaureir opened #1482 "Translate 'library/ipaddress.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/library/ipaddress.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/ipaddress.po`:

* Fuzzy: 5
* Percent translated: 97.3%
* Entries: 144 / 148
* Untranslated: 4

Please, comment here if you want this file to be assigned to you and an

[2021-10-18 13:39] cmaureir opened #1483 "Translate 'library/idle.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/library/idle.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/idle.po`:

* Fuzzy: 9
* Percent translated: 98.9%
* Entries: 281 / 284
* Untranslated: 3

Please, comment here if you want this file to be assigned to you and an member wi

[2021-10-18 13:39] cmaureir opened #1485 "Translate 'library/parser.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/library/parser.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/parser.po`:

* Fuzzy: 0
* Percent translated: 98.0%
* Entries: 49 / 50
* Untranslated: 1

Please, comment here if you want this file to be assigned to you and an member

[2021-10-18 13:39] cmaureir opened #1487 "Translate 'library/cgi.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/library/cgi.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/cgi.po`:

* Fuzzy: 5
* Percent translated: 98.9%
* Entries: 89 / 90
* Untranslated: 1

Please, comment here if you want this file to be assigned to you and an member will a

[2021-10-18 13:39] cmaureir opened #1488 "Translate 'library/xml.sax.handler.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/library/xml.sax.handler.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/xml.sax.handler.po`:

* Fuzzy: 4
* Percent translated: 91.3%
* Entries: 94 / 103
* Untranslated: 9

Please, comment here if you want this file to be assigned to

[2021-10-18 13:39] cmaureir opened #1489 "Translate 'library/socket.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/library/socket.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/socket.po`:

* Fuzzy: 15
* Percent translated: 99.4%
* Entries: 324 / 326
* Untranslated: 2

Please, comment here if you want this file to be assigned to you and an memb

[2021-10-18 13:39] cmaureir opened #1490 "Translate 'library/typing.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/library/typing.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/typing.po`:

* Fuzzy: 17
* Percent translated: 86.2%
* Entries: 293 / 340
* Untranslated: 47

Please, comment here if you want this file to be assigned to you and an mem

[2021-10-18 13:40] cmaureir opened #1491 "Translate 'library/collections.abc.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/library/collections.abc.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/collections.abc.po`:

* Fuzzy: 17
* Percent translated: 92.4%
* Entries: 110 / 119
* Untranslated: 9

Please, comment here if you want this file to be assigned

[2021-10-18 13:40] cmaureir opened #1492 "Translate 'library/zipimport.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/library/zipimport.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/zipimport.po`:

* Fuzzy: 3
* Percent translated: 77.5%
* Entries: 31 / 40
* Untranslated: 9

Please, comment here if you want this file to be assigned to you and an m

[2021-10-18 13:40] cmaureir opened #1493 "Translate 'library/platform.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/library/platform.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/platform.po`:

* Fuzzy: 4
* Percent translated: 91.5%
* Entries: 54 / 59
* Untranslated: 5

Please, comment here if you want this file to be assigned to you and an mem

[2021-10-18 13:40] cmaureir opened #1494 "Translate 'library/faulthandler.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/library/faulthandler.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/faulthandler.po`:

* Fuzzy: 0
* Percent translated: 97.3%
* Entries: 36 / 37
* Untranslated: 1

Please, comment here if you want this file to be assigned to you an

[2021-10-18 13:40] cmaureir opened #1495 "Translate 'library/re.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/library/re.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/re.po`:

* Fuzzy: 0
* Percent translated: 99.3%
* Entries: 286 / 288
* Untranslated: 2

Please, comment here if you want this file to be assigned to you and an member will a

[2021-10-18 13:40] cmaureir opened #1496 "Translate 'library/importlib.metadata.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/library/importlib.metadata.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/importlib.metadata.po`:

* Fuzzy: 11
* Percent translated: 74.1%
* Entries: 43 / 58
* Untranslated: 15

Please, comment here if you want this file to be assi

[2021-10-18 13:40] cmaureir opened #1497 "Translate 'library/tkinter.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/library/tkinter.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/tkinter.po`:

* Fuzzy: 18
* Percent translated: 76.9%
* Entries: 277 / 360
* Untranslated: 83

Please, comment here if you want this file to be assigned to you and an m

[2021-10-18 13:40] cmaureir opened #1498 "Translate 'library/netrc.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/library/netrc.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/netrc.po`:

* Fuzzy: 0
* Percent translated: 93.8%
* Entries: 15 / 16
* Untranslated: 1

Please, comment here if you want this file to be assigned to you and an member wi

[2021-10-18 13:40] cmaureir opened #1501 "Translate 'library/weakref.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/library/weakref.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/weakref.po`:

* Fuzzy: 0
* Percent translated: 98.8%
* Entries: 82 / 83
* Untranslated: 1

Please, comment here if you want this file to be assigned to you and an membe

[2021-10-18 13:40] cmaureir opened #1502 "Translate 'library/multiprocessing.shared_memory.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/library/multiprocessing.shared_memory.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/multiprocessing.shared_memory.po`:

* Fuzzy: 0
* Percent translated: 97.1%
* Entries: 34 / 35
* Untranslated: 1

Please, comment here if you want

[2021-10-18 13:40] cmaureir opened #1503 "Translate 'library/struct.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/library/struct.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/struct.po`:

* Fuzzy: 2
* Percent translated: 99.3%
* Entries: 150 / 151
* Untranslated: 1

Please, comment here if you want this file to be assigned to you and an membe

[2021-10-18 13:40] cmaureir opened #1504 "Translate 'library/pipes.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/library/pipes.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/pipes.po`:

* Fuzzy: 0
* Percent translated: 94.7%
* Entries: 18 / 19
* Untranslated: 1

Please, comment here if you want this file to be assigned to you and an member wi

[2021-10-18 13:40] cmaureir opened #1505 "Translate 'library/unittest.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/library/unittest.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/unittest.po`:

* Fuzzy: 7
* Percent translated: 99.6%
* Entries: 504 / 506
* Untranslated: 2

Please, comment here if you want this file to be assigned to you and an m

[2021-10-18 13:40] cmaureir opened #1506 "Translate 'library/asyncio-future.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/library/asyncio-future.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/asyncio-future.po`:

* Fuzzy: 0
* Percent translated: 95.0%
* Entries: 57 / 60
* Untranslated: 3

Please, comment here if you want this file to be assigned to yo

[2021-10-18 13:40] cmaureir opened #1507 "Translate 'library/stdtypes.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/library/stdtypes.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/stdtypes.po`:

* Fuzzy: 10
* Percent translated: 98.1%
* Entries: 944 / 962
* Untranslated: 18

Please, comment here if you want this file to be assigned to you and an

[2021-10-18 13:40] cmaureir opened #1508 "Translate 'library/atexit.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/library/atexit.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/atexit.po`:

* Fuzzy: 1
* Percent translated: 94.1%
* Entries: 16 / 17
* Untranslated: 1

Please, comment here if you want this file to be assigned to you and an member

[2021-10-18 13:40] cmaureir opened #1509 "Translate 'library/pyclbr.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/library/pyclbr.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/pyclbr.po`:

* Fuzzy: 0
* Percent translated: 96.0%
* Entries: 24 / 25
* Untranslated: 1

Please, comment here if you want this file to be assigned to you and an member

[2021-10-18 13:40] cmaureir opened #1510 "Translate 'library/functions.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/library/functions.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/functions.po`:

* Fuzzy: 46
* Percent translated: 89.0%
* Entries: 382 / 429
* Untranslated: 47

Please, comment here if you want this file to be assigned to you and

[2021-10-18 13:40] cmaureir opened #1511 "Translate 'library/math.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/library/math.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/math.po`:

* Fuzzy: 0
* Percent translated: 99.2%
* Entries: 118 / 119
* Untranslated: 1

Please, comment here if you want this file to be assigned to you and an member wi

[2021-10-18 13:40] cmaureir opened #1512 "Translate 'faq/programming.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/faq/programming.html once translated.
Meanwhile, the English version is shown.

Current stats for `faq/programming.po`:

* Fuzzy: 15
* Percent translated: 89.4%
* Entries: 354 / 396
* Untranslated: 42

Please, comment here if you want this file to be assigned to you and an m

[2021-10-18 13:40] cmaureir opened #1513 "Translate 'faq/windows.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/faq/windows.html once translated.
Meanwhile, the English version is shown.

Current stats for `faq/windows.po`:

* Fuzzy: 0
* Percent translated: 97.9%
* Entries: 47 / 48
* Untranslated: 1

Please, comment here if you want this file to be assigned to you and an member will a

[2021-10-18 13:40] cmaureir opened #1514 "Translate 'faq/gui.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/faq/gui.html once translated.
Meanwhile, the English version is shown.

Current stats for `faq/gui.po`:

* Fuzzy: 2
* Percent translated: 97.4%
* Entries: 38 / 39
* Untranslated: 1

Please, comment here if you want this file to be assigned to you and an member will assign it

[2021-10-18 13:40] cmaureir opened #1517 "Translate 'c-api/typehints.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/c-api/typehints.html once translated.
Meanwhile, the English version is shown.

Current stats for `c-api/typehints.po`:

* Fuzzy: 0
* Percent translated: 0.0%
* Entries: 0 / 6
* Untranslated: 6

Please, comment here if you want this file to be assigned to you and an member w

[2021-10-18 13:40] cmaureir opened #1518 "Translate 'c-api/refcounting.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/c-api/refcounting.html once translated.
Meanwhile, the English version is shown.

Current stats for `c-api/refcounting.po`:

* Fuzzy: 2
* Percent translated: 46.2%
* Entries: 12 / 26
* Untranslated: 14

Please, comment here if you want this file to be assigned to you and an

[2021-10-18 13:40] cmaureir opened #1519 "Translate 'c-api/iter.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/c-api/iter.html once translated.
Meanwhile, the English version is shown.

Current stats for `c-api/iter.po`:

* Fuzzy: 2
* Percent translated: 54.5%
* Entries: 6 / 11
* Untranslated: 5

Please, comment here if you want this file to be assigned to you and an member will assi

[2021-10-18 13:40] cmaureir opened #1520 "Translate 'c-api/type.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/c-api/type.html once translated.
Meanwhile, the English version is shown.

Current stats for `c-api/type.po`:

* Fuzzy: 2
* Percent translated: 92.8%
* Entries: 64 / 69
* Untranslated: 5

Please, comment here if you want this file to be assigned to you and an member will ass

[2021-10-18 13:40] cmaureir opened #1521 "Translate 'c-api/unicode.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/c-api/unicode.html once translated.
Meanwhile, the English version is shown.

Current stats for `c-api/unicode.po`:

* Fuzzy: 2
* Percent translated: 99.4%
* Entries: 339 / 341
* Untranslated: 2

Please, comment here if you want this file to be assigned to you and an member

[2021-10-18 13:40] cmaureir opened #1522 "Translate 'c-api/arg.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/c-api/arg.html once translated.
Meanwhile, the English version is shown.

Current stats for `c-api/arg.po`:

* Fuzzy: 13
* Percent translated: 99.5%
* Entries: 195 / 196
* Untranslated: 1

Please, comment here if you want this file to be assigned to you and an member will as

[2021-10-18 13:40] cmaureir opened #1524 "Translate 'c-api/module.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/c-api/module.html once translated.
Meanwhile, the English version is shown.

Current stats for `c-api/module.po`:

* Fuzzy: 3
* Percent translated: 92.2%
* Entries: 95 / 103
* Untranslated: 8

Please, comment here if you want this file to be assigned to you and an member wil

[2021-10-18 13:40] cmaureir opened #1525 "Translate 'c-api/datetime.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/c-api/datetime.html once translated.
Meanwhile, the English version is shown.

Current stats for `c-api/datetime.po`:

* Fuzzy: 0
* Percent translated: 97.6%
* Entries: 41 / 42
* Untranslated: 1

Please, comment here if you want this file to be assigned to you and an member

[2021-10-18 13:40] cmaureir opened #1526 "Translate 'c-api/dict.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/c-api/dict.html once translated.
Meanwhile, the English version is shown.

Current stats for `c-api/dict.po`:

* Fuzzy: 0
* Percent translated: 96.9%
* Entries: 31 / 32
* Untranslated: 1

Please, comment here if you want this file to be assigned to you and an member will ass

[2021-10-18 13:40] cmaureir opened #1527 "Translate 'c-api/long.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/c-api/long.html once translated.
Meanwhile, the English version is shown.

Current stats for `c-api/long.po`:

* Fuzzy: 4
* Percent translated: 98.2%
* Entries: 55 / 56
* Untranslated: 1

Please, comment here if you want this file to be assigned to you and an member will ass

[2021-10-18 13:40] cmaureir opened #1529 "Translate 'c-api/object.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/c-api/object.html once translated.
Meanwhile, the English version is shown.

Current stats for `c-api/object.po`:

* Fuzzy: 2
* Percent translated: 98.7%
* Entries: 77 / 78
* Untranslated: 1

Please, comment here if you want this file to be assigned to you and an member will

[2021-10-18 13:41] cmaureir opened #1534 "Translate 'c-api/init.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/c-api/init.html once translated.
Meanwhile, the English version is shown.

Current stats for `c-api/init.po`:

* Fuzzy: 6
* Percent translated: 99.7%
* Entries: 312 / 313
* Untranslated: 1

Please, comment here if you want this file to be assigned to you and an member will a

[2021-10-18 13:41] cmaureir opened #1535 "Translate 'c-api/code.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/c-api/code.html once translated.
Meanwhile, the English version is shown.

Current stats for `c-api/code.po`:

* Fuzzy: 0
* Percent translated: 81.8%
* Entries: 9 / 11
* Untranslated: 2

Please, comment here if you want this file to be assigned to you and an member will assi

[2021-10-18 13:41] cmaureir opened #1536 "Translate 'c-api/sys.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/c-api/sys.html once translated.
Meanwhile, the English version is shown.

Current stats for `c-api/sys.po`:

* Fuzzy: 2
* Percent translated: 94.7%
* Entries: 71 / 75
* Untranslated: 4

Please, comment here if you want this file to be assigned to you and an member will assig

[2021-10-18 13:41] cmaureir opened #1537 "Translate 'c-api/typeobj.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/c-api/typeobj.html once translated.
Meanwhile, the English version is shown.

Current stats for `c-api/typeobj.po`:

* Fuzzy: 36
* Percent translated: 97.1%
* Entries: 603 / 621
* Untranslated: 18

Please, comment here if you want this file to be assigned to you and an membe

[2021-10-18 13:41] cmaureir opened #1542 "Translate 'c-api/apiabiversion.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/c-api/apiabiversion.html once translated.
Meanwhile, the English version is shown.

Current stats for `c-api/apiabiversion.po`:

* Fuzzy: 18
* Percent translated: 65.7%
* Entries: 23 / 35
* Untranslated: 12

Please, comment here if you want this file to be assigned to you an

[2021-10-18 13:41] cmaureir opened #1543 "Translate 'c-api/init_config.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/c-api/init_config.html once translated.
Meanwhile, the English version is shown.

Current stats for `c-api/init_config.po`:

* Fuzzy: 82
* Percent translated: 69.7%
* Entries: 315 / 452
* Untranslated: 137

Please, comment here if you want this file to be assigned to you and

[2021-10-18 13:41] cmaureir opened #1544 "Translate 'extending/newtypes.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/extending/newtypes.html once translated.
Meanwhile, the English version is shown.

Current stats for `extending/newtypes.po`:

* Fuzzy: 1
* Percent translated: 96.8%
* Entries: 91 / 94
* Untranslated: 3

Please, comment here if you want this file to be assigned to you and an

[2021-10-18 13:41] cmaureir opened #1545 "Translate 'extending/extending.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/extending/extending.html once translated.
Meanwhile, the English version is shown.

Current stats for `extending/extending.po`:

* Fuzzy: 0
* Percent translated: 99.4%
* Entries: 158 / 159
* Untranslated: 1

Please, comment here if you want this file to be assigned to you an

[2021-10-18 16:12] cmaureir commented on #1543
Son bastantes entradas eh! así que mucha suerte @gomezgleonardob :tada:

[2021-10-19 00:49] cacrespo commented on #1306
Hola @fmontalvoo 👋  ¿cómo estás?
Estuve revisando el PR y el problema venía por el lado del "ancho" del archivo `logging.po`.
Probablemente mientras hacías la traducción se cambió. ¿Utilizas poedit? Revisa si tienes seteado en 79 caracteres. Va una imagen:
![image](https://user-images.githubusercontent.com/10950697/137825713-8af2617a-0f1b-4b4e-b195-0d746fffa08a.png)

Dado que en el medio de todo e

[2021-10-19 00:52] rodpoblete commented on #1542
Please assign me :)

[2021-10-19 01:35] rodpoblete commented on #1545
Please assign me :)

[2021-10-19 08:37] #1390 closed

[2021-10-19 09:28] humitos commented on #1405
(ah, it seems I can't assign it to you if you haven't interacted with the repository already)

[2021-10-19 09:48] cmaureir opened #1551 "Mejorar notas de actualización de versiones"
Algunas cosas que no están mencionadas
  * Crear la rama (por ejemplo, 3.11)
  * Borrar más archivos propios (existen otros archivos en .overrides que hay que borrar en el submodulo cpython)
  * Configurar un entorno virtual e instalar los requerimientos
  * En vez de utilizar el último commit de la rama, utilizar el último tag.
  * Al actualizar cpython comprobar el build sin warnings
  * Verific

[2021-10-19 17:20] rodpoblete commented on #1542
🎉

[2021-10-19 19:00] andresbermeoq commented on #1535
Disculpa @cmaureir creo que ya está traducida al 100%, creo que buscaré otra librería para traducir

[2021-10-20 09:52] josephLSalgado commented on #1409
Hola @cmaureir ¿me asignas este otro también? 😁

[2021-10-20 10:53] #1544 closed

[2021-10-21 09:59] #1525 closed

[2021-10-21 10:01] #1479 closed

[2021-10-21 18:13] #1409 closed

[2021-10-22 04:10] franciscomelov commented on #1408
Puedo terminarlo?

[2021-10-29 18:16] cmaureir commented on #1407
hecho!

[2021-10-29 18:16] cmaureir commented on #1518
gracias!

[2021-10-29 18:16] cmaureir commented on #1430
perfecto @JuliKM :tada:!

[2021-10-29 18:18] cmaureir commented on #1529
Sí, para más información puedes mirar la memoria de traducción acá
https://python-docs-es.readthedocs.io/es/3.10/translation-memory.html

me parece super

[2021-10-29 18:19] cmaureir commented on #1529
La traducción al español debería ser identica respecto a código, con lo que la parte traducida que señalas estaría incorrecta, tanto por el espacio en blanco antes de `(` y default en vez de `defaultvalue`

[2021-10-29 18:19] cmaureir commented on #1527
todo tuyo :tada:

[2021-10-29 18:38] #1306 closed

[2021-10-29 18:39] #1496 closed

[2021-10-29 19:23] brivadeneira commented on #1524
Se me podría asignar este también?

[2021-10-30 12:21] cmaureir commented on #1524
claro! mucho éxito!

[2021-10-30 12:23] #1407 closed

[2021-10-30 16:24] manudefrutosvila commented on #1507
☝️ ☝️  😊

[2021-10-30 18:56] #1417 closed

[2021-10-30 18:56] #1419 closed

[2021-10-30 18:56] #1422 closed

[2021-10-30 20:10] sofide commented on #1522
Hi! I would like to take this issue :)

[2021-10-30 22:27] cmaureir commented on #1507
mucho éxito @manudefrutosvila

[2021-10-30 22:27] #1430 closed

[2021-10-30 22:30] cmaureir commented on #1522
todo tuyo

[2021-10-30 22:45] #1529 closed

[2021-10-30 23:18] sofide commented on #1521
Hi! I'd like to  work in this issue.

[2021-10-30 23:24] fragalcer commented on #1520
I would like to work on this issue

[2021-10-30 23:25] fragalcer commented on #1519
I would like to work on this issue.

[2021-10-31 10:20] cmaureir commented on #1521
todo tuyo, recuerda igual esperar a que se te asigne antes de trabajar

[2021-10-31 10:20] cmaureir commented on #1520
todo tuyo!

[2021-10-31 10:20] cmaureir commented on #1519
mucho éxito

[2021-10-31 10:21] #1518 closed

[2021-10-31 10:26] #1542 closed

[2021-10-31 12:39] paaaron commented on #1372
Hola a todos, acualmente tengo el siguiente inconveniente:
Cuando agrego el ";" el powrap falla
![image](https://user-images.githubusercontent.com/679293/139583589-9244aed9-e9c6-4bb9-aa19-f26cf157a7dc.png)
![image](https://user-images.githubusercontent.com/679293/139583626-02ad6bf2-f720-4ded-840d-ba80aa7145f5.png)
De antemano muchas gracias por el apoyo.

[2021-10-31 14:27] #1522 closed

[2021-10-31 14:28] #1521 closed

[2021-10-31 14:32] cmaureir commented on #1372
cómo falla? ahí no veo el error.
Quítale el '--check' y solo ejecuta `powrap library/pprint.po` y ya con eso se hará el wrap.

[2021-10-31 15:26] #1526 closed

[2021-10-31 15:54] alvarmaciel commented on #1505
Hola. Quisiera trabajar en este archivo :robot:

[2021-10-31 15:57] cacrespo commented on #1505
Que lo disfrutes! 🥳

[2021-10-31 16:04] #1507 closed

[2021-10-31 16:17] gmmonsalve commented on #1511
Hola! me gustaría trabajar en este Issue 😃

[2021-10-31 16:21] gmmonsalve commented on #1504
Me gustaría trabajar en esta también 😊

[2021-10-31 16:34] gmmonsalve commented on #1513
Me gustaría trabajar en este archivo también! 📝

[2021-10-31 17:39] paaaron commented on #1372
Funciona perfecto. Muchas gracias.

[2021-10-31 18:27] paaaron commented on #1372
El test falla con ese error. Alguna idea?

![image](https://user-images.githubusercontent.com/679293/139596839-31dc887f-ac2e-4b42-bb10-1302b141f606.png)

[2021-10-31 18:38] cacrespo commented on #1372
Hola @paaaron! El problema está en el archivo `pprint.po`. En alguna linea del original tenés
[code]
pero luego en la entrada traducida te falta eso. Es probable que se te haya cambiado ´ por ' o algo así...

[2021-10-31 18:45] paaaron commented on #1372
Efectivamente ya lo solucioné. Muhcas gracias!

[2021-11-01 08:28] TiaIvonne commented on #1497
Hola @cmaureir puedes asignarme esto? gracias

[2021-11-01 08:37] cmaureir commented on #1511
mucho éxito!

[2021-11-01 08:38] cmaureir commented on #1504
todo tuyo!

[2021-11-01 08:38] cmaureir commented on #1513
@gmmonsalve te asigné otras 2 issues, veamos si se une otra persona que esté comenzando para que haga este archivo que solo tiene una entrada.

[2021-11-01 08:41] cmaureir commented on #1497
83 entradas pendientes y 18 fuzzy :O
Mucho éxito! se viene bastante trabajo.

Recuerda volver a la rama 3.10 y verificar que no hay commits tuyos en tu repositorio antes de crear una nueva rama para esta traducción. Mucho éxito

[2021-11-01 10:46] #1505 closed

[2021-11-01 12:26] alvarmaciel commented on #1474
Buenas, Solicito este Issue para seguir

[2021-11-01 13:26] cmaureir commented on #1474
todo tuyo. recuerda que hay que arreglar los fuzzy y los sin traducción

[2021-11-01 13:48] paaaron commented on #1372
Hola,

Actualmente tengo este error:

![image](https://user-images.githubusercontent.com/679293/139681967-6c048495-2931-4623-b503-06c49efb932f.png)

[2021-11-01 14:46] TiaIvonne commented on #1497
Hola @cmaureir tengo una pregunta en el archivo a traducir aparece una tabla de comandos seguidos de un valor, es necesario traducir esos elementos? ej %h height no se si es conveniente traducirlo a : %h altura. Gracias

[2021-11-01 17:57] cmaureir commented on #1372
Ten cuidado @paaaron, actualizaste el submodulo `cpython` y eso hará que se rompa todo. Si te parece mejor, puedes siempre comenzar con una issue que tenga un solo archivo que traducir.
Es muy probable que todo eso venga porque agregaste el submodulo, pues es de un archivo que no has modificado.

[2021-11-01 17:58] #1524 closed

[2021-11-01 17:59] cmaureir commented on #1497
Viendo el archivo con `poedit` esos elementos no necesitan ser traducidos.

[2021-11-02 01:13] marcorichetta commented on #21
Buenas!

Después de bastante tiempo quise volver al proyecto y veo que este issue quedó en el limbo.
Como dice Cristian, si no usamos Transifex no le sacaremos mucho provecho.

Repregunto esto por si se les ocurre alguna feature útil actualmente para agregarle al bot que ya tenemos.

[2021-11-02 01:20] marcorichetta commented on #1418
Me interesaría trabajar en este issue.
Vi los demás issues abiertos y tienen muy pocas cadenas para traducir. Entiendo que son útiles para gente que contribuye por primera vez al proyecto, por eso es que solicito este.

Gracias :)

[2021-11-02 11:54] cmaureir commented on #1418
vale, mucho éxito y paciencia!

[2021-11-02 11:55] cmaureir commented on #21
De lo que alcancé a ver no vi nada que llamara mucho la atención, quizás tienes algo en mente?
Las features actuales no han cambiado mucho, solo que ahora tenemos un comando para listar los video-tutoriales que tenemos.

[2021-11-02 13:22] JuliKM commented on #1413
¡Hola!  ¿me pueden asignar este issue? Lo quiero traducir en el taller de Pycon Chile.

[2021-11-02 13:32] gianfranco-s commented on #1478
¡Hola! Voy por mi segundo issue, a pesar de que este está marcado como `good first issue`. ¿O sería mejor que encare otro?

[2021-11-02 16:38] #1474 closed

[2021-11-03 12:55] alvarmaciel commented on #1483
Hola. Pido este para terminarlo!

[2021-11-03 21:00] cmaureir commented on #1478
todo tuyo, yo creo que con un par de good first issue está OK

[2021-11-03 21:01] cmaureir commented on #1483
ya con este te graduas @alvarmaciel :clap: a ver si luego puedes elegir uno que no sea 'good first issue'

[2021-11-04 10:15] josephLSalgado commented on #1492
¡Hola! Ya que terminó el hacktoberfest y todo está más tranquilo, ¿qué tal si empiezo con este?

[2021-11-05 00:24] JuanPerdomo00 commented on #1482
Quiero trabajar en esta traducción

[2021-11-05 05:02] erickisos commented on #1517
Can I start working on this?

[2021-11-05 13:36] ana-elisa-kuhn commented on #1509
Me gustaría que me asignen este Issue! :)

[2021-11-05 13:37] sporella commented on #1495
Hola, me gustaría traducir este issue :)

[2021-11-05 13:39] cacrespo commented on #1509
Hecho! que lo disfrutes! 😄

[2021-11-05 13:46] cacrespo commented on #1495
Hecho. Feliz traducción!!

[2021-11-05 13:46] mjjorgeh commented on #1511
Hola me gustaria trabajar en este Issue

[2021-11-05 14:01] ibianka commented on #1506
Hola me gustaria trabajar en este issue, si me pueden asignar. Gracias

[2021-11-05 14:02] cacrespo commented on #1506
🥳 🥳 🥳  Adelante!

[2021-11-05 14:05] Rafaelbarr commented on #1493
Solicito que me asignen este issue.

[2021-11-05 14:24] #1509 closed

[2021-11-05 14:35] rtobar commented on #1462
¡Para mí por favor!

[2021-11-05 14:45] mjjorgeh commented on #1498
Me gustaria trabajar en este Issue.

[2021-11-05 14:47] cacrespo commented on #1498
Adelante! 💪💪💪

[2021-11-05 14:49] ana-elisa-kuhn commented on #1491
Hola, me gustaría traducir este issue!

[2021-11-05 15:08] cacrespo commented on #1511
Hola @mjjorgeh! este isse ya tiene una persona asignada. Es mejor que busques algún otro que nadie esté trabajando ;-)

[2021-11-05 15:14] #1495 closed

[2021-11-05 15:14] marcorichetta commented on #21
No realmente. Preguntaba porque no estoy al tanto del día a día del grupo.

Una feature interesante es esta #629 pero creo que será más fácil hacerlo como ya está planteado mediante GH.

[2021-11-05 16:36] erickisos commented on #1514
Could you assign this to me?

[2021-11-05 16:37] erickisos commented on #1503
I want to be assigned to this one!

[2021-11-05 22:19] #1506 closed

[2021-11-06 14:06] Tony-Rome commented on #1502
Hola, me gustaría tomar este issue como primera contribución, si se me puede asignar. Gracias.

[2021-11-07 17:32] TiaIvonne commented on #1494
Hola @cmaureir puedes asignarme este issue? gracias!

[2021-11-08 10:32] cacrespo commented on #1502
@Tony-Rome éxitos!

[2021-11-09 02:54] erickisos commented on #1501
Could you assign this to me please?

[2021-11-09 09:32] TiaIvonne commented on #1494
listo :)

[2021-11-09 09:35] TiaIvonne commented on #1489
Hola! me pueden asignar este issue? gracias!

[2021-11-09 11:01] cmaureir commented on #1501
todo tuyo @erickisos

[2021-11-09 11:02] cmaureir commented on #1489
todo tuyo @TiaIvonne :tada:

[2021-11-09 11:03] #1462 closed

[2021-11-09 11:03] cmaureir commented on #1514
mucho éxito @erickisos :tada:

[2021-11-09 11:04] cmaureir commented on #1517
te asigné otros @erickisos , cuando los acabes podemos seguir con este ;)

[2021-11-09 11:08] #1483 closed

[2021-11-09 11:09] #1536 closed

[2021-11-09 12:08] #1478 closed

[2021-11-09 14:06] #1502 closed

[2021-11-09 17:15] Tony-Rome commented on #1508
Hola me gustaría tomar esta issue por favor, gracias 😄.

[2021-11-09 17:16] Tony-Rome commented on #1487
Hola! me gustaría también trabajar en esta issue 😃 por favor.

[2021-11-10 11:07] alvarmaciel commented on #1488
Buenas. Pido este issue!!

[2021-11-10 19:33] cmaureir commented on #1488
mucho éxito :tada:

[2021-11-10 19:35] cmaureir commented on #1487
gracias!
Si ya tienes costumbre con temas de Pull requests y github, mucho éxito!
Si es algo nuevo, recuerda volver a la rama `3.10` antes de crear otra rama para comenzar esta traducción y las otras ;)

[2021-11-10 19:35] cmaureir commented on #1508
con este archivo ya te matriculas de los 'good first issue' ;) Muchas gracias

[2021-11-11 12:14] astrojuanlu opened #1633 "Cadena sin traducir en la versión 3.10 del tutorial"
https://docs.python.org/es/3/tutorial/

![Screenshot 2021-11-11 at 13-13-45 Tutorial de Python — documentación de Python - 3 10 0](https://user-images.githubusercontent.com/316517/141296207-233eeaaa-6032-4231-8735-1869f5f3e437.png)

En la versión 3.9 está correcto.

[2021-11-12 02:06] rtobar commented on #1456
para mi porfa

[2021-11-12 02:43] rtobar commented on #1400
por acá por favor

[2021-11-12 10:29] #1508 closed

[2021-11-13 19:38] dcristobalh commented on #1477
Count on me!!

[2021-11-13 20:26] #1456 closed

[2021-11-13 20:27] #1400 closed

[2021-11-13 20:30] cmaureir commented on #1477
gracias @dcristobalh :tada:

[2021-11-13 20:34] #1501 closed

[2021-11-13 20:46] #1514 closed

[2021-11-13 20:47] #1503 closed

[2021-11-15 00:52] erickisos commented on #1633
Creo que aparece así porque está marcado como _fuzzy_ en los archivos, however, acabo de crear un PR para tratar de corregir esto, also aproveché para cambiar un poco el texto en algunas partes por si quieres revisarlo y dejar alguna sugerencia está en #1641

[2021-11-15 02:07] erickisos commented on #1517
LIsto, podemos seguir con este?

[2021-11-15 10:19] #1487 closed

[2021-11-15 10:27] #1633 closed

[2021-11-15 10:27] cmaureir commented on #1517
todo tuyo

[2021-11-16 18:40] cmaureir commented on #1481
gracias!

[2021-11-16 18:40] macagua commented on #1392
Please assign me :)

[2021-11-18 10:17] lis17 commented on #1420
Hola. Me gustaría traducir este archivo

[2021-11-19 10:16] cmaureir commented on #1392
todo tuyo :tada:

[2021-11-19 10:16] #1492 closed

[2021-11-19 10:17] #1517 closed

[2021-11-19 10:17] cmaureir commented on #1420
mucho éxito!

[2021-11-21 04:40] erickisos commented on #1391
Puedo tomar este?

[2021-11-21 17:40] hector-sab commented on #1513
Hola @cmaureir, yo puedo tomar este issue.

[2021-11-21 20:39] hector-sab commented on #1485
Hola, yo puedo trabajar en este issue.

[2021-11-23 13:28] cmaureir commented on #1391
gracias!

[2021-11-23 13:29] cmaureir commented on #1513
todo tuyo @hector-sab !

[2021-11-23 13:29] cmaureir commented on #1485
te lo dejamos también :tada:

[2021-11-23 16:06] rtobar commented on #1446
Para mi por favor

[2021-11-23 16:47] rtobar commented on #1432
Para mí por favor

[2021-11-24 12:22] #1446 closed

[2021-11-25 12:11] #1513 closed

[2021-11-25 12:15] #1432 closed

[2021-11-26 13:31] #1391 closed

[2021-11-26 22:55] #1394 closed

[2021-11-26 22:55] #1395 closed

[2021-11-26 22:55] #1396 closed

[2021-11-26 22:55] #1398 closed

[2021-11-26 22:55] #1401 closed

[2021-11-27 19:08] dcristobalh commented on #1470
Count on me! :)

[2021-11-28 15:06] #1402 closed

[2021-11-28 15:08] cmaureir commented on #1470
todo tuyo @dcristobalh :tada:

[2021-12-02 07:59] #1470 closed

[2021-12-02 08:04] #1406 closed

[2021-12-02 08:05] #1403 closed

[2021-12-06 22:25] #1412 closed

[2021-12-06 22:27] #1477 closed

[2021-12-07 02:39] erickisos commented on #1414
Podrían asignarme este?

[2021-12-07 07:33] hector-sab commented on #1485
@cmaureir listo el PR

[2021-12-07 07:45] hector-sab commented on #1485
Por cierto @cmaureir  ¿Algo mas en lo que pueda ayudar? Veo que la mayoria de issues abiertos son `good first issue` y no sé si planeen dejarlos ahí para personas queriendo empezar a contribuir o si puedo ir pidiendolos para ir cerrandolos.

[2021-12-07 09:40] josephLSalgado commented on #1480
Buenas @cmaureir, quiero este issue :)

[2021-12-07 21:49] cmaureir commented on #1414
todo tuyo!

[2021-12-07 21:50] cmaureir commented on #1485
no te preocupes, como son archivos con pocas entradas, por eso solo quedan de esos...pero hay que terminarlos en algún momento, asi que adelante :)

[2021-12-07 21:50] #1485 closed

[2021-12-07 21:50] cmaureir commented on #1480
mucho éxito!

[2021-12-08 08:56] #1410 closed

[2021-12-08 08:56] #1404 closed

[2021-12-08 15:11] aroquega commented on #1461
@cmaureir yo me encargo de ese 1

[2021-12-08 15:12] aroquega commented on #1467
@cmaureir yo me encargo de esos 8

[2021-12-08 15:12] aroquega commented on #1459
@cmaureir yo me encargo de esos 2

[2021-12-08 15:13] aroquega commented on #1457
@cmaureir yo me encargo de ese 1

[2021-12-08 19:22] #1399 closed

[2021-12-08 19:25] cmaureir commented on #1461
genial!

[2021-12-08 19:25] cmaureir commented on #1467
genial!

[2021-12-08 19:25] cmaureir commented on #1459
yujuuuu :tada:

[2021-12-08 19:25] cmaureir commented on #1457
gracias!

[2021-12-08 19:27] #1325 closed

[2021-12-08 20:25] #1034 closed

[2021-12-08 20:29] #1033 closed

[2021-12-08 20:30] #1174 closed

[2021-12-08 21:27] #1411 closed

[2021-12-08 21:27] #1467 closed

[2021-12-08 21:29] #1459 closed

[2021-12-08 21:29] #1457 closed

[2021-12-08 21:30] #1323 closed

[2021-12-08 21:59] #1393 closed

[2021-12-08 22:04] aroquega commented on #1445
@cmaureir puedo traducir la entrada que falta?

[2021-12-08 22:20] #1262 closed

[2021-12-08 22:22] #1461 closed

[2021-12-08 22:23] #1405 closed

[2021-12-08 22:26] #1534 closed

[2021-12-08 22:28] #1408 closed

[2021-12-08 23:26] #1482 closed

[2021-12-08 23:27] #1494 closed

[2021-12-08 23:36] cmaureir commented on #1445
claro!

[2021-12-09 10:34] #1423 closed

[2021-12-09 11:49] #1465 closed

[2021-12-09 11:49] #1475 closed

[2021-12-09 11:52] cmaureir commented on #1372
Hice el merge temporal que tenías @paaaron y marqué los archivos que ya están listos acá en esta issue.

@cacrespo recuerda que como la generación de issues es automática, nos pisamos los talones cuando hice el nuevo batch de issues, con lo que para quien tome archivos faltantes, no olvide poner una clausula `closes #xxxx` de las siguientes issues:

https://github.com/python/python-docs-es/issues/

[2021-12-09 14:23] cmaureir commented on #1281
tomando esta issue que lleva mucho tiempo desatendida

[2021-12-09 14:42] #1420 closed

[2021-12-09 14:53] #1433 closed

[2021-12-09 15:10] #1488 closed

[2021-12-09 19:46] #1438 closed

[2021-12-10 02:59] #1434 closed

[2021-12-10 03:42] #1413 closed

[2021-12-10 03:48] #1397 closed

[2021-12-10 07:52] #1427 closed

[2021-12-10 13:10] #1445 closed

[2021-12-10 13:14] #1425 closed

[2021-12-10 23:39] #1448 closed

[2021-12-10 23:43] #1444 closed

[2021-12-10 23:44] #1424 closed

[2021-12-10 23:46] #1429 closed

[2021-12-10 23:47] aroquega commented on #1453
Puedo tomar esta @cmaureir ?

[2021-12-10 23:47] aroquega commented on #1452
Puedo encargarme de ese 1 @cmaureir

[2021-12-10 23:47] aroquega commented on #1451
Puedo encargarme de esos 2 @cmaureir

[2021-12-10 23:47] aroquega commented on #1441
Puedo encargarme de esos 2 @cmaureir

[2021-12-12 10:20] #1416 closed

[2021-12-12 10:49] JuliKM commented on #1466
Hola, podría trabajar en este issue?

[2021-12-12 12:16] cacrespo opened #1705 "Error de indentación en el build"
Cuando traducimos `faq/programming.po` encontramos que a la hora de construirse la documentación se genera un error en la indentación de un bloque de código y hace fallar los tests.
Lo hemos solucionado parcialmente evitando traducir un párrafo.

[Aquí](https://github.com/python/python-docs-es/pull/1567#issuecomment-954217631) más detalles.

[2021-12-12 12:17] #1512 closed

[2021-12-12 17:49] #1415 closed

[2021-12-12 17:50] #1439 closed

[2021-12-12 17:52] cmaureir commented on #1392
@macagua te puedo ayudar con algo?

[2021-12-12 17:53] #1440 closed

[2021-12-12 18:15] #1441 closed

[2021-12-12 19:41] #1452 closed

[2021-12-12 19:41] #1451 closed

[2021-12-12 19:42] #1453 closed

[2021-12-12 20:27] aroquega commented on #1476
¿Puedo tomar esta bestia de 10 entradas?

[2021-12-12 20:34] #1447 closed

[2021-12-12 21:12] #1460 closed

[2021-12-12 21:13] #1426 closed

[2021-12-12 21:13] #1443 closed

[2021-12-12 21:14] #1442 closed

[2021-12-12 21:16] cmaureir commented on #1476
por supuesto!

[2021-12-12 21:52] #1455 closed

[2021-12-12 21:52] #1464 closed

[2021-12-12 21:53] #1449 closed

[2021-12-12 21:54] #1431 closed

[2021-12-12 22:20] #1463 closed

[2021-12-12 22:39] #1473 closed

[2021-12-14 00:54] #1454 closed

[2021-12-14 00:59] #1319 closed

[2021-12-14 02:47] rtobar commented on #1472
Creo que tengo esto traducido ya en mi computador, voy a hacer el PR en un rato cuando tenga acceso de nuevo.

[2021-12-14 02:48] rtobar commented on #1469
Para mi

[2021-12-14 02:49] rtobar commented on #1471
Mio

[2021-12-14 13:23] #1476 closed

[2021-12-14 13:23] #1450 closed

[2021-12-14 13:28] cmaureir commented on #1519
tomando esta issue por inactividad

[2021-12-14 13:31] cmaureir commented on #1519
@fragalcer te invitamos a tomar otro issue de los que quedan disponible cuando quieras!

[2021-12-14 13:32] cmaureir commented on #1520
tomando este issue por inactividad. Te invitamos a tomar otro issue de los que quedan abiertos :)

[2021-12-14 13:35] cmaureir commented on #1535
tomando esta issue por inactividad, recuerda que puedes pedir cualquier otra issue abierta @andresbermeoq :)

[2021-12-14 13:37] cmaureir commented on #1543
tomando esta issue por inactividad, recuerda que puedes pedir cualquier otra issue!

[2021-12-14 13:44] #1481 closed

[2021-12-14 13:56] cmaureir commented on #1527
tomando este issue por inactividad, recuerda que puedes volver a pedir cualquier issue disponible!

[2021-12-14 13:59] cmaureir commented on #1537
tomando este issue por inactividad, recuerda que puedes volver a pedir cualquier issue disponible!

[2021-12-14 23:35] #1519 closed

[2021-12-15 08:42] #1472 closed

[2021-12-15 08:44] #1458 closed

[2021-12-15 08:44] #1281 closed

[2021-12-15 08:47] #1471 closed

[2021-12-15 08:48] #1469 closed

[2021-12-15 09:21] #1527 closed

[2021-12-15 09:23] #1520 closed

[2021-12-15 09:24] #1535 closed

[2021-12-15 10:13] cmaureir commented on #1414
Te podemos ayudar con algo @erickisos ?

[2021-12-15 10:14] cmaureir commented on #1497
te podemos ayudar en algo @TiaIvonne ?

[2021-12-15 10:14] cmaureir commented on #1498
Hola @mjjorgeh te podemos ayudar en algo?

[2021-12-15 10:14] cmaureir commented on #1504
@gmmonsalve te podemos ayudar en algo?

[2021-12-15 10:18] cmaureir commented on #1490
tomando esta issue por inactividad. Recuerda que puedes pedir otra issue sin problema!

[2021-12-15 10:24] cmaureir commented on #1511
tomando issue por inactividad, recuerda que puedes pedir cualquier otra!

[2021-12-15 10:44] cmaureir opened #1740 "Translate 'library/locale.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/library/locale.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/locale.po`:

* Fuzzy: 0
* Percent translated: 99.3%
* Entries: 141 / 142
* Untranslated: 1

Please, comment here if you want this file to be assigned to you and an membe

[2021-12-15 10:44] cmaureir opened #1741 "Translate 'library/site.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/library/site.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/site.po`:

* Fuzzy: 3
* Percent translated: 97.5%
* Entries: 39 / 40
* Untranslated: 1

Please, comment here if you want this file to be assigned to you and an member will

[2021-12-15 10:44] cmaureir opened #1742 "Translate 'library/pathlib.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/library/pathlib.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/pathlib.po`:

* Fuzzy: 24
* Percent translated: 95.4%
* Entries: 208 / 218
* Untranslated: 10

Please, comment here if you want this file to be assigned to you and an m

[2021-12-15 10:44] cmaureir opened #1743 "Translate 'library/os.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/library/os.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/os.po`:

* Fuzzy: 27
* Percent translated: 94.8%
* Entries: 804 / 848
* Untranslated: 44

Please, comment here if you want this file to be assigned to you and an member will

[2021-12-15 10:44] cmaureir opened #1744 "Translate 'library/importlib.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/library/importlib.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/importlib.po`:

* Fuzzy: 9
* Percent translated: 98.2%
* Entries: 328 / 334
* Untranslated: 6

Please, comment here if you want this file to be assigned to you and an

[2021-12-15 10:44] cmaureir opened #1745 "Translate 'library/filecmp.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/library/filecmp.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/filecmp.po`:

* Fuzzy: 0
* Percent translated: 90.5%
* Entries: 38 / 42
* Untranslated: 4

Please, comment here if you want this file to be assigned to you and an membe

[2021-12-15 10:44] cmaureir opened #1746 "Translate 'library/statistics.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/library/statistics.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/statistics.po`:

* Fuzzy: 7
* Percent translated: 94.8%
* Entries: 164 / 173
* Untranslated: 9

Please, comment here if you want this file to be assigned to you and

[2021-12-15 10:44] cmaureir opened #1747 "Translate 'library/decimal.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/library/decimal.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/decimal.po`:

* Fuzzy: 0
* Percent translated: 99.7%
* Entries: 328 / 329
* Untranslated: 1

Please, comment here if you want this file to be assigned to you and an mem

[2021-12-15 10:44] cmaureir opened #1748 "Translate 'library/urllib.request.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/library/urllib.request.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/urllib.request.po`:

* Fuzzy: 4
* Percent translated: 99.6%
* Entries: 278 / 279
* Untranslated: 1

Please, comment here if you want this file to be assigned to

[2021-12-15 10:44] cmaureir opened #1749 "Translate 'library/codecs.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/library/codecs.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/codecs.po`:

* Fuzzy: 2
* Percent translated: 99.4%
* Entries: 502 / 505
* Untranslated: 3

Please, comment here if you want this file to be assigned to you and an membe

[2021-12-15 10:44] cmaureir opened #1750 "Translate 'library/tempfile.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/library/tempfile.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/tempfile.po`:

* Fuzzy: 4
* Percent translated: 95.4%
* Entries: 62 / 65
* Untranslated: 3

Please, comment here if you want this file to be assigned to you and an mem

[2021-12-15 10:44] cmaureir opened #1751 "Translate 'library/fileinput.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/library/fileinput.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/fileinput.po`:

* Fuzzy: 2
* Percent translated: 90.9%
* Entries: 40 / 44
* Untranslated: 4

Please, comment here if you want this file to be assigned to you and an m

[2021-12-15 10:44] cmaureir opened #1752 "Translate 'library/threading.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/library/threading.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/threading.po`:

* Fuzzy: 5
* Percent translated: 94.3%
* Entries: 198 / 210
* Untranslated: 12

Please, comment here if you want this file to be assigned to you and a

[2021-12-15 10:44] cmaureir opened #1753 "Translate 'library/logging.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/library/logging.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/logging.po`:

* Fuzzy: 7
* Percent translated: 99.4%
* Entries: 321 / 323
* Untranslated: 2

Please, comment here if you want this file to be assigned to you and an mem

[2021-12-15 10:44] cmaureir opened #1754 "Translate 'library/token.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/library/token.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/token.po`:

* Fuzzy: 1
* Percent translated: 27.7%
* Entries: 18 / 65
* Untranslated: 47

Please, comment here if you want this file to be assigned to you and an member w

[2021-12-15 10:44] cmaureir opened #1755 "Translate 'library/curses.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/library/curses.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/curses.po`:

* Fuzzy: 1
* Percent translated: 99.4%
* Entries: 634 / 638
* Untranslated: 4

Please, comment here if you want this file to be assigned to you and an membe

[2021-12-15 10:44] cmaureir opened #1756 "Translate 'library/configparser.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/library/configparser.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/configparser.po`:

* Fuzzy: 1
* Percent translated: 98.3%
* Entries: 172 / 175
* Untranslated: 3

Please, comment here if you want this file to be assigned to you

[2021-12-15 10:44] cmaureir opened #1757 "Translate 'library/traceback.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/library/traceback.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/traceback.po`:

* Fuzzy: 1
* Percent translated: 90.4%
* Entries: 66 / 73
* Untranslated: 7

Please, comment here if you want this file to be assigned to you and an m

[2021-12-15 10:44] cmaureir opened #1758 "Translate 'library/zipfile.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/library/zipfile.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/zipfile.po`:

* Fuzzy: 0
* Percent translated: 99.4%
* Entries: 177 / 178
* Untranslated: 1

Please, comment here if you want this file to be assigned to you and an mem

[2021-12-15 10:45] cmaureir opened #1759 "Translate 'library/cgi.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/library/cgi.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/cgi.po`:

* Fuzzy: 0
* Percent translated: 98.9%
* Entries: 89 / 90
* Untranslated: 1

Please, comment here if you want this file to be assigned to you and an member will a

[2021-12-15 10:47] cmaureir commented on #1491
tomando esta issue por inactividad, pero puedes tomar cualquier otra issue abierta!

[2021-12-15 10:57] cmaureir commented on #1493
tomando esta issue por inactividad

[2021-12-15 13:32] aroquega commented on #1753
¿puedo hacer esta parte?

[2021-12-15 13:37] aroquega commented on #1740
Puedo hacer este issue?

[2021-12-15 13:39] aroquega commented on #1744
Puedo hacer este?

[2021-12-15 13:39] aroquega commented on #1758
Puedo hacer este? y porqué les agregas hacktoberfest y luego lo quitas?

[2021-12-15 14:07] erickisos commented on #1414
@cmaureir todo bien, perdón por el retraso pero me cargué un poco de trabajo esta semana

[2021-12-15 14:42] aroquega commented on #1747
¿Puedo hacer este?

[2021-12-15 15:25] rtobar commented on #1747
Me di la libertad de decidir que sí :)

[2021-12-15 15:59] #1511 closed

[2021-12-15 16:00] #1468 closed

[2021-12-15 16:03] cmaureir commented on #1758
porque las issues las creo automáticamente con un script, y tenía la configuración que use para el Hacktoberfest, pero como ya pasó, no es necesario tenerlas, así que se las he quitado.

[2021-12-15 16:03] #1754 closed

[2021-12-15 22:59] alftri commented on #1756
Hi! Can I get this issue? I am willing for a first contribution :)

[2021-12-16 03:57] #1758 closed

[2021-12-16 04:49] #1747 closed

[2021-12-16 06:01] #1740 closed

[2021-12-16 12:51] #1749 closed

[2021-12-16 13:03] cmaureir commented on #1489
@TiaIvonne te podemos ayudar con algo? si no puedes seguir con el issue, puedes pedir otra issue cuando tengas más tiempo sin problema :)

[2021-12-16 14:20] #1741 closed

[2021-12-17 11:21] #1746 closed

[2021-12-17 11:22] #1759 closed

[2021-12-17 11:23] #1742 closed

[2021-12-17 11:23] #1493 closed

[2021-12-17 13:24] cmaureir commented on #1372
tomando esta issue para acabarla

[2021-12-17 13:26] #1372 closed

[2021-12-17 14:30] #1748 closed

[2021-12-17 14:33] #1757 closed

[2021-12-17 15:52] #1745 closed

[2021-12-18 01:53] #1756 closed

[2021-12-19 00:24] #1466 closed

[2021-12-19 01:36] #1755 closed

[2021-12-21 02:06] #1537 closed

[2021-12-27 17:40] rtobar opened #1786 "Robot powrap en GitHub"
Esto es sólo una idea por el momento, que la quiero dejar flotando: podríamos tener un robot en GH al que uno le pueda pedir en una PR que corra powrap sobre los archivos para así tener que evitar que los usuarios lo tengan que correr de forma manual después de una corrección que se lleva a cabo a través de la UI de los PR.

[2021-12-29 15:04] #1750 closed

[2021-12-30 14:39] #1751 closed

[2021-12-30 20:01] cmaureir commented on #1392
tomando esta issue por inactividad, recuerda que puedes buscar issues abiertas sin problema cuando tengas tiempo!

[2021-12-30 20:09] cmaureir commented on #1489
tomando esta issue por inactividad

[2021-12-30 20:14] #1491 closed

[2021-12-30 20:15] cmaureir commented on #1497
tomando esta issue por inactividad

[2021-12-30 20:17] #1497 closed

[2021-12-30 20:18] cmaureir commented on #1753
ping @aroquega si no tienes tiempo lo puedo terminar :)

[2021-12-30 20:18] cmaureir commented on #1744
lo mismo acá, si necesitas una mano me dices

[2021-12-30 20:32] cmaureir commented on #1480
tomando esta issue por inactividad

[2021-12-30 20:39] #1743 closed

[2021-12-30 20:47] cmaureir opened #1790 "Translate 'library/marshal.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/library/marshal.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/marshal.po`:

* Fuzzy: 0
* Percent translated: 79.2%
* Entries: 19 / 24
* Untranslated: 5

Please, comment here if you want this file to be assigned to you and an membe

[2021-12-30 20:47] cmaureir opened #1791 "Translate 'library/xml.dom.minidom.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/library/xml.dom.minidom.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/xml.dom.minidom.po`:

* Fuzzy: 1
* Percent translated: 98.0%
* Entries: 50 / 51
* Untranslated: 1

Please, comment here if you want this file to be assigned to

[2021-12-30 20:47] cmaureir opened #1792 "Translate 'library/bisect.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/library/bisect.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/bisect.po`:

* Fuzzy: 5
* Percent translated: 58.6%
* Entries: 17 / 29
* Untranslated: 12

Please, comment here if you want this file to be assigned to you and an member

[2021-12-30 20:47] cmaureir opened #1793 "Translate 'library/asyncio-eventloop.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/library/asyncio-eventloop.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/asyncio-eventloop.po`:

* Fuzzy: 5
* Percent translated: 99.1%
* Entries: 348 / 351
* Untranslated: 3

Please, comment here if you want this file to be assign

[2021-12-30 20:47] cmaureir opened #1794 "Translate 'library/array.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/library/array.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/array.po`:

* Fuzzy: 1
* Percent translated: 95.6%
* Entries: 86 / 90
* Untranslated: 4

Please, comment here if you want this file to be assigned to you and an member wi

[2021-12-30 20:47] cmaureir opened #1795 "Translate 'library/stdtypes.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/library/stdtypes.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/stdtypes.po`:

* Fuzzy: 1
* Percent translated: 99.7%
* Entries: 959 / 962
* Untranslated: 3

Please, comment here if you want this file to be assigned to you and an m

[2021-12-30 20:47] cmaureir opened #1796 "Translate 'library/atexit.po'"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.10/library/atexit.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/atexit.po`:

* Fuzzy: 0
* Percent translated: 94.1%
* Entries: 16 / 17
* Untranslated: 1

Please, comment here if you want this file to be assigned to you and an member

[2021-12-30 21:05] #1480 closed

[2021-12-30 21:10] #1752 closed

[2021-12-30 21:19] #1792 closed

[2021-12-30 21:20] #1489 closed

[2021-12-30 21:20] #1392 closed

[2021-12-30 21:32] cacrespo commented on #1786
Me gusta mucho la idea.
+1

[2021-12-30 21:38] JuliKM commented on #1796
Hola! Puedo trabajar en este issue? A ver si lo termino en este año!

[2021-12-30 21:57] cmaureir opened #1798 "Arreglar entradas fuzzy de archivos que no tienen entradas pendientes para traducir"
El script utilizado para crear las issues estaba basado en entradas pendientes de traducción, no archivos que solo tuvieran entradas fuzzy.

[2021-12-30 22:00] cmaureir commented on #1798
@cacrespo  este era el problema que notaste, los archivos con SOLO entradas fuzzy no eran considerados :+1:

[2021-12-30 22:14] cmaureir commented on #1796
hecho!

[2021-12-31 11:01] sumit-158 commented on #1795
I am new to open source, so can I work on this but i would need some help.

[2021-12-31 11:04] sumit-158 commented on #1794
Can I work on this?

[2021-12-31 11:05] sumit-158 commented on #1791
Can I work on this also?

[2021-12-31 13:38] cacrespo commented on #1798
Genial! ¿Modificaste el script también?

[2022-01-01 03:45] #1796 closed

[2022-01-01 06:24] sumit-158 commented on #1793
can i work on this?

[2022-01-01 06:24] sumit-158 commented on #1790
can i work on this also?

[2022-01-01 23:09] rtobar commented on #1793
Todo tuyo!

[2022-01-01 23:10] rtobar commented on #1790
Todo tuyo también!

[2022-01-02 00:37] cmaureir commented on #1794
claro @sumit-158, mucho éxito!

[2022-01-02 00:38] cmaureir commented on #1791
claro! sería tu segundo, mucho éxito

[2022-01-02 00:38] cmaureir commented on #1798
no, porque uso otro, no el del repo :O

[2022-01-02 00:40] cmaureir commented on #1790
@sumit-158 tienes 4-5 issues asignados, para que más personas lo puedan trabajar, mejor dejas un par en caso que no los puedas hacer en un par de días.