[2020-05-01 18:25] gilgamezh opened #19 "Investigar cómo integrar Transifex o crowding"
Un recurso que puede servir es https://translate.djangogirls.org/

[2020-05-01 18:26] gilgamezh opened #20 "Script para migrar tutorial.python.org.ar al formato de este repo"
Trabajar en un script para poder migrar la traducción de este repo https://github.com/PyAr/tutorial al formato de .po

[2020-05-01 18:26] gilgamezh opened #21 "Integrar el bot de telegram que usan en brasil"
Investigar cómo funciona el bot de https://github.com/python/python-docs-pt-br

[2020-05-01 18:27] gilgamezh opened #22 "Configurar y documentar cómo funcionan los scripts para nuevas versiones de python"

[2020-05-01 18:30] gilgamezh opened #23 "Podemos mover el repo a la organización de python?"
Consultar si es posible mover este repo a https://github.com/python

[2020-05-01 18:37] marcorichetta commented on #21
Agrego link al código del bot - https://github.com/rougeth/i17obot

[2020-05-01 18:44] gilgamezh commented on #21
https://github.com/rougeth/i17obot/issues/5

[2020-05-01 18:50] gilgamezh commented on #19
la version de Brazil está usandolo http://rgth.co/blog/python-ptbr-como-traduzir

[2020-05-01 19:40] humitos commented on #20
Esta lib nos puede servir: https://pypi.org/project/polib/

[2020-05-01 19:46] raulcd commented on #23
Mail enviado a <translation@python.org> para preguntar sobre mover el repo y requisitos para hostear la documentación en docs.python.org

[2020-05-01 20:08] raulcd opened #25 "Travis builds fallan en rama 3.7 debido a palabras que faltan en diccionario"
Builds en la rama 3.7 llevan fallando varios días:
https://travis-ci.org/github/raulcd/python-docs-es

[code]

[2020-05-01 20:34] gilgamezh commented on #19
https://www.transifex.com/python-doc/python-newest/announcements/8917/

![image](https://user-images.githubusercontent.com/1496486/80839607-dc761600-8bfb-11ea-9b91-e985d2513154.png)

[2020-05-02 08:15] clacri commented on #19
Muchas gracias por los recursos. Yo ya me he creado la cuenta en Transifex y he solicitado acceso al proyecto de Python para ver un poco como va el proceso. Al registrarte te da opciones de varios Spanish, sospecho que el que no tiene nada entre paréntesis debe ser el neutro.
<img width="1217" alt="Screenshot 2020-05-02 at 10 08 51" src="https://user-images.githubusercontent.com/10925572/80858925-

[2020-05-02 08:27] clacri commented on #19
Vale, he encontrado esto:https://docs.transifex.com/transifex-github-integrations/github-tx-ui
Aunque no tengo muy claro que tengamos que crear algo nuevo en transifex, sino linkarnos a algo ya existente, ya que el proyecto como tal existe en transifex y lo usan muchas versiones de traduccion, no solo brasil sino china, japon, etc. Creo que cuando tengamos el repositorio asociado a la PSF lo podrí

[2020-05-02 15:46] humitos opened #28 "Revisar los `:role:!key`"
Cuando hicimos la migración #27 aceptamos `:role:!key` como `:role:key`.

La única diferencia entre ellos es que el que tiene `!` no hace un link a la referencia.

Tenemos que revisar que queden consistentes nuevamente.

[2020-05-02 15:47] humitos commented on #25
Esto lo arregló @gilgamezh en #26, pero en #27 se vuelve a romper. Ahora no pasa el `pospell` porque hay muchas palabras argentinas (e inglesas) que no existen en el diccionario `-es`.

[2020-05-02 15:49] raulcd commented on #25
Hay un archivo dict dónde se pueden poner algunas excepciones, quizás podemos incluir algunas de esas palabras ahí?

[2020-05-02 15:51] humitos commented on #25
Sí. Creo que tiene sentido tener un diccionaro con palabras excluídas. También hay palabras que están mal tipeadas. Y, si vamos a mezclar estilos de Español, quizás sea bueno incluír otras variaciones de diccionarios `-es`

[2020-05-02 16:07] silvinabt87 commented on #19
Hola! Me interesa este ticket para colaborar con @clacri

[2020-05-02 16:16] humitos commented on #19
Me acaban de comentar de esta otra plataforma que puede ser interesante pegarle una mirada también: https://weblate.org/es/

[2020-05-02 16:19] humitos commented on #20
Done at #27

[2020-05-02 16:19] #20 closed

[2020-05-02 16:21] humitos opened #31 "Mejorar la guía de CONTRIBUTING"
Tenemos una pequeña guía que explica el procedimiento. Sin embargo, estaría bueno mejorarla un poco para que sea más fácil de seguir para persona que no sepan mucho de github y demás herramientas: https://github.com/raulcd/python-docs-es/blob/3.7/CONTRIBUTING.rst

[2020-05-03 08:47] clacri commented on #31
Vale, anoto esto aquí para que no se me olvide pero pondré una sección específica en el contributing, donde podemos añadir, si os parece, un FAQ, o más bien frequently faced problems.... ahaha y poner si acaso las cosas que pueden ocurrir:

En Mac, fallos al intentar make progress que dicen algo de un realpath son 99% posiblemente la falta de una librería, se soluciona haciendo: brew install coreu

[2020-05-03 10:36] raulcd commented on #31
Deberiamos añadir las herramientas para que el build pase:
`powrap`, `pospell`, diccionarios, etc

[2020-05-03 10:38] raulcd commented on #25
Otras ideas a investigar:
Se puede pasar pospell con varios diccionarios `es-ar`, `es-ES`.
Existe un diccionario de hunspell con un español neutro?
Podemos hacer un merge de varios diccionarios y que se utilice ese diccionario?

[2020-05-03 13:37] #31 closed

[2020-05-03 16:26] humitos opened #43 "We lost sphinx.po that was already translated"
For some reason, https://github.com/PyCampES/python-docs-es/blob/3.7/sphinx.po was deleted completely at https://github.com/PyCampES/python-docs-es/commit/6b86caffe380c7101b6ec26eeccfaaaf087c91c5#diff-45573348f1c20fa58a6bb5ae4fbeb851

We should recover it because it was used to translated the index and other sections that are outside .rst files.

[2020-05-03 22:47] marian-vignau opened #47 "Traducir `glossary.po`"
El glosario es mencionado innumerables veces desde otros .po

[2020-05-04 14:17] humitos opened #51 "Crear una página de recursos"
Tenemos algunos recursos y herramientas (powrap, pospell, pomerge, etc) que estaría bueno poner en una página "resources.rst" y linkearla desde contributing así la gente la descubre.

* https://www.linguee.com
* https://wordreference.com

[2020-05-04 15:07] humitos opened #52 "Decidir proceso de "triage" para no pisarnos"
El grupo está creciendo y necesitamos organizarnos para no traducir dos veces lo mismo y que no se generen conflictos ni que perdamos tiempo repitiendo acciones.

@marcorichetta propuso algo así: https://github.com/reactjs/es.reactjs.org/issues/4#issue-405384115

@marian-vignau propuso hacer un issue por archivo e ir asignándolos a las personas que quieran hacer cada página.

¿Cuál creen que sería

[2020-05-04 15:32] clacri commented on #52
Ambas opciones me parecen bien, y es cierto que se empieza a necesitar algo así. Una página (.po) por persona es razonable, y a menos que haya algún tipo de priorización (hay cosas que deben ser traducidas antes que otras), el sistema de que cada uno diga que le gustaría traducir y le sea asignado me parece bien. Entiendo que de lo de la priorización, una vez tengamos el tutorial y el glosario, po

[2020-05-04 15:46] raulcd commented on #52
Para ponerlo en la página oficial deberíamos tener:
tutorial, bugs.po, and library/functions.po.
Aparte deberíamos crear la rama 3.8 y mergear con los cambios que haya.

[2020-05-04 16:19] cacrespo commented on #52
Un issue por archivo (o conjunto de archivos) me parece más fácil para los que se quieran sumar.
Junto a la priorización agregaría la posibilidad de marcar de algún modo aquellos casos donde se incluye textos con notas al pie o "adaptaciones" para que se revisen con mayor detenimiento

[2020-05-04 17:43] #43 closed

[2020-05-04 18:25] hectorcanto commented on #52
También habría que tener un chat (IRC, RocketChat) o abrir issues (o ambos) para discusiones transversales, por ejemplo, términos con traducciones polémicas/confusas.

[2020-05-04 18:26] hectorcanto opened #56 "Finalizar traducción `tutorial/errors.po`"
Me pongo con este (de hecho ya casi he acabado).

[2020-05-04 18:28] hectorcanto commented on #47
En el README.rst hay también un trocito de glosario (no se si tiene la intención de ser un ejemplo o de ser cubierto)

[2020-05-04 18:45] marian-vignau opened #57 "corregir para que las comillas se vean como comillas y los apóstrofes como apóstrofes"

[2020-05-04 18:47] humitos commented on #57
En el glosario, por ejemplo:

![photo5008190123975747681](https://user-images.githubusercontent.com/244656/81001692-687c7d80-8e48-11ea-929f-41de09f9cb23.jpg)

[2020-05-04 22:42] clacri opened #61 "Translating `library/functions.po`"
I will take care of this file

[2020-05-05 01:42] eamanu commented on #52
Hola,

Ambas propuestas me parece que están bastantes buenas. No he usado mucho Github,
pero se que se pueden crear boards [0], lo cual nos daría una buena visibilidad
del progreso de las tareas.

En cuanto a la primera propuesta (la de @marcorichetta) se parece mucho a la que se
aplicó en el debian-med team [1] dónde hay wiki con la lista de Need help y
cada uno podía modificar la wiki, asignando

[2020-05-05 10:14] humitos opened #64 "Translate `tutorial/stdlib.po`"
This file is at 88% translated. It needs to reach 100% translated.

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedocs.io/es/3.7/CONTRIBUTING.html)

[2020-05-05 10:16] humitos commented on #52
Bueno, creo que estamos más o menos todos alineados en que un issue por archivo son más o menos una buena idea. Supongo que podemos empezar por ahí e ir viendo como evoluciona.

Creé un issue que podemos seguir de ejemplo para esto: https://github.com/PyCampES/python-docs-es/issues/64 . Lo agregué a un Milestone, así también nos da una idea de dónde estamos y podemos priorizar por Milestone si lo

[2020-05-05 10:50] humitos commented on #57
Esta es la setting que tenemos que usar: https://www.sphinx-doc.org/en/master/usage/configuration.html#confval-smartquotes_excludes

[code]

Eso cambia **todas las comillas**:

![Screenshot_2020-05-05_12-49-03](https://user-images.githubusercontent.com/244656/81058480-d10e3d80-8ece-11ea-8464-eea6ae558798.png)

.. por,

![Screenshot_2020-05-05_12-48-20](https://user-images.githubusercontent.com/244

[2020-05-05 15:29] raulcd opened #66 "Hacer la generación de la Documentación compatible con Windows"
En Telegram ha aparecido varias veces la pregunta de como hacer la generación de la documentación local en Windows. Deberíamos documentar cómo conseguirlo y añadirlo al Contribution guide.

[2020-05-05 16:24] gilgamezh opened #67 "cómo imprimimos el tutorial en PDF con este nuevo formato?"
históricamente PyAr imprime el tutorial para repartirlo en eventos. Podemos seguir haciendolo? cómo?

[2020-05-05 16:27] humitos commented on #67
[code]

Le podríamos decir a RTD que lo haga por nosotros, también.

Lo que teníamos en PyAr de diferente son los estilos personalizados y el tamaños. Habría que revisar qué leía `rst2pdf` --si leía una hoja de estilos de latex, podríamos usar lo mismo.

[2020-05-05 19:20] eamanu commented on #64
@humitos I would like to work on this file.  Thanks

[2020-05-05 19:36] humitos opened #70 "Translate `tutorial/stdlib2.po`"
This file is at 86% translated. It needs to reach 100% translated.

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedocs.io/es/3.7/CONTRIBUTING.html)

[2020-05-05 19:37] humitos opened #71 "Translate `tutorial/appendix.po`"
This file is at 90% translated. It needs to reach 100% translated.

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedocs.io/es/3.7/CONTRIBUTING.html)

[2020-05-05 21:15] marcorichetta commented on #70
Me lo puedo asignar?

[2020-05-05 21:22] raulcd commented on #70
Asignado

[2020-05-06 01:09] erasmo07 opened #72 "Translate `library/functions.po`"
This file is at 0% translated. It needs to reach 100% translated.

Please, comment here if you want this file to be assigned to you and a member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedocs.io/es/3.7/CONTRIBUTING.html)

[2020-05-06 01:10] erasmo07 commented on #72
@raulcd

[2020-05-06 01:41] cacrespo opened #74 "Translate `library/zipimport.po`"
This file is at 0% translated. It needs to reach 100% translated.

Please, comment here if you want this file to be assigned to you and a member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedocs.io/es/3.7/CONTRIBUTING.html)

[2020-05-06 04:31] qagustina commented on #74
me pueden asignar?

[2020-05-06 07:51] raulcd commented on #74
@cacrespo estabas trabajando en el fichero o le asigno a @qagustina ?

[2020-05-06 09:48] clacri commented on #72
Ya la tenía asignada yo en la issue #61, lo que pasa es que la creé yo antes de que pusierais el sistema en el que habeis escrito el porcentaje y demás. Solo había llegado hasta bytearray class. @erasmo07 , contáctame cuando puedas y lo organizamos para ver si continúas tu o yo y no pisarnos.

[2020-05-06 10:50] humitos commented on #72
@erasmo07 perdón por la confusión en este issue. Por favor, busca otro para trabajar. Este archivo ya está asignado a @clacri

Cierro este issue ya que es un duplicado de #61.

[2020-05-06 10:50] #72 closed

[2020-05-06 10:53] humitos commented on #74
@cacrespo hizo `library/zlip.po` en #73 que es otro archivo. Este issue es sobre `library/zipimport.po`. Se lo asigno a @qagustina

[2020-05-06 11:11] humitos opened #76 "Translate `sphinx.po`"
This file is at 16% translated. It needs to reach 100% translated.

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedocs.io/es/3.7/CONTRIBUTING.html)

[2020-05-06 11:12] humitos commented on #52
Esto parece ser lo último que queda de este issue. Ya tenemos medianamente el proceso funcionando. Me lo asigno para documentarlo cuando tenga un tiempo.

[2020-05-06 11:13] humitos opened #77 "Translate `contents.po`"
This file is at 0% translated. It needs to reach 100% translated.

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedocs.io/es/3.7/CONTRIBUTING.html)

[2020-05-06 11:18] nicocastanio commented on #76
lo tomo.

[2020-05-06 13:05] humitos opened #81 "Make `make fuzzy` to work again"
I deleted this from the README because it does not work: https://github.com/PyCampES/python-docs-es/pull/80/files#diff-88b99bb28683bd5b7e3a204826ead112L137-L138

However, it's a good resource we want to have. Make it work again and document in the CONTRIBUTING guide.

[2020-05-06 13:06] humitos opened #82 "Mention how to configure `git diff` properly"
It's possible to create a `git diff` command that will show only relevant parts.

I deleted it at https://github.com/PyCampES/python-docs-es/pull/80/files#diff-88b99bb28683bd5b7e3a204826ead112L211-L233, but we should re-add it in the "Resources page" #51, once we have it.

[2020-05-06 13:08] humitos opened #83 "Decide and document in Memory Translation these terms"
I deleted them from the README in https://github.com/PyCampES/python-docs-es/pull/80/files#diff-88b99bb28683bd5b7e3a204826ead112L171-L208

We should discuss and decide what words we are going to use in Spanish and document these decisions in the Memory Translation.

[2020-05-06 13:15] humitos opened #84 "Translate `installing/index.po`"
This file is at 0% translated. It needs to reach 100% translated.

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedocs.io/es/3.7/CONTRIBUTING.html)

[2020-05-06 13:24] humitos opened #85 "Translate `faq/index.po`"
This file is at 0% translated. It needs to reach 100% translated.

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedocs.io/es/3.7/CONTRIBUTING.html)

[2020-05-06 13:25] humitos opened #87 "Translate `howto/index.po`"
This file is at 0% translated. It needs to reach 100% translated.

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedocs.io/es/3.7/CONTRIBUTING.html)

[2020-05-06 13:27] humitos opened #89 "Translate `using/index.po`"
This file is at 0% translated. It needs to reach 100% translated.

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedocs.io/es/3.7/CONTRIBUTING.html)

[2020-05-06 13:54] #52 closed

[2020-05-06 14:24] humitos commented on #82
* https://formulae.brew.sh/formula/podiff
* https://aur.archlinux.org/packages/podiff

[2020-05-06 16:10] humitos commented on #22
Esto está hecho en #60.

[2020-05-06 16:10] #22 closed

[2020-05-06 16:30] cacrespo commented on #74
Sí. zlip.po fue el otro que subí.
Iba a empezar con zipimport.po. Tomo otro, no problem! En cuanto arranco subo el issue correspondiente.

[2020-05-06 16:33] humitos commented on #74
@cacrespo fijate que ya hay varios issues creados que puedes agarrar de ahí.

[2020-05-06 16:55] humitos commented on #67
Acá compilé una versión en PDF de la branch 3.8: https://python-docs-es.readthedocs.io/_/downloads/es/3.8/pdf/ --se ve bien.

[2020-05-06 17:00] humitos opened #92 "Translate `howto/sorting.po`"
This file is at 0% translated. It needs to reach 100% translated.

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedocs.io/es/3.7/CONTRIBUTING.html)

[2020-05-06 17:01] humitos opened #93 "Translate `howto/argparse.po`"
This file is at 0% translated. It needs to reach 100% translated.

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedocs.io/es/3.7/CONTRIBUTING.html)

[2020-05-06 17:01] humitos opened #94 "Translate `howto/unicode.po`"
This file is at 0% translated. It needs to reach 100% translated.

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedocs.io/es/3.7/CONTRIBUTING.html)

[2020-05-06 18:12] gilgamezh commented on #67
@facundobatista

[2020-05-06 18:28] hectorcanto commented on #56
Relacionada con esta PR https://github.com/PyCampES/python-docs-es/pull/58

[2020-05-06 19:05] facundobatista commented on #67
Está bueno ese PDF (aunque tiene el "whats new in python 2.6, no tiene sentido).

Puntualmente para imprimrlo: está bueno que deja las páginas en blanco para que los capítulos arranquen "del lado izquierdo".

Podría tener margen extra "del lado del abrochado" de cada página.

Lo que sí habría que tocarle son los colores, ya que en general para abaratar costos la impresión es en B&N.

[2020-05-06 20:01] humitos commented on #67
Esto se puede eliminar cambiando el `contents.rst`, o bien, dándole un `contents.rst` específico con lo único que nos interesa que esté en el PDF.

Read the Docs no soporta múltiples PDF como output así de una, pero se podría hacer (medio hacky teniendo varias ramas) y construir el Tutorial por un lado y el resto por otro.

Esto se puede cambiar con hojas de estilo de LaTeX, pero yo no tengo mucha

[2020-05-06 20:56] laureanoSilva commented on #94
Hola, me gustaría empezar a traducir este archivo.

[2020-05-06 21:04] raulcd commented on #25
Se arregló el build aquí:
https://github.com/PyCampES/python-docs-es/pull/96

[2020-05-06 21:04] #25 closed

[2020-05-06 21:05] raulcd commented on #23
under PEP-545:
https://www.python.org/dev/peps/pep-0545/#add-translation-to-the-language-switcher

The requirement to get to the language picker is [1] to translate the
tutorial, bugs.po, and library/functions.po.

[2020-05-06 21:41] humitos opened #102 "Translate `tutorial/controlflow.po`"
This needs to reach 100% translated.

Current stats for tutorial/controlflow.po:

- Fuzzy: 12
- Percent translated: 68%
- Entries: 85 / 27

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedocs.io/page/CONTR

[2020-05-06 21:43] #102 closed

[2020-05-06 21:44] humitos opened #103 "Translate `tutorial/controlflow.po`"
This needs to reach 100% translated.

Current stats for tutorial/controlflow.po:

- Fuzzy: 12
- Percent translated: 68%
- Entries: 85 / 124
- Untranslated: 27

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readt

[2020-05-06 21:47] humitos commented on #81
Esto ya lo tenemos andando con `make progress` ahora que usamos `potodo`.

[2020-05-06 21:47] #81 closed

[2020-05-06 21:50] #77 closed

[2020-05-06 21:50] #76 closed

[2020-05-06 22:21] cacrespo commented on #92
Yo lo tomo!

[2020-05-07 02:17] nicocastanio commented on #93
lo tomo

[2020-05-07 02:25] humitos opened #109 "Translate `library/index.po`"
This needs to reach 100% translated.

Current stats for `library/index.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 5
- Untranslated: 5

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedocs.io/p

[2020-05-07 02:25] humitos opened #110 "Translate `library/intro.po`"
This needs to reach 100% translated.

Current stats for `library/intro.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 11
- Untranslated: 11

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedocs.io

[2020-05-07 02:25] humitos opened #111 "Translate `library/constants.po`"
This needs to reach 100% translated.

Current stats for `library/constants.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 17
- Untranslated: 17

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedoc

[2020-05-07 02:25] humitos opened #112 "Translate `library/stdtypes.po`"
This needs to reach 100% translated.

Current stats for `library/stdtypes.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 856
- Untranslated: 856

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedo

[2020-05-07 02:27] humitos opened #113 "Translate `library/datetime.po`"
This needs to reach 100% translated.

Current stats for `library/datetime.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 554
- Untranslated: 554

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedo

[2020-05-07 03:54] humitos commented on #67
Referencia para mi yo del futuro: https://github.com/readthedocs/readthedocs.org/blob/d45ad2b07c9f0577da86d2f76724b6469ad79b3e/readthedocs/doc_builder/backends/sphinx.py#L603-L626 --ahí es donde se decide qué output de los N PDFs se van a copiar.

[2020-05-07 07:54] #28 closed

[2020-05-07 08:18] raulcd opened #119 "Hay un par de warnings en sphinx que rompieron el build"
He mergado algunas PRs y parece que el build en 3.8 se rompe al haber activado el fallo por warnings en sphinx. Si puedo luego lo miro, pero probablemente @humitos puede arreglarlo rápido.

[2020-05-07 11:33] #119 closed

[2020-05-07 15:58] gmdeluca commented on #110
Hola, me gustaría empezar a traducir este archivo.

[2020-05-07 21:16] Amadeus1234 commented on #111
Hola, me gustaria empezar con este archivo.

[2020-05-07 21:56] humitos commented on #111
Adelante!

[2020-05-07 22:00] a19c commented on #103
Hola buenas noches. Me gustaría empezar a traducir este archivo

[2020-05-07 22:13] humitos commented on #103
Adelante!

[2020-05-08 11:18] mjmolina commented on #87
Hola! Voy a probar poedit traduciendo este índice :) !

[2020-05-08 11:20] humitos commented on #87
Excelente! Adelante y bienvenid! :dancers:

[2020-05-08 11:35] humitos opened #137 "Translate `c-api/unicode.po`"
This needs to reach 100% translated.

Current stats for `c-api/unicode.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 332
- Untranslated: 332

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedocs.

[2020-05-08 11:35] humitos opened #138 "Translate `c-api/typeobj.po`"
This needs to reach 100% translated.

Current stats for `c-api/typeobj.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 586
- Untranslated: 586

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedocs.

[2020-05-08 12:03] cmaureir commented on #137
I'll be working on this one

[2020-05-08 12:03] cmaureir commented on #138
I'll be working on this one

[2020-05-08 14:48] mjmolina commented on #113
I'll be working on this one :)

[2020-05-08 15:15] dvidsilva commented on #89
I can take it! @humitos

[2020-05-08 15:16] humitos commented on #89
Perfect! Go ahead! Thanks

[2020-05-08 16:16] humitos opened #140 "Translate `faq/general.po`"
This needs to reach 100% translated.

Current stats for `faq/general.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 91
- Untranslated: 91

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedocs.io/p

[2020-05-08 16:17] humitos opened #141 "Translate `faq/programming.po`"
This needs to reach 100% translated.

Current stats for `faq/programming.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 348
- Untranslated: 348

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedoc

[2020-05-08 16:18] #70 closed

[2020-05-08 16:20] humitos commented on #47
Este issue ya está hecho en #53 -- @marian-vignau ¿falta algo más o lo podemos cerrar?

Creé un issue para decidir qué en esos casos y agregarlo a la memoria de traducción.

https://github.com/PyCampES/python-docs-es/issues/83

[2020-05-08 16:21] humitos opened #142 "Translate `howto/logging.po`"
This needs to reach 100% translated.

Current stats for `howto/logging.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 218
- Untranslated: 218

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedocs.

[2020-05-08 16:49] BMariscal commented on #142
Hola! Please assign me to this issue

[2020-05-08 17:18] humitos commented on #142
Thanks! Happy translation time :smile:

[2020-05-08 17:53] kikocorreoso commented on #141
I will start working on this.

Thanks.

[2020-05-08 17:54] cmaureir commented on #141
Muchas gracias @kikocorreoso  :)

[2020-05-08 19:43] euribates commented on #112
Puedo encargarme de este fichero

[2020-05-08 19:56] humitos commented on #112
Adelante! Gracias :smile:

[2020-05-08 22:04] hectorcanto commented on #56
Tambien se relaciona con la PR #143

[2020-05-08 22:14] hectorcanto commented on #83
In the case of titles, I added an entry and  a reference to "Diccionario Panhispanico de Dudas" in PR #143  following the discussion in the PR #58. If you are satisfied, please assign this to me and close it, or let's continue the discussion.

[2020-05-08 22:17] hectorcanto commented on #85
Please assign it to me

[2020-05-09 02:17] mgaitan commented on #140
I would take it.

[2020-05-09 09:33] albertcalv opened #157 "Translate `library/array.po`"
I will take care of this file

[2020-05-09 10:13] humitos commented on #83
I like what you described in your PR! :+1:

Feel free to close after merging that.

[2020-05-09 10:25] humitos commented on #157
Great! Thanks!

[2020-05-09 10:41] humitos opened #158 "Translate `distributing/index.po`"
This needs to reach 100% translated.

Current stats for `distributing/index.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 40
- Untranslated: 40

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedo

[2020-05-09 10:43] humitos opened #159 "Translate `installing/index.po`"
This needs to reach 100% translated.

Current stats for `installing/index.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 53
- Untranslated: 53

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedocs

[2020-05-09 10:46] humitos opened #160 "Translate `faq/library.po`"
This needs to reach 100% translated.

Current stats for `faq/library.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 142
- Untranslated: 142

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedocs.io

[2020-05-09 10:46] humitos opened #161 "Translate `faq/installed.po`"
This needs to reach 100% translated.

Current stats for `faq/installed.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 15
- Untranslated: 15

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedocs.io

[2020-05-09 10:46] humitos opened #162 "Translate `faq/gui.po`"
This needs to reach 100% translated.

Current stats for `faq/gui.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 38
- Untranslated: 38

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedocs.io/page/

[2020-05-09 10:47] humitos opened #163 "Translate `howto/urllib2.po`"
This needs to reach 100% translated.

Current stats for `howto/urllib2.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 85
- Untranslated: 85

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedocs.io

[2020-05-09 10:47] humitos opened #164 "Translate `library/2to3.po`"
This needs to reach 100% translated.

Current stats for `library/2to3.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 119
- Untranslated: 119

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedocs.i

[2020-05-09 10:48] humitos opened #165 "Translate `reference/introduction.po`"
This needs to reach 100% translated.

Current stats for `reference/introduction.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 25
- Untranslated: 25

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readt

[2020-05-09 10:51] humitos commented on #51
Quizás es mejor explicar `pre-commit` para esto, que hace todo solo.

[2020-05-09 10:51] kikocorreoso commented on #141
25%...

Madre mía, ¿me he cogido el más largo? :office_worker:

[2020-05-09 10:53] humitos commented on #141
Es largo este, sí :smile: --348 párrafos.

Igual, puedes hacer la PR con lo que tienes y podemos ir mergeando y revisando cosas más pequeñas. Hacer review de un archivo completo así de largo va a ser tedioso también.

[2020-05-09 11:08] srxavi commented on #165
I would like to translate this

[2020-05-09 11:09] humitos commented on #165
Yes! You want it, you have it! :smile: Happy translation time!

[2020-05-09 11:36] kikocorreoso commented on #141
De momento sigo. A ver si llego al 50% esta mañana...

[2020-05-09 12:28] gmdeluca commented on #163
Lo puedo hacer! Saludos

[2020-05-09 12:30] humitos commented on #163
Perfecto! Gracias! Happy translation time!

[2020-05-09 13:19] gomezgleonardob commented on #161
Please assign me

[2020-05-09 13:27] humitos commented on #161
@gomezgleonardob Done! Happy translation time! :tada:

[2020-05-09 16:25] sdelquin commented on #160
Me gustaría trabajar en esta issue!

[2020-05-09 16:26] javierdaza commented on #162
Please assign me this issue @humitos

[2020-05-09 16:29] iris9112 commented on #158
Please assign me this issue @humitos

[2020-05-09 17:13] alvarmaciel commented on #164
me gustaría tomarlo. Es el primero que haría

[2020-05-09 17:17] hectorcanto commented on #85
merged

[2020-05-09 17:23] #85 closed

[2020-05-09 17:24] raulcd commented on #85
Gracias @hectorcanto no me había dado cuenta

[2020-05-09 17:40] humitos opened #188 "Translate `library/os.path.po`"
This needs to reach 100% translated.

Current stats for `library/os.path.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 61
- Untranslated: 61

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedocs.

[2020-05-09 17:40] humitos opened #189 "Translate `library/random.po`"
This needs to reach 100% translated.

Current stats for `library/random.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 76
- Untranslated: 76

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedocs.i

[2020-05-09 17:40] humitos opened #190 "Translate `library/pathlib.po`"
This needs to reach 100% translated.

Current stats for `library/pathlib.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 186
- Untranslated: 186

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedoc

[2020-05-09 17:40] humitos opened #191 "Translate `library/csv.po`"
This needs to reach 100% translated.

Current stats for `library/csv.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 86
- Untranslated: 86

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedocs.io/p

[2020-05-09 17:40] humitos opened #192 "Translate `library/glob.po`"
This needs to reach 100% translated.

Current stats for `library/glob.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 16
- Untranslated: 16

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedocs.io/

[2020-05-09 17:53] draentropia commented on #189
Hi Humitos! I want to help here!

[2020-05-09 18:04] albertcalv commented on #188
Here to translate :)

[2020-05-09 18:04] srxavi commented on #165
[Merged](https://github.com/PyCampES/python-docs-es/pull/185)

[2020-05-09 18:05] srxavi commented on #159
I'm taking this one

[2020-05-09 18:05] raulcd commented on #165
Solved

[2020-05-09 18:05] #165 closed

[2020-05-09 18:06] raulcd commented on #189
Gracias! Asignada a @draentropia

[2020-05-09 18:06] humitos commented on #159
Hágale pues!

[2020-05-09 18:07] raulcd commented on #188
Gracias asignada a @albertcalv

[2020-05-09 18:21] kikocorreoso commented on #192
Me lo llevo.

[2020-05-09 18:25] raulcd commented on #192
Asignada a @kikocorreoso

[2020-05-09 19:05] humitos opened #193 "Translate `faq/gui.po`"
This needs to reach 100% translated.

Current stats for `faq/gui.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 38
- Untranslated: 38

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedocs.io/page/

[2020-05-09 19:05] #193 closed

[2020-05-09 19:06] humitos opened #194 "Translate `library/uuid.po`"
This needs to reach 100% translated.

Current stats for `library/uuid.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 59
- Untranslated: 59

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedocs.io/

[2020-05-09 19:06] humitos opened #195 "Translate `library/typing.po`"
This needs to reach 100% translated.

Current stats for `library/typing.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 208
- Untranslated: 208

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedocs

[2020-05-09 19:06] humitos opened #196 "Translate `library/webbrowser.po`"
This needs to reach 100% translated.

Current stats for `library/webbrowser.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 82
- Untranslated: 82

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedo

[2020-05-09 19:06] humitos opened #197 "Translate `library/timeit.po`"
This needs to reach 100% translated.

Current stats for `library/timeit.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 52
- Untranslated: 52

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedocs.i

[2020-05-09 19:07] humitos opened #198 "Translate `library/pprint.po`"
This needs to reach 100% translated.

Current stats for `library/pprint.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 31
- Untranslated: 31

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedocs.i

[2020-05-09 19:07] humitos opened #199 "Translate `library/urllib.po`"
This needs to reach 100% translated.

Current stats for `library/urllib.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 7
- Untranslated: 7

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedocs.io/

[2020-05-09 19:07] humitos opened #200 "Translate `library/urllib.parse.po`"
This needs to reach 100% translated.

Current stats for `library/urllib.parse.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 140
- Untranslated: 140

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readt

[2020-05-09 19:07] humitos opened #201 "Translate `library/traceback.po`"
This needs to reach 100% translated.

Current stats for `library/traceback.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 66
- Untranslated: 66

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedoc

[2020-05-09 19:07] humitos opened #202 "Translate `library/textwrap.po`"
This needs to reach 100% translated.

Current stats for `library/textwrap.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 46
- Untranslated: 46

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedocs

[2020-05-09 19:47] kikocorreoso opened #203 "Como parte del glosario: fichero, archivo, carpeta, directorio,..."
Me gustaría aclarar qué usar para: *file*, *archive*, *directory*, *subdirectory*,...

En mi caso estoy usando:

* **fichero** para *file*, *archive*,...

* **Directorio** para *directory*, *folder*,...

¿Se ha hablado sobre esto en algún otro sitio? ¿Existe quorum para usar lo que estoy usando y meterlo en el glosario?

[2020-05-09 20:03] raulcd opened #205 "Add sorting dict on Travis builds"
Add sort of dict to Travis build in order to fail if trying to merge unsorted. Same as pospell/powrap.

[2020-05-09 20:03] raulcd commented on #205
@humitos what do you think?

[2020-05-09 21:39] cacrespo commented on #190
Buenas; por favor asignarme este!

[2020-05-09 22:06] humitos commented on #205
I don't think it's _super_ important to block the build because of this really. I don't think it will affect too much on merge conflicts or similar. I do not have a strong opinion, really.

[2020-05-09 22:07] humitos commented on #190
Hecho! Que lo disfrutes! :smile:

[2020-05-09 22:20] raulcd commented on #205
Makes sense we can eventually run it manually every now and then when we feel to. I'll just close it.

[2020-05-09 22:20] #205 closed

[2020-05-09 22:50] marcorichetta commented on #191
Puedo tomar este?

[2020-05-09 23:04] #93 closed

[2020-05-09 23:05] humitos commented on #191
Hágale pues! Qué lo disfrutes! :)

[2020-05-10 15:12] josemlp91 commented on #198
Hi, I want translate this page!

[2020-05-10 15:39] raulcd commented on #198
Muchas gracias, te la he asignado @josemlp91 .

[2020-05-10 15:56] hectorcanto commented on #195
por favor, asignenmela

[2020-05-10 15:58] hectorcanto commented on #56
Se puede cerrar, #58 y  #143 mezcladas

[2020-05-10 15:58] #56 closed

[2020-05-10 15:59] hectorcanto commented on #83
#143 mezclada, sección de estilo en memoria iniciada.
Continuemosla

[2020-05-10 16:53] #47 closed

[2020-05-10 17:23] humitos commented on #67
Algo que no mencioné, pero es interesante. Esta versión y la anterior, ambas usan Sphinx, así que si quisieramos seguir utilizando el mismo proceso lo podríamos hacer a mano.

Sin embargo, algunos `PageBreak` que se agregaron a mano en el tutorial para hacer que `rst2pdf` haga un salto de página, no van a poder ser posible fácilmente. Igual, creo que `rst2pdf` no está mantenido.

[2020-05-10 17:30] humitos opened #219 "Translate `library/json.po`"
This needs to reach 100% translated.

Current stats for `library/json.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 143
- Untranslated: 143

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedocs.i

[2020-05-10 21:20] pandrearro commented on #202
I would like to work on this file.

[2020-05-10 21:26] gomezgleonardob commented on #194
Please assign me

[2020-05-10 21:26] gomezgleonardob commented on #199
Please assign me

[2020-05-11 00:35] adriaanbd commented on #219
Hello, I'd like to work on this file, thanks!

[2020-05-11 07:01] humitos commented on #219
Great! Thanks! Enjoy translating this file!

[2020-05-11 07:04] humitos commented on #199
Enjoy!

[2020-05-11 07:50] humitos commented on #57
@marian-vignau ¿porqué cerraste este issue?

[2020-05-11 08:38] marcosmamg commented on #200
Hola, puedo trabajar en este issue.

[2020-05-11 08:56] humitos commented on #200
@marcosmamg adelante! que lo disfrutes! :partying_face:

[2020-05-11 09:30] damiansire commented on #196
Please assign me :D

[2020-05-11 09:38] humitos commented on #196
Yaaaay! Enjoy translating this file :partying_face:

[2020-05-11 11:01] dtrinf commented on #197
Hi @humitos, may I take this one to translate it?

[2020-05-11 11:16] beejeke commented on #201
Hi @humitos! I would like translate this file ✔

[2020-05-11 11:28] humitos commented on #197
Happy translating time! :earth_americas:

[2020-05-11 11:29] humitos opened #226 "Translate `distutils/configfile.po`"
This needs to reach 100% translated.

Current stats for `distutils/configfile.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 20
- Untranslated: 20

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthe

[2020-05-11 11:30] humitos opened #227 "Translate `distutils/examples.po`"
This needs to reach 100% translated.

Current stats for `distutils/examples.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 46
- Untranslated: 46

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedo

[2020-05-11 11:30] humitos opened #228 "Translate `distutils/sourcedist.po`"
This needs to reach 100% translated.

Current stats for `distutils/sourcedist.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 72
- Untranslated: 72

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthe

[2020-05-11 11:30] humitos opened #229 "Translate `distutils/introduction.po`"
This needs to reach 100% translated.

Current stats for `distutils/introduction.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 52
- Untranslated: 52

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readt

[2020-05-11 11:30] humitos opened #230 "Translate `library/collections.po`"
This needs to reach 100% translated.

Current stats for `library/collections.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 199
- Untranslated: 199

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readth

[2020-05-11 11:30] humitos opened #231 "Translate `library/configparser.po`"
This needs to reach 100% translated.

Current stats for `library/configparser.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 172
- Untranslated: 172

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readt

[2020-05-11 11:30] beejeke commented on #201
Thank you @raulcd !👍

[2020-05-11 11:31] humitos opened #232 "Translate `library/pprint.po`"
This needs to reach 100% translated.

Current stats for `library/pprint.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 31
- Untranslated: 31

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedocs.i

[2020-05-11 11:31] humitos opened #233 "Translate `library/shutil.po`"
This needs to reach 100% translated.

Current stats for `library/shutil.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 142
- Untranslated: 142

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedocs

[2020-05-11 11:43] humitos opened #234 "Avoid creating duplicated issues with script"
Before calling [`repo.create_issue`](https://github.com/pycampes/python-docs-es/blob/ec9dd0522bfd582a7f51ef97a023c13172b78fce/scripts/create_issue.py#L19) we should perform a search looking for exactly the same issue title to avoid creating duplicated files.

[2020-05-11 11:48] nicocastanio commented on #226
lo tomo.

[2020-05-11 15:01] silvinabt87 commented on #233
I'd like to work on this one!

[2020-05-11 15:05] humitos commented on #233
@silvinabt87 great! enjoy translating :smiley:

[2020-05-11 16:35] raulcd commented on #232
happy translation @qagustina

[2020-05-11 22:10] katialira commented on #229
Yo me apunto a este :)

[2020-05-11 22:24] raulcd commented on #229
Thanks @katialira

[2020-05-11 23:16] javierdaza commented on #230
Yo puedo colaborar con este issue

[2020-05-12 06:46] humitos commented on #230
@javierdaza hágale pues!

[2020-05-12 19:14] hectorcanto commented on #195
draft PR en https://github.com/PyCampES/python-docs-es/pull/221

[2020-05-12 20:20] c0x6a commented on #228
I'd like to work on this file :)

[2020-05-12 20:22] humitos commented on #228
@c0x6a enjoy translating this file! :partying_face:

[2020-05-12 21:10] #162 closed

[2020-05-12 21:30] humitos commented on #71
Entiendo que ya está resuelto este issue. Cualquier cosa lo re-abrimos.

[2020-05-12 21:30] #71 closed

[2020-05-12 21:32] humitos commented on #61
Done in #218

[2020-05-12 21:32] humitos commented on #92
Done in #207

[2020-05-12 21:32] #92 closed

[2020-05-12 21:33] #109 closed

[2020-05-12 21:51] humitos opened #242 "Translate `library/venv.po`"
This needs to reach 100% translated.

Current stats for `library/venv.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 86
- Untranslated: 86

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedocs.io/

[2020-05-12 21:52] humitos opened #243 "Translate `library/warnings.po`"
This needs to reach 100% translated.

Current stats for `library/warnings.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 109
- Untranslated: 109

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedo

[2020-05-12 21:52] humitos opened #244 "Translate `library/unix.po`"
This needs to reach 100% translated.

Current stats for `library/unix.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 2
- Untranslated: 2

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedocs.io/pa

[2020-05-12 21:52] humitos opened #245 "Translate `library/tempfile.po`"
This needs to reach 100% translated.

Current stats for `library/tempfile.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 60
- Untranslated: 60

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedocs

[2020-05-12 21:52] humitos opened #246 "Translate `library/site.po`"
This needs to reach 100% translated.

Current stats for `library/site.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 39
- Untranslated: 39

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedocs.io/

[2020-05-12 21:53] humitos opened #247 "Translate `library/pwd.po`"
This needs to reach 100% translated.

Current stats for `library/pwd.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 37
- Untranslated: 37

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedocs.io/p

[2020-05-12 21:53] humitos opened #248 "Translate `library/numbers.po`"
This needs to reach 100% translated.

Current stats for `library/numbers.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 29
- Untranslated: 29

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedocs.

[2020-05-12 23:13] clacri commented on #61
No está acabado el fichero, entiendo que la issue debería quedarse abierta hasta que lo termine no? Mañana pensaba ponerme a seguir traduciendo, ya que los días anteriores me centré en reviews. Si acaso la próxima PR que hago del fichero la dejo en draft hasta que termine, te parece bien @humitos ?

[2020-05-12 23:21] humitos commented on #61
Uy, perdón! Mala mía.

Sí, el issue lo dejamos abierto hasta que esté terminada la tarea.

Buena idea la de dejar el PR en Draft hasta que esté listo para review 👍

[2020-05-12 23:22] humitos commented on #61
Puedes crear otra branch desde 3.8 (actualizada) y una nueva PR

[2020-05-13 02:44] iam3mer commented on #248
Vamos por este trozo

[2020-05-13 08:15] clacri commented on #61
Vale perfecto, hoy traduciré algún parrafito y haré eso de dejarlo como draft. Muchas gracias!

[2020-05-13 09:13] humitos commented on #248
Hágale pues!

[2020-05-13 15:38] #226 closed

[2020-05-13 15:50] nicocastanio commented on #227
lo tomo

[2020-05-13 18:52] Qkolnek commented on #242
¿Podría trabajar en este archivo?

[2020-05-13 23:55] gomezgleonardob commented on #247
Please assign me

[2020-05-14 01:40] humitos commented on #242
@Qkolnek sí! adelante! happy translation time!

[2020-05-14 02:48] pandrearro commented on #244
Puedo hacer este también?

[2020-05-14 12:27] humitos commented on #244
@pandrearro adelante! que lo disfrutes! :D

[2020-05-14 14:29] humitos opened #259 "Update source docs to 3.8.3"
Python 3.8.3 was released today.  We are in `3.8.3rc` now.

We need to update our docs and stick with that release.

Guide https://python-docs-es.readthedocs.io/es/3.8/upgrade-python-version.html

[2020-05-14 18:07] humitos opened #260 "Translate `library/tkinter.po`"
This needs to reach 100% translated.

Current stats for `library/tkinter.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 268
- Untranslated: 268

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedoc

[2020-05-14 18:08] humitos opened #261 "Translate `library/re.po`"
This needs to reach 100% translated.

Current stats for `library/re.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 286
- Untranslated: 286

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedocs.io/

[2020-05-14 18:08] humitos opened #262 "Translate `library/argparse.po`"
This needs to reach 100% translated.

Current stats for `library/argparse.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 277
- Untranslated: 277

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedo

[2020-05-14 18:08] humitos opened #263 "Translate `library/exceptions.po`"
This needs to reach 100% translated.

Current stats for `library/exceptions.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 127
- Untranslated: 127

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthe

[2020-05-14 18:08] humitos opened #264 "Translate `library/subprocess.po`"
This needs to reach 100% translated.

Current stats for `library/subprocess.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 261
- Untranslated: 261

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthe

[2020-05-14 18:09] humitos opened #265 "Translate `library/logging.po`"
This needs to reach 100% translated.

Current stats for `library/logging.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 311
- Untranslated: 311

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedoc

[2020-05-14 19:46] Roluisker commented on #263
Hii, I would like to work in this issue

[2020-05-14 19:48] humitos commented on #263
@Roluisker excellent! Enjoy working on this translation! :smile:

[2020-05-14 20:12] MiguelHeCa commented on #261
Hi! I'd like to contribute translating this file.

[2020-05-14 20:14] raulcd commented on #261
Thanks @MiguelHeCa , assigned

[2020-05-14 20:17] MiguelHeCa commented on #261
Great, thanks!

[2020-05-15 17:06] gomezgleonardob commented on #243
Please assign me

[2020-05-15 19:23] hectorcanto opened #269 "Seguir mejorando la memoria"
Continua #83

Añadir links a diccionarios y glosarios:
- Wordreference
- Linguee
- Iate
- Panhispanico de dudas
- Glosario Ruby (otros?)

[2020-05-15 22:19] VladimirGonzalez commented on #246
Hola me gustaría comenzar a traducir este archivo..

[2020-05-15 23:56] humitos commented on #246
Hola @VladimirGonzalez! Adelante! Que disfrutes la traducción! :100:

[2020-05-16 04:28] rapto commented on #264
Me lo pido

[2020-05-16 11:50] humitos commented on #264
Hola @rapto! Te lo asigno! Que lo disfrutes!

[2020-05-16 15:20] darwing1210 commented on #245
@humitos me gustaría colaborar con este :)

[2020-05-16 15:23] humitos commented on #245
@darwing1210 adelante! que lo disfrutes :smile:

[2020-05-16 16:15] eamanu commented on #82
Hi,

Let here a proposal to use podiff. I can make de PR after close #51

---

Simplificar el `git diff`
-------------------------

El comando `git dif` tiene datos que pueden llegar a ser inútiles como por ejemplo:

. code-block:: diff

    -#: ../Doc/library/signal.rst:406
    +#: ../Doc/library/signal.rst:408

Para ellos debemos instalar brew. Si no lo tienes instalado puedes seguir el instruct

[2020-05-16 16:16] eamanu commented on #51
Hola!,

me gustaría trabajar en este issue.

[2020-05-16 18:20] adriaanbd commented on #219
@humitos is it ok to push my branch so that I can save the progress here and you can all get updated on its status?

[2020-05-16 18:59] adriaanbd commented on #219
I've pushed my branch with a 20% progress so far. Keeping it here as backup and to update the team.

[2020-05-16 19:47] humitos commented on #219
Yes! Prefect. You can create a PR as Draft so we know it's not ready for review yet

[2020-05-16 20:07] hectorcanto opened #280 "Extraer bigramas y n-gramas para uniformizar las traducciones"
Muchas de las traducciones más difíciles y representativas son bigramas o n-gramas como p.e. "helper function".

Para traducirlas de manera consistente se propone utilizar una herramienta NLP, como por ejemplo NLTK o Spacy, para identificar las expresiones más recurrentes y comprobarlas.

Una vez identificados, se decidirá una traducción preferente y se substituirá en la mayor parte de sitios posi

[2020-05-16 20:07] LlaveLuis commented on #231
Saludos, quisiera traducir ese archivo.

[2020-05-16 21:05] humitos commented on #231
Hágale pues! Asignado

[2020-05-16 23:43] Roluisker commented on #265
Hola, want help with this issue :) .

[2020-05-17 02:50] damiansire commented on #196
Thanks! I work in this!

[2020-05-17 09:15] Qkolnek commented on #262
¿Puedo trabajar en este archivo?

[2020-05-17 09:34] humitos commented on #262
Adelante!

[2020-05-17 09:35] humitos commented on #265
Sure! Thanks. Enjoy

[2020-05-17 12:37] humitos commented on #51
@eamanu adelante!

[2020-05-17 12:38] humitos commented on #51
Creo que hay que dividir este trabajo en docs cosas:

1. recursos relacionados con la traducción. Ejemplo: diccionarios --que quizás van en al memoria de traducción.
2. recursos relacionados con las herramientas de codigo/flujo git. Ejemplo: pre-commit --que deberían ir en su propia página para no distraer a los traductores.

[2020-05-17 12:44] humitos opened #285 "Translate `library/unittest.po`"
This needs to reach 100% translated.

Current stats for `library/unittest.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 497
- Untranslated: 497

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedo

[2020-05-17 12:44] humitos opened #286 "Translate `library/time.po`"
This needs to reach 100% translated.

Current stats for `library/time.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 231
- Untranslated: 231

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedocs.i

[2020-05-17 12:44] humitos opened #287 "Translate `library/string.po`"
This needs to reach 100% translated.

Current stats for `library/string.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 172
- Untranslated: 172

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedocs

[2020-05-17 12:45] humitos opened #288 "Translate `library/io.po`"
This needs to reach 100% translated.

Current stats for `library/io.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 227
- Untranslated: 227

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedocs.io/

[2020-05-17 13:18] #64 closed

[2020-05-18 18:48] #111 closed

[2020-05-19 07:06] fabridamicelli commented on #287
a este me le animo :)

[2020-05-19 07:08] humitos commented on #287
Adelante! Que lo disfrutes

[2020-05-19 19:56] rapto commented on #285
Puedo intentarlo yo

[2020-05-19 21:01] humitos commented on #285
Adelante! Que lo disfrutes!

[2020-05-20 15:24] itisDouglas commented on #288
Saludos! Quisiera ayudar a traducir esta porción de la documentación.

[2020-05-20 15:25] humitos commented on #288
Adelante! Por favor ten en cuenta las pautas de la guía de traducción que está linkeada en la descripción. Muchas gracias!

[2020-05-20 19:57] cacrespo commented on #260
Lo tomo! No le tengo miedo 😄

[2020-05-20 20:40] #190 closed

[2020-05-20 21:06] humitos commented on #260
Esaaaa! Adelante

[2020-05-20 22:14] humitos opened #299 "Translate `library/multiprocessing.po`"
This needs to reach 100% translated.

Current stats for `library/multiprocessing.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 509
- Untranslated: 509

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.re

[2020-05-20 22:14] humitos opened #300 "Translate `library/index.po`"
This needs to reach 100% translated.

Current stats for `library/index.po`:

- Fuzzy: 0
- Percent translated: 100%
- Entries: 5 / 5
- Untranslated: 0

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedocs.io

[2020-05-20 22:15] humitos commented on #300
Meh! I did a mistake. Closing.

[2020-05-20 22:15] #300 closed

[2020-05-20 22:16] humitos opened #301 "Translate `library/itertools.po`"
This needs to reach 100% translated.

Current stats for `library/itertools.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 147
- Untranslated: 147

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthed

[2020-05-20 22:17] humitos opened #302 "Translate `using/windows.po`"
This needs to reach 100% translated.

Current stats for `using/windows.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 310
- Untranslated: 310

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedocs.

[2020-05-20 22:17] humitos opened #303 "Translate `library/math.po`"
This needs to reach 100% translated.

Current stats for `library/math.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 97
- Untranslated: 97

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedocs.io/

[2020-05-20 22:18] humitos opened #304 "Translate `reference/datamodel.po`"
This needs to reach 100% translated.

Current stats for `reference/datamodel.po`:

- Fuzzy: 0
- Percent translated: 24%
- Entries: 111 / 448
- Untranslated: 337

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.rea

[2020-05-20 22:19] humitos opened #305 "Translate `library/threading.po`"
This needs to reach 100% translated.

Current stats for `library/threading.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 198
- Untranslated: 198

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthed

[2020-05-20 22:19] humitos opened #306 "Translate `library/turtle.po`"
This needs to reach 100% translated.

Current stats for `library/turtle.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 514
- Untranslated: 514

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedocs

[2020-05-20 22:19] humitos opened #307 "Translate `library/pickle.po`"
This needs to reach 100% translated.

Current stats for `library/pickle.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 205
- Untranslated: 205

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedocs

[2020-05-20 22:19] humitos opened #308 "Translate `library/enum.po`"
This needs to reach 100% translated.

Current stats for `library/enum.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 179
- Untranslated: 179

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedocs.i

[2020-05-20 22:19] humitos opened #309 "Translate `library/functools.po`"
This needs to reach 100% translated.

Current stats for `library/functools.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 70
- Untranslated: 70

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedoc

[2020-05-20 22:49] lasr21 commented on #303
I'm in, I have experience localizing Firefox es-MX

[2020-05-21 00:46] humitos commented on #303
Excellent! Enjoy!

[2020-05-21 01:08] c0x6a commented on #228
done: https://github.com/PyCampES/python-docs-es/pull/310

[2020-05-21 03:48] Juancacorps commented on #286
Hoy comencé a traducir esta librería
.

[2020-05-21 09:27] #244 closed

[2020-05-21 11:55] jcpmmx commented on #301
@humitos soy nuevo por acá y me gustaría echarle un ojo al proceso para poder ayudar.
Saludos!

[2020-05-21 12:03] humitos commented on #301
Hola @jcpmmx! Adelante! Recordá seguir los pasos de la guía de contribución :smile: --te asigno este issue a vos. Que lo disfrutes!

[2020-05-21 15:20] gomezgleonardob commented on #309
Please assign me

[2020-05-21 16:38] #228 closed

[2020-05-21 16:46] GabrielAnguita commented on #305
yo quisiera darle con esta!

[2020-05-21 16:47] humitos commented on #305
@GabrielAnguita muchas gracias! adelante!

[2020-05-21 16:48] humitos commented on #309
Thanks! It's yours!

[2020-05-21 17:15] katialira commented on #229
Este issue se puede cerrar por el [PR 257](https://github.com/PyCampES/python-docs-es/pull/257)

[2020-05-21 17:16] katialira commented on #308
Este puede ser para mi :D

[2020-05-21 17:22] humitos commented on #308
Yaaaaay! Bienvenida de nuevo :wink:

[2020-05-21 17:28] humitos commented on #229
Gracias!

[2020-05-21 17:28] #229 closed

[2020-05-21 17:36] mjmolina commented on #299
Me encanta este módulo, lo uso a menudo y me encantaría traducirlo.

[2020-05-21 17:50] humitos commented on #299
@mjmolina ¡Excelente! Nadie mejor que vos para hacerlo entonces :smile:

[2020-05-21 17:55] alvarmaciel commented on #306
Puedo esta? me estoy matando con turtle y jupyter lab /notebook me vendŕia bien

[2020-05-21 17:58] humitos commented on #306
Muy bien! Adelante @alvarmaciel! Muchas gracias :smile:

[2020-05-21 18:05] manuelramos commented on #307
Hola @humitos , me gustaría colaborar con la traducción de este. Saludos

[2020-05-21 18:13] c0x6a commented on #304
Can I have this one now? :)

[2020-05-21 18:15] humitos commented on #307
@manuelramos Hola tocayo! Adelante! Todo suyo --qué lo disfrutes!

[2020-05-21 18:15] humitos commented on #304
@c0x6a all yours! thanks of your time!

[2020-05-21 18:22] itrjwyss commented on #302
Quiero trabajar en esta traducción.

[2020-05-21 18:24] humitos commented on #302
Yaaaaay! Bienvenida! Espero que disfrutes traduciendo este archivo. Muchas gracias!

[2020-05-21 18:26] gomezgleonardob commented on #199
Hi, this issue is closed on https://github.com/PyCampES/python-docs-es/pull/236

[2020-05-21 18:27] #199 closed

[2020-05-21 18:32] gomezgleonardob commented on #194
Hi, this issue is closed on https://github.com/PyCampES/python-docs-es/pull/268

[2020-05-21 18:33] gomezgleonardob commented on #247
Hi, this issue is closed on https://github.com/PyCampES/python-docs-es/pull/270

[2020-05-21 18:37] humitos opened #314 "Translate `library/os.po`"
This needs to reach 100% translated.

Current stats for `library/os.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 766
- Untranslated: 766

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedocs.io/

[2020-05-21 18:41] #194 closed

[2020-05-21 18:41] #247 closed

[2020-05-21 18:45] humitos opened #315 "Translate `library/socket.po`"
This needs to reach 100% translated.

Current stats for `library/socket.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 300
- Untranslated: 300

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedocs

[2020-05-21 18:45] humitos opened #316 "Translate `library/sys.po`"
This needs to reach 100% translated.

Current stats for `library/sys.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 385
- Untranslated: 385

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedocs.io

[2020-05-21 18:45] humitos opened #317 "Translate `library/xml.etree.elementtree.po`"
This needs to reach 100% translated.

Current stats for `library/xml.etree.elementtree.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 224
- Untranslated: 224

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs

[2020-05-21 18:45] humitos opened #318 "Translate `whatsnew/3.8.po`"
This needs to reach 100% translated.

Current stats for `whatsnew/3.8.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 449
- Untranslated: 449

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedocs.i

[2020-05-21 18:45] humitos opened #319 "Translate `library/unittest.mock.po`"
This needs to reach 100% translated.

Current stats for `library/unittest.mock.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 372
- Untranslated: 372

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.read

[2020-05-21 18:47] humitos commented on #318
Ups... I don't think this issue is relevant at this point. Let's de-prioritize for now. We can re-open it later.

[2020-05-21 18:47] #318 closed

[2020-05-21 19:00] humitos opened #321 "Translate `library/sqlite3.po`"
This needs to reach 100% translated.

Current stats for `library/sqlite3.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 208
- Untranslated: 208

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedoc

[2020-05-21 19:01] humitos opened #322 "Translate `library/ctypes.po`"
This needs to reach 100% translated.

Current stats for `library/ctypes.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 428
- Untranslated: 428

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedocs

[2020-05-21 19:01] humitos opened #323 "Translate `library/decimal.po`"
This needs to reach 100% translated.

Current stats for `library/decimal.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 328
- Untranslated: 328

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedoc

[2020-05-21 19:01] humitos opened #324 "Translate `reference/expressions.po`"
This needs to reach 100% translated.

Current stats for `reference/expressions.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 315
- Untranslated: 315

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.read

[2020-05-21 19:01] humitos opened #325 "Translate `howto/regex.po`"
This needs to reach 100% translated.

Current stats for `howto/regex.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 286
- Untranslated: 286

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedocs.io

[2020-05-21 19:01] humitos opened #326 "Translate `library/calendar.po`"
This needs to reach 100% translated.

Current stats for `library/calendar.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 69
- Untranslated: 69

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedocs

[2020-05-21 20:55] gomezgleonardob commented on #161
Hi, thi issue is closed on https://github.com/PyCampES/python-docs-es/pull/224

[2020-05-21 20:57] #161 closed

[2020-05-21 23:10] ramsal commented on #315
For me!

[2020-05-21 23:14] humitos commented on #315
Yay! Thanks for contributing

[2020-05-21 23:16] shpotes commented on #325
Me la pido!

[2020-05-22 01:03] Chris99999 commented on #323
Quiero traducirlo =D

[2020-05-22 03:40] macaguegi commented on #326
¡Quiero ayudar en la traducción de este! 😄 🖐️

[2020-05-22 08:54] humitos commented on #325
Hola! Adelante. Que lo disfrutes!

[2020-05-22 09:03] humitos commented on #323
Hola! Que lo disfrutes! Recuerda seguir los pasos de la guía de contribución 😃

[2020-05-22 09:04] humitos commented on #326
Hola! Bienvenida! Espero que disfrutes este archivo. Ya lo tienes asignado

[2020-05-22 10:07] humitos commented on #74
Done in #266

[2020-05-22 10:07] #74 closed

[2020-05-22 10:09] humitos commented on #110
Done in #238

[2020-05-22 10:09] #110 closed

[2020-05-22 10:10] humitos commented on #87
Hecho en #136

[2020-05-22 10:10] #87 closed

[2020-05-22 10:11] humitos commented on #103
Hecho en #173

[2020-05-22 10:11] #103 closed

[2020-05-22 10:56] humitos commented on #160
Hecho en #214

[2020-05-22 10:56] #160 closed

[2020-05-22 16:09] humitos commented on #61
Re-open it since the document is not finished :smile:

[2020-05-23 12:02] humitos commented on #234
This is done!

[2020-05-23 12:02] #234 closed

[2020-05-23 14:29] #113 closed

[2020-05-23 14:34] lecovi commented on #314
Si les parece bien, tomo este...

[2020-05-23 14:36] humitos commented on #314
¡Adelante @lecovi! Muchas gracias :smile: --pregunta si tienes cualquier duda, y recuerda seguir los pasos de la guía de colaboración :tada:

[2020-05-23 14:39] lecovi commented on #314
Si, vamos a ver cómo nos va traduciendo! :smile:

[2020-05-23 15:11] raulcd opened #334 "Actualizar rama 3.7 con últimos cambios de 3.7.7"
There are some [paragraphs](https://github.com/python/python-docs-es/blob/3.7/tutorial/controlflow.po#L29):
[code]
That appear incorrectly because we haven't updated the last 3.7 version and applied the backports that were done:
https://github.com/python/cpython/commit/8b907a8875d1b22d8f060dee9430cc82d471e86b
This was backported from 3.8 and is translated there.
It can be seen on the published doc

[2020-05-23 15:35] humitos commented on #334
Shouldn't we tell them to disable `3.7` online version and just stick with 3.8?

[2020-05-23 15:54] raulcd commented on #334
I don't think so, lots of changes appear directly if we just merge. For example the tutorial is almost all translated on python3.6 just because the different paragraphs haven't changed and it just picks them up:
https://docs.python.org/es/3.6/tutorial/
I think we can just use that there's not that many releases and these process should be done only once a new release is created.

[2020-05-23 16:01] humitos commented on #23
Hecho! :tada:

[2020-05-23 16:01] #23 closed

[2020-05-23 16:02] humitos commented on #67
Ahora que estamos bajo la documentación oficial, veo que ellos están construyendo todos los PDF para la versión en español también: https://docs.python.org/es/3.8/download.html

Supongo, igualmente, que no es exactamente lo que queremos, pero no quería dejar de mencionarlo en este issue.

[2020-05-23 16:24] humitos commented on #57
Re-abro este issue. El error sigue estando activo: https://docs.python.org/es/3.8/glossary.html#term-triple-quoted-string

La corrección hay que hacerla en https://github.com/python/docsbuild-scripts

[2020-05-23 18:16] G0erman commented on #321
Me gustaría traducir esta librería.

[2020-05-23 18:49] raulcd commented on #321
Asignado @G0erman

[2020-05-23 19:26] MichellePerezS commented on #324
Hola ,quisiera ayudar a traducir esta parte de documentación.

[2020-05-23 20:31] humitos commented on #324
Muchas gracias! Adelante. Recuerda seguir la guía de colaboración y pregunta si tienes cualquier duda!

[2020-05-23 21:53] gomezgleonardob commented on #319
Please assign me

[2020-05-23 22:15] raulcd commented on #319
Assigned @gomezgleonardob

[2020-05-24 06:07] Tai543 commented on #316
Pido esta 😃

[2020-05-24 06:57] dav009 commented on #317
🙋

[2020-05-24 08:38] raulcd commented on #316
Gracias @Tai543

[2020-05-24 08:38] raulcd commented on #317
Gracias @dav009

[2020-05-24 10:48] humitos opened #337 "Translate `library/difflib.po`"
This needs to reach 100% translated.

Current stats for `library/difflib.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 132
- Untranslated: 132

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedoc

[2020-05-24 10:48] humitos opened #338 "Translate `library/urllib.request.po`"
This needs to reach 100% translated.

Current stats for `library/urllib.request.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 271
- Untranslated: 271

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.rea

[2020-05-24 10:49] humitos opened #339 "Translate `library/ssl.po`"
This needs to reach 100% translated.

Current stats for `library/ssl.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 490
- Untranslated: 490

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedocs.io

[2020-05-24 10:49] humitos opened #340 "Translate `howto/logging-cookbook.po`"
This needs to reach 100% translated.

Current stats for `howto/logging-cookbook.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 216
- Untranslated: 216

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.rea

[2020-05-24 10:49] humitos opened #341 "Translate `library/tkinter.ttk.po`"
This needs to reach 100% translated.

Current stats for `library/tkinter.ttk.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 408
- Untranslated: 408

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readth

[2020-05-24 10:49] humitos opened #342 "Translate `using/cmdline.po`"
This needs to reach 100% translated.

Current stats for `using/cmdline.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 198
- Untranslated: 198

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedocs.

[2020-05-24 10:49] humitos opened #343 "Translate `library/struct.po`"
This needs to reach 100% translated.

Current stats for `library/struct.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 150
- Untranslated: 150

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedocs

[2020-05-24 10:50] humitos opened #344 "Translate `library/codecs.po`"
This needs to reach 100% translated.

Current stats for `library/codecs.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 502
- Untranslated: 502

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedocs

[2020-05-24 10:50] humitos opened #345 "Translate `library/inspect.po`"
This needs to reach 100% translated.

Current stats for `library/inspect.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 314
- Untranslated: 314

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedoc

[2020-05-24 10:50] humitos opened #346 "Translate `library/copy.po`"
This needs to reach 100% translated.

Current stats for `library/copy.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 22
- Untranslated: 22

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedocs.io/

[2020-05-24 10:50] humitos opened #347 "Translate `library/heapq.po`"
This needs to reach 100% translated.

Current stats for `library/heapq.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 51
- Untranslated: 51

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedocs.io

[2020-05-24 10:50] humitos opened #348 "Translate `library/doctest.po`"
This needs to reach 100% translated.

Current stats for `library/doctest.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 306
- Untranslated: 306

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedoc

[2020-05-24 10:50] humitos opened #349 "Translate `library/importlib.po`"
This needs to reach 100% translated.

Current stats for `library/importlib.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 321
- Untranslated: 321

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthed

[2020-05-24 10:51] humitos opened #350 "Translate `library/asyncio-task.po`"
This needs to reach 100% translated.

Current stats for `library/asyncio-task.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 172
- Untranslated: 172

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readt

[2020-05-24 10:51] humitos opened #351 "Translate `reference/import.po`"
This needs to reach 100% translated.

Current stats for `reference/import.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 187
- Untranslated: 187

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedo

[2020-05-24 10:51] humitos opened #352 "Translate `library/idle.po`"
This needs to reach 100% translated.

Current stats for `library/idle.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 271
- Untranslated: 271

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedocs.i

[2020-05-24 10:51] humitos opened #353 "Translate `reference/lexical_analysis.po`"
This needs to reach 100% translated.

Current stats for `reference/lexical_analysis.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 182
- Untranslated: 182

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es

[2020-05-24 10:51] humitos opened #354 "Translate `library/zipfile.po`"
This needs to reach 100% translated.

Current stats for `library/zipfile.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 173
- Untranslated: 173

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedoc

[2020-05-24 18:03] #137 closed

[2020-05-24 18:09] #138 closed

[2020-05-24 21:14] humitos commented on #280
@hectorcanto ¿qué pasó que lo cerraste?

[2020-05-24 22:23] MiguelHeCa commented on #353
Hola, yo quisiera también traducir este!

[2020-05-25 00:34] INGCRENGIFO commented on #354
Me encargaré de este archivo

[2020-05-25 00:55] INGCRENGIFO commented on #346
Quiero ayudar con este archivo

[2020-05-25 01:08] itisDouglas commented on #288
Estoy a casi 50% de la traducción. ¿Espero hasta terminar la traducción para hacer un push, o hago un push cada día que voy progresando?

[2020-05-25 07:58] humitos commented on #288
Hace push a media que vas avanzado así quedan tus commits acá y se puede ir revisando

[2020-05-25 07:58] humitos commented on #353
Adelante!

[2020-05-26 19:12] Jighdan commented on #351
I'll take it

[2020-05-26 19:35] humitos commented on #351
Yay! Enjoy it and thanks! Remember to read the contributing guide 😉

[2020-05-29 10:09] #346 closed

[2020-05-29 11:19] humitos commented on #142
Hola @BMariscal! ¿Cómo vienes con este archivo? ¿Has tenido la oportunidad de avanzar en la traducción? ¿Tienes alguna duda?

[2020-05-29 11:19] humitos commented on #163
Hola @gmdeluca! ¿Cómo vienes con este archivo? ¿Has tenido la oportunidad de avanzar en la traducción? ¿Tienes alguna duda?

[2020-05-29 11:20] humitos commented on #164
Hecho en #256

[2020-05-29 11:20] #164 closed

[2020-05-29 11:20] humitos commented on #158
Hola @iris9112! ¿Cómo vienes con este archivo? ¿Has tenido la oportunidad de avanzar en la traducción? ¿Tienes alguna duda?

[2020-05-29 11:22] humitos commented on #159
Hola @srxavi! ¿Cómo vienes con este archivo? ¿Has tenido la oportunidad de avanzar en la traducción? ¿Tienes alguna duda?

[2020-05-29 11:22] humitos commented on #188
Hola @albertcalv! ¿Cómo vienes con este archivo? ¿Has tenido la oportunidad de avanzar en la traducción? ¿Tienes alguna duda?

[2020-05-29 11:24] humitos commented on #198
Hola @josemlp91! ¿Cómo vienes con este archivo? ¿Has tenido la oportunidad de avanzar en la traducción? ¿Tienes alguna duda?

[2020-05-29 14:21] gmdeluca commented on #163
Hola Humitos! si, voy avanzando, con paciencia porque me tocaron dias complicados en el trabajo. Trataré de avanzar este finde! Gracias!

[2020-05-29 17:12] darwing1210 commented on #350
Me apunto a este :)

[2020-05-29 18:00] srxavi commented on #159
Perdón, he estado muy liado con temas del trabajo. Este fin de semana le dedicaré tiempo.

[2020-05-29 19:41] humitos commented on #350
Excelente! Gracias. Que lo disfrutes 😉

[2020-05-29 22:09] BMariscal commented on #142
I'm ~85% done @humitos. Ya casi termino.

[2020-05-30 00:59] BMariscal commented on #347
Hola! Please assign me to this issue por favor

[2020-05-30 01:17] iris9112 commented on #158
Hola @humitos no voy tan rápido como quisiera. Lo siento por eso. He avanzado algo, mañana en la tarde espero estar haciendo el PR. Gracias por la paciencia :)

[2020-05-30 10:17] humitos commented on #347
@BMariscal enjoy!

[2020-05-30 10:19] humitos commented on #158
@iris9112 no hay problema con los tiempos! Simplemente voy chequeando cada tanto que la gente no esté bloqueada por algo. Gracias por tu tiempo y trabajo :)

[2020-05-30 10:20] #245 closed

[2020-05-30 19:17] #189 closed

[2020-05-30 22:18] BMariscal commented on #349
Hola! Ya termine el fichero `library/heapq`, it was super short. Please assign me to this issue por favor.

[2020-05-30 23:36] gmdeluca commented on #163
Hola humitos hice un draft PR para que mires si te parece ok

[2020-05-31 08:07] srxavi commented on #159
https://github.com/python/python-docs-es/pull/380

[2020-05-31 09:12] humitos commented on #349
Hehe! Awesome. Ya lo tienes asignado a este. Enjoy it!

[2020-06-01 11:02] carlos-bernad commented on #341
Hola @humitos!
Me gustaría contribuir traduciendo este.

[2020-06-01 11:46] humitos commented on #341
Adelante. Acuérdate seguir los pasos de la guía

[2020-06-03 14:25] josemlp91 commented on #198
Hola @humitos estoy en ello, he avanzado un poco, espero dejarlo listo en los próximos días. Gracias por estar atento.

[2020-06-04 12:05] humitos commented on #198
Perfecto. Gracias. Si quieres, siempre puedes crear un PR en modo Draft con lo que vayas teniendo. No hay necesidad de terminar la traducción del archivo para abrir el PR 💪

[2020-06-04 14:23] mgaitan commented on #343
tomo este

[2020-06-04 14:25] humitos commented on #343
Genial! Gracias :1st_place_medal:

[2020-06-05 12:08] trallard commented on #348
Yo pido esta

[2020-06-05 12:19] raulcd commented on #348
Asignado @trallard ! Muchas gracias

[2020-06-06 14:49] eamanu commented on #84
@humitos I can start working on the file

[2020-06-06 15:03] jcpmmx commented on #301
Sorry for the silence here.
WIP.

[2020-06-06 15:17] humitos commented on #301
Great! If you want, you can open a PR as Draft with what you have already

[2020-06-06 21:12] raulcd commented on #159
Merged, can be closed. Thanks @srxavi

[2020-06-06 21:12] #159 closed

[2020-06-08 17:09] gomezgleonardob commented on #342
Please assign me

[2020-06-08 17:15] humitos commented on #342
Enjoy!

[2020-06-09 20:24] gomezgleonardob commented on #338
Please assign me

[2020-06-09 21:36] raulcd commented on #338
Thanks @gomezgleonardob , assigned

[2020-06-10 01:06] neosergio commented on #322
Hi @humitos I would like to contribute with this translation. Please consider assign this issue to me.

[2020-06-10 02:36] narvmtz commented on #352
Hi @humitos, I would like to work on this one! :smile:

[2020-06-10 08:28] raulcd commented on #352
Thanks @narvmtz !

[2020-06-10 08:28] raulcd commented on #322
Thanks @neosergio

[2020-06-13 12:06] humitos commented on #89
Hola @dvidsilva! ¿Has podido avanzar con este archivo? ¿Necesitas alguna ayuda? Si quieres, puedes abrir una PR en Draft con el progreso que tengas hasta el momento --así te podemos dar un feedback temprano.

[2020-06-13 12:11] humitos commented on #157
Hola @albertcalv! ¿Has podido avanzar con este archivo? ¿Necesitas alguna ayuda? Si quieres, puedes abrir una PR en Draft con el progreso que tengas hasta el momento --así te podemos dar un feedback temprano.

[2020-06-13 12:13] humitos commented on #202
Hecho en #249

[2020-06-13 12:13] #202 closed

[2020-06-13 12:13] humitos commented on #200
Hola @marcosmamg! ¿Has podido avanzar con este archivo? ¿Necesitas alguna ayuda? Si quieres, puedes abrir una PR en Draft con el progreso que tengas hasta el momento --así te podemos dar un feedback temprano.

[2020-06-13 12:20] humitos commented on #232
Hola @qagustina ! ¿Has podido avanzar con este archivo? ¿Necesitas alguna ayuda? Si quieres, puedes abrir una PR en Draft con el progreso que tengas hasta el momento --así te podemos dar un feedback temprano.

[2020-06-13 12:20] humitos commented on #201
Hola @beejeke ! ¿Has podido avanzar con este archivo? ¿Necesitas alguna ayuda? Si quieres, puedes abrir una PR en Draft con el progreso que tengas hasta el momento --así te podemos dar un feedback temprano.

[2020-06-13 12:21] humitos commented on #230
Hola @javierdaza ! ¿Has podido avanzar con este archivo? ¿Necesitas alguna ayuda? Si quieres, puedes abrir una PR en Draft con el progreso que tengas hasta el momento --así te podemos dar un feedback temprano.

[2020-06-13 12:22] humitos commented on #248
Hecho en #282

[2020-06-13 12:22] #248 closed

[2020-06-13 12:22] humitos commented on #227
Hola @nicocastanio ! ¿Has podido avanzar con este archivo? ¿Necesitas alguna ayuda? Si quieres, puedes abrir una PR en Draft con el progreso que tengas hasta el momento --así te podemos dar un feedback temprano.

[2020-06-13 12:23] humitos commented on #242
Hecho en #273

[2020-06-13 12:23] #242 closed

[2020-06-13 12:26] humitos commented on #262
Hola @Qkolnek ! ¿Has podido avanzar con este archivo? ¿Necesitas alguna ayuda? Si quieres, puedes abrir una PR en Draft con el progreso que tengas hasta el momento --así te podemos dar un feedback temprano.

[2020-06-13 12:27] humitos commented on #265
Hola @Roluisker ! ¿Has podido avanzar con este archivo? ¿Necesitas alguna ayuda? Si quieres, puedes abrir una PR en Draft con el progreso que tengas hasta el momento --así te podemos dar un feedback temprano.

[2020-06-13 12:27] humitos commented on #287
Hola @fabridamicelli ! ¿Has podido avanzar con este archivo? ¿Necesitas alguna ayuda? Si quieres, puedes abrir una PR en Draft con el progreso que tengas hasta el momento --así te podemos dar un feedback temprano.

[2020-06-13 12:28] humitos commented on #285
Hola @rapto! ¿Has podido avanzar con este archivo? ¿Necesitas alguna ayuda? Si quieres, puedes abrir una PR en Draft con el progreso que tengas hasta el momento --así te podemos dar un feedback temprano.

[2020-06-13 12:29] humitos commented on #303
Hola @lasr21 ! ¿Has podido avanzar con este archivo? ¿Necesitas alguna ayuda? Si quieres, puedes abrir una PR en Draft con el progreso que tengas hasta el momento --así te podemos dar un feedback temprano.

[2020-06-13 12:29] humitos commented on #286
Hola @Juancacorps ! ¿Has podido avanzar con este archivo? ¿Necesitas alguna ayuda? Si quieres, puedes abrir una PR en Draft con el progreso que tengas hasta el momento --así te podemos dar un feedback temprano.

[2020-06-13 12:31] humitos commented on #308
Hola @katialira ! ¿Has podido avanzar con este archivo? ¿Necesitas alguna ayuda? Si quieres, puedes abrir una PR en Draft con el progreso que tengas hasta el momento --así te podemos dar un feedback temprano.

[2020-06-13 12:31] humitos commented on #299
Hola @mjmolina ! ¿Has podido avanzar con este archivo? ¿Necesitas alguna ayuda? Si quieres, puedes abrir una PR en Draft con el progreso que tengas hasta el momento --así te podemos dar un feedback temprano.

[2020-06-13 12:32] humitos commented on #307
Hola @manuelramos ! ¿Has podido avanzar con este archivo? ¿Necesitas alguna ayuda? Si quieres, puedes abrir una PR en Draft con el progreso que tengas hasta el momento --así te podemos dar un feedback temprano.

[2020-06-13 12:32] humitos commented on #304
Hola @c0x6a ! ¿Has podido avanzar con este archivo? ¿Necesitas alguna ayuda? Si quieres, puedes abrir una PR en Draft con el progreso que tengas hasta el momento --así te podemos dar un feedback temprano.

[2020-06-13 12:33] humitos commented on #302
Hola @itrjwyss ! ¿Has podido avanzar con este archivo? ¿Necesitas alguna ayuda? Si quieres, puedes abrir una PR en Draft con el progreso que tengas hasta el momento --así te podemos dar un feedback temprano.

[2020-06-13 12:34] humitos commented on #243
Hecho en #329

[2020-06-13 12:34] #243 closed

[2020-06-13 12:36] humitos commented on #219
@adriaanbd did you create a PR for your branch? I'm not finding it. Could you please create it and link it to this issue?

[2020-06-13 12:37] humitos commented on #196
Hola @damiansire ! ¿Has podido avanzar con este archivo? ¿Necesitas alguna ayuda? Si quieres, puedes abrir una PR en Draft con el progreso que tengas hasta el momento --así te podemos dar un feedback temprano.

[2020-06-13 12:37] humitos commented on #315
Hola @ramsal ! ¿Has podido avanzar con este archivo? ¿Necesitas alguna ayuda? Si quieres, puedes abrir una PR en Draft con el progreso que tengas hasta el momento --así te podemos dar un feedback temprano.

[2020-06-13 12:38] humitos commented on #325
Hola @shpotes ! ¿Has podido avanzar con este archivo? ¿Necesitas alguna ayuda? Si quieres, puedes abrir una PR en Draft con el progreso que tengas hasta el momento --así te podemos dar un feedback temprano.

[2020-06-13 12:38] humitos commented on #323
Hola @Chris99999 ! ¿Has podido avanzar con este archivo? ¿Necesitas alguna ayuda? Si quieres, puedes abrir una PR en Draft con el progreso que tengas hasta el momento --así te podemos dar un feedback temprano.

[2020-06-13 12:39] humitos commented on #321
Hola @G0erman ! ¿Has podido avanzar con este archivo? ¿Necesitas alguna ayuda? Si quieres, puedes abrir una PR en Draft con el progreso que tengas hasta el momento --así te podemos dar un feedback temprano.

[2020-06-13 12:39] humitos commented on #324
Hola @MichellePerezS ! ¿Has podido avanzar con este archivo? ¿Necesitas alguna ayuda? Si quieres, puedes abrir una PR en Draft con el progreso que tengas hasta el momento --así te podemos dar un feedback temprano.

[2020-06-13 12:40] humitos commented on #319
Hola @gomezgleonardob ! ¿Has podido avanzar con este archivo? ¿Necesitas alguna ayuda? Si quieres, puedes abrir una PR en Draft con el progreso que tengas hasta el momento --así te podemos dar un feedback temprano.

[2020-06-13 12:40] humitos commented on #316
Hola @Tai543 ! ¿Has podido avanzar con este archivo? ¿Necesitas alguna ayuda? Si quieres, puedes abrir una PR en Draft con el progreso que tengas hasta el momento --así te podemos dar un feedback temprano.

[2020-06-13 12:40] humitos commented on #317
Hola @dav009 ! ¿Has podido avanzar con este archivo? ¿Necesitas alguna ayuda? Si quieres, puedes abrir una PR en Draft con el progreso que tengas hasta el momento --así te podemos dar un feedback temprano.

[2020-06-13 12:41] humitos commented on #353
Hola @MiguelHeCa ! ¿Has podido avanzar con este archivo? ¿Necesitas alguna ayuda? Si quieres, puedes abrir una PR en Draft con el progreso que tengas hasta el momento --así te podemos dar un feedback temprano.

[2020-06-13 12:55] humitos commented on #157
Ya encontré tu PR :smile:

[2020-06-13 13:24] manuelramos commented on #307
Hola @humitos, si, estoy avanzando con el archivo a paso lento eso si (unos meses complicados en cuanto a tiempo). Por el momento no necesito ayuda, pero seguro la pediré en caso de que si la necesite, en el chat. Gracias por la idea del Draft PR, lo voy a hacer con lo que tengo hasta el momento. Avísame si hay algún deadline o alguna preferencia de tiempos asi me hago mas tiempo y me apuro a term

[2020-06-13 13:38] neosergio commented on #345
I would like to contribute with this translation task.

[2020-06-13 13:40] fabridamicelli commented on #287
Hola @humitos!
Avancé un trecho pero aún falta.
Me parece buena idea lo del draft PR.  Ahí lo mando así le pueden dar un vistazo y ayudarme a corregir antes de que meta la pata del todo :)

[2020-06-13 13:43] humitos commented on #345
Assigned! Enjoy

[2020-06-13 13:44] humitos commented on #307
Genial! No hay deadline, pero voy haciendo un seguimiento del estado de los issues para saber como estamos y ver si la gente necesita ayuda. Gracias!

[2020-06-13 14:44] Roluisker commented on #265
Hola @humitos!.
Si he adelantado una parte, gracias por la idea. Voy a revisar que no tenga problemas adelanto algo mas y subo el Draft :)

[2020-06-13 15:42] MiguelHeCa commented on #353
Sí he avanzado, pero muy poco. Perdona por no hacer antes el PR! Ahora lo hago para que puedan ir viendo el progreso. Prometo ponerme al día!

[2020-06-13 15:48] humitos opened #399 "Guía para colaborar como revisor"
Hemos estado haciendo reuniones puntuales con algunas personas para hacer el "onboarding" sobre "¿cómo hacer un review?". Si bien creo que es super interesante y todos lo disfrutamos, no escala.

Estaría bueno tener una guía similar a CONTRIBUTING (enlazada desde ésta) que mencione que se puede colaborar haciendo revisiones.

Por ejemplo, la [gente de Spacemacs lo hace](https://develop.spacemacs.o

[2020-06-13 15:48] humitos commented on #399
@silvinabt87 sé que estuviste tomando algunas notas de lo que hablamos en la reunión, ¿podrías agregar a este issue las cosas que me estoy oldivando? O, incluso, mejor aún --¿te gustaría escribir esta guía? :wink:

[2020-06-13 17:00] mjmolina commented on #299
Hola!
Muchas gracias por preocuparte :) !!
El "goal" de mi fin de semana es acabar estas traducciones :), con lo que estoy trabajando a tope en ello! Haré el PR muy pronto.

[2020-06-13 18:44] cacrespo commented on #340
Lo tomo!

[2020-06-13 19:33] adriaanbd commented on #219
@humitos I haven't but will go ahead and do so. Sorry for the delay but I started a new job recently  and have been loaded with work. I left it at 20% progress. Will continue this week.

[2020-06-13 20:24] Qkolnek commented on #262
Acabo de hacer el PR en Draft. Tengo el archivo traducido al 40%.

[2020-06-14 09:33] clacri commented on #399
súper buena idea!!!

[2020-06-14 09:35] clacri opened #404 "Palabras que revisar sobre todos los ficheros .po para concordancia con memoria de traducción"
La idea es comprobar que mantenemos el criterio decidido en la memoria en todos los ficheros y cambiarlo si no es así. En esta issue podemos listar las palabras o expresiones que deberemos revisar:

-  *locale* debe ser traducido por *configuración regional*

[2020-06-14 11:42] humitos commented on #399
@clacri @silvinabt87 siéntanse libres de modificar la descripción de este issue agregando más puntos que debamos tener en cuenta en la guía

[2020-06-14 11:44] humitos commented on #340
Disfrute!

[2020-06-14 17:01] c0x6a commented on #304
hola @humitos ... sí justo ayer abrí un PR, el #402

[2020-06-14 20:56] rapto commented on #285
No lo olvido, se me ha complicado la vida. Voy subiendo lo que tengo.

[2020-06-15 10:05] beejeke commented on #201
Hola @humitos ! Si, perdona, pensé que había hecho el pull request hace días. Ya está hecho.
Saludos!

[2020-06-15 16:02] Bgeninatti commented on #337
Hola @humitos . Me gustaría contribuir con esta traducción.

[2020-06-15 16:08] humitos commented on #337
@Bgeninatti adelante! Cuando vayas avanzando, acordate de abrir el PR en draft con lo primero que vayas teniendo, así te podemos dar un feedback mínimo temprano. Gracias!

[2020-06-15 18:17] dvidsilva commented on #89
Hola @humitos que pena! hemos estado embolatados con cosas por acá! esta semana la subo y si no les aviso para que alguien mas la coja.

Gracias!

[2020-06-15 22:55] silvinabt87 commented on #399
@humitos @clacri me pongo a organizar mis notas en un texto y ponemos manos a la obra! Conforme se me vayan ocurriendo tips los agrego al issue

[2020-06-16 14:34] silvinabt87 commented on #399
@humitos @clacri estoy armando el texto para la guía, empezando a incluir mis notas e incorporando los tips de este issue. Comencé con un Google Docs para mi misma, pero me gustaría compartirlo con uds y otrxs voluntarixs para que aportemos todxs. En que file del proyecto lo puedo hacer? (disculpen si es una pregunta muy básica)

[2020-06-16 14:40] clacri commented on #399
ninguna pregunta sobra :) mira, para poder incluirlo tienes que crearlo el fichero en el directorio oculto que se llama .overrides/ (en el repo). Esto sirve porque esas paginas no van a la documentacion de python, es un directorio solo con nuestras cosas del proyecto de traduccion. Dentro hay otras páginas como la memoria de traducción y demás. Puedes crear una PR con una primera versión, que cree

[2020-06-16 14:44] silvinabt87 commented on #399
genial!! gracias!! eso quería: hacerlo con markdown y que ya quede listo, porque con el Google Docs estoy haciendo un paso de más :P

[2020-06-16 16:13] humitos commented on #399
Ojo que no es Markdown, sino que es reStructuredText. Esta guía te puede ayudar a entender cómo definir cada tipo de sección, negrita, título, etc https://www.sphinx-doc.org/es/master/usage/restructuredtext/index.html

[2020-06-16 16:20] clacri commented on #399
oooops perdón me confundí !!!!

[2020-06-16 17:38] silvinabt87 commented on #399
Sí, yo no me di cuenta tampoco pero entré en Sphinx para escribir con RST, porque sabía que ese era el formato de los archivos, y encontré esa guía. Gracias!

[2020-06-16 18:10] itrjwyss commented on #302
Hola @humitos, había entendido que se subía todo. Y la semana pasada estuve en las previas a lanzamiento de una nueva aplicación. Pero voy subiendo lo que tengo.

[2020-06-16 21:42] lasr21 commented on #303
Ya casi, acabo en un par de dias hago el PR para revisión :)

[2020-06-17 03:32] neosergio commented on #339
I can take this translation pending too :)

[2020-06-17 13:40] hectorcanto commented on #280
fue sin querer o algo automatico @humitos

[2020-06-17 18:51] marcosmamg commented on #200
Si, lo tengo listo, solamente quiero revisarlo un poco mas y reparar alguno que otro error para hacer mi PR

[2020-06-18 20:15] qagustina commented on #232
Hola @humitos vi que ya están trabajando con este archivo. Si quieren me pueden asignar a otro que haga falta y me pongo a trabajar en eso. Gracias! :)

[2020-06-18 21:28] humitos commented on #232
Hola @qagustina! Porqué dices que ya hay alguien trabajando en este? Yo no lo estoy viendo. Tienes el link del PR a la mano?

[2020-06-18 22:33] qagustina commented on #232
Issue #198 creí que se había puesto a trabajar en el mismo archivo. Y no sabría si empezar desde cero o desde donde continuar.
https://github.com/python/python-docs-es/issues/198

[2020-06-19 09:58] humitos commented on #232
@qagustina ups... Eso fue un error mío que creé dos veces el issue para el mismo archivo. Sí, por favor, si puedes agarra otro issue de los que estén abiertos y no asignados. Voy a cerrar este.

[2020-06-19 09:58] #232 closed

[2020-06-19 10:01] humitos opened #412 "Translate `installing/index.po`"
This needs to reach 100% translated.

Current stats for `installing/index.po`:

- Fuzzy: 0
- Percent translated: 100%
- Entries: 53 / 53
- Untranslated: 0

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedo

[2020-06-19 10:02] #412 closed

[2020-06-19 10:12] humitos opened #413 "Translate `../library/difflib.po`"
This needs to reach 100% translated.

Current stats for `../library/difflib.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 132
- Untranslated: 132

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthe

[2020-06-19 10:12] humitos opened #414 "Translate `../howto/logging.po`"
This needs to reach 100% translated.

Current stats for `../howto/logging.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 218
- Untranslated: 218

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedo

[2020-06-19 10:12] humitos opened #415 "Translate `../library/urllib.request.po`"
This needs to reach 100% translated.

Current stats for `../library/urllib.request.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 271
- Untranslated: 271

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.

[2020-06-19 10:13] #413 closed

[2020-06-19 10:13] #414 closed

[2020-06-19 10:13] #415 closed

[2020-06-19 10:17] humitos opened #417 "Translate `library/statistics.po`"
This needs to reach 100% translated.

Current stats for `library/statistics.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 152
- Untranslated: 152

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthe

[2020-06-19 10:17] humitos opened #418 "Translate `library/http.server.po`"
This needs to reach 100% translated.

Current stats for `library/http.server.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 85
- Untranslated: 85

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthed

[2020-06-19 10:17] humitos opened #419 "Translate `library/optparse.po`"
This needs to reach 100% translated.

Current stats for `library/optparse.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 406
- Untranslated: 406

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedo

[2020-06-19 10:18] humitos opened #420 "Translate `library/contextlib.po`"
This needs to reach 100% translated.

Current stats for `library/contextlib.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 112
- Untranslated: 112

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthe

[2020-06-19 10:20] humitos opened #421 "Translate `library/pdb.po`"
This needs to reach 100% translated.

Current stats for `library/pdb.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 94
- Untranslated: 94

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedocs.io/p

[2020-06-19 10:21] humitos opened #422 "Translate `library/logging.config.po`"
This needs to reach 100% translated.

Current stats for `library/logging.config.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 117
- Untranslated: 117

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.rea

[2020-06-19 10:21] humitos opened #423 "Translate `library/hashlib.po`"
This needs to reach 100% translated.

Current stats for `library/hashlib.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 137
- Untranslated: 137

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedoc

[2020-06-19 10:21] humitos opened #424 "Translate `library/operator.po`"
This needs to reach 100% translated.

Current stats for `library/operator.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 177
- Untranslated: 177

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedo

[2020-06-19 10:21] humitos opened #425 "Translate `library/logging.handlers.po`"
This needs to reach 100% translated.

Current stats for `library/logging.handlers.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 255
- Untranslated: 255

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.r

[2020-06-19 10:21] humitos opened #426 "Translate `library/curses.po`"
This needs to reach 100% translated.

Current stats for `library/curses.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 630
- Untranslated: 630

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedocs

[2020-06-19 10:22] humitos opened #427 "Translate `library/concurrent.futures.po`"
This needs to reach 100% translated.

Current stats for `library/concurrent.futures.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 84
- Untranslated: 84

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.r

[2020-06-19 10:22] humitos opened #428 "Translate `library/queue.po`"
This needs to reach 100% translated.

Current stats for `library/queue.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 42
- Untranslated: 42

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedocs.io

[2020-06-19 10:22] humitos opened #429 "Translate `library/cgi.po`"
This needs to reach 100% translated.

Current stats for `library/cgi.po`:

- Fuzzy: 0
- Percent translated: 44%
- Entries: 39 / 88
- Untranslated: 49

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedocs.io

[2020-06-19 13:10] Ambro17 commented on #427
Buenas, me gustaría traducir está sección
Hello, I'd like to translate this section

[2020-06-19 13:43] raulcd commented on #427
assigned, thanks @Ambro17

[2020-06-19 15:34] javierdaza commented on #230
@humitos enviaré una parte traducida este fin de semana

[2020-06-19 23:30] G0erman commented on #321
Perfecto, llevo el 20%. voy a abrir el PR.

[2020-06-20 11:40] #61 closed

[2020-06-20 13:14] #197 closed

[2020-06-21 02:08] gomezgleonardob commented on #421
Please assign me

[2020-06-21 02:22] humitos commented on #421
Excelente! Gracias por seguir traduciendo 💪💪💪

[2020-06-21 18:19] humitos commented on #350
Hola @darwing1210! ¿Cómo vienes con la traducción de este archivo? ¿Has podido avanzar? ¿Tienes alguna duda en la que te podamos ayudar?

Si tienes un pequeño porcentaje traducido, sería bueno que abras una PR en Draft así te podemos dar un poco de feedback y ayudarte a continuar.

[2020-06-21 18:20] humitos commented on #349
Hola @BMariscal! ¿Cómo vienes con la traducción de este archivo? ¿Has podido avanzar? ¿Tienes alguna duda en la que te podamos ayudar?

Si tienes un pequeño porcentaje traducido, sería bueno que abras una PR en Draft así te podemos dar un poco de feedback y ayudarte a continuar.

[2020-06-21 19:41] clacri commented on #19
Al final hemos acordado dejar el flujo de trabajo como lo llevamos no? Esta issue debe seguir abierta?

[2020-06-21 19:44] clacri opened #437 "Meet the requirements to appear in the language switch of the official Python docs"
The following contents must reach 100% (not any fuzzies)

100% of bugs.html with proper links to the language repository issue tracker
100% of tutorial
100% of library/functions (builtins)

Current status is:

el tutorial está al 100% sin fuzzy (no aparece en el `progress.html`)
functions.po está al 98% con 6 fuzzy
bugs.po está al 73% con 3 fuzzy

So I am going to open a branch and a draft PR to c

[2020-06-21 21:37] darwing1210 commented on #350
Gracias @humitos siento mucho la demora, lo tendré listo lo más pronto posible

[2020-06-21 22:45] humitos commented on #19
Sí. Lo cerramos por ahora. Luego vemos de reabrirlo si necesitamos. Gracias!

[2020-06-21 22:45] #19 closed

[2020-06-22 22:11] camilooob commented on #428
Hola Manuel, me gustaría ayudar con esta traducción. Me la asignas porfa.

[2020-06-22 22:51] humitos commented on #428
Adelante! Muchas gracias por sumarte al proyecto!

[2020-06-22 23:54] gomezgleonardob commented on #418
Please assign me

[2020-06-23 02:23] Juancacorps commented on #286
Hola buenas noches, sigo avanzando en la traducción.

El sáb., 13 de junio de 2020 6:29 a. m., Manuel Kaufmann <
notifications@github.com> escribió:

[2020-06-23 02:53] camilooob commented on #428
Super, gracias.

[2020-06-23 09:22] #261 closed

[2020-06-23 10:55] cmaureir commented on #200
Buena @marcosmamg ! :D Gusto de verte por estos lado, a ver si nos vemos en la PyCon2021 en US :)

[2020-06-23 10:57] cmaureir commented on #344
Me voy a ir apuntando los archivos mas aburridos para sacarlos luego y que nos olvidemos :P

[2020-06-24 02:17] claudio-m commented on #419
can I work on this translation?

[2020-06-24 02:23] claudio-m commented on #339
can I translate this file?

[2020-06-24 10:37] humitos commented on #339
Hi Claudio! Sure! Go ahead and happy translating 🎉

[2020-06-24 10:40] humitos commented on #419
Hi Claudio! I just assigned another issue, #339. Please work on that first. Once finished, we can assign this one to you if nobody else has taken it. Thanks!

[2020-06-24 13:56] RubenGavidia commented on #417
me gustaria traducir este archivo.

[2020-06-24 15:11] brianbok commented on #424
Hola, me gustaría ayudar con la traducción de library/operator :smile:

[2020-06-24 15:38] humitos commented on #417
Hola @RubenGavidia! Bienvenido y gracias por colaborar! Espero que lo disfrutes :wink:

[2020-06-24 15:59] humitos commented on #424
Hola @brianbok! Bienvenido! Que disfrutes mucho la traducción de este módulo! Recuerda seguir los pasos de la guia de colaborador :wink:

[2020-06-24 18:35] aigissch commented on #429
¡Hola! Me gustaría que me asignen este archivo. Gracias.

[2020-06-24 18:40] humitos commented on #429
Hola @aigissch! Adelante! Que lo disfrutes!

[2020-06-24 19:41] cmaureir commented on #420
Me apunto con este para sacarlo pronto

[2020-06-25 01:48] ALandazabal commented on #426
Hello!! Can I work in this doc?

[2020-06-25 07:39] humitos commented on #426
@ALandazabal Hola! Adelante! Espero que lo disfrutes! :tada: . Recuerda seguir los pasos que indica la guía de "Contributing"

[2020-06-25 12:09] #195 closed

[2020-06-26 01:41] jcpmmx commented on #301
Almost done!

BTW, which language is the official here for discussions, commit messages, PRs?

[2020-06-26 09:28] humitos commented on #301
Whatever you like the most 😬

I try to use English so it's useful for other translators in another languages

[2020-06-26 15:29] adriEzeMartinez commented on #423
Lo podrè tomar?

[2020-06-26 15:43] cmaureir commented on #423
Claro! Muchas gracias @adriEzeMartinez  :)

[2020-06-26 15:52] adriEzeMartinez commented on #423
genial! muchas gracias!

[2020-06-26 18:38] genvalen commented on #419
Can I work on this?

[2020-06-26 20:50] cmaureir commented on #422
me lo asigno para acabarlo pronto

[2020-06-27 21:14] Tai543 commented on #316
Hola @humitos si he avanzado muy poco creo para el volumen de linea 😞 pero abrire el PR en Draft 👍

[2020-06-27 23:18] jcantilo commented on #425
can I work on this? is my first time but I want to colaborate

[2020-06-28 01:23] humitos commented on #425
Sure! Great! Please, follow the steps and considerations from the contributing guide. Thanks!

[2020-06-28 14:20] humitos commented on #419
hey @genvalen! Sure! Go ahead! Remember to follow the steps from the Contributing Guide. I'm sorry for the late reply here :disappointed:

[2020-06-28 14:21] humitos opened #460 "Translate `reference/compound_stmts.po`"
This needs to reach 100% translated.

Current stats for `reference/compound_stmts.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 115
- Untranslated: 115

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.r

[2020-06-28 14:21] humitos opened #461 "Translate `library/asyncio-eventloop.po`"
This needs to reach 100% translated.

Current stats for `library/asyncio-eventloop.po`:

- Fuzzy: 0
- Percent translated: 10.45%
- Entries: 33 / 345
- Untranslated: 312

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-doc

[2020-06-28 14:21] humitos opened #462 "Translate `library/dataclasses.po`"
This needs to reach 100% translated.

Current stats for `library/dataclasses.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 93
- Untranslated: 93

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthed

[2020-06-28 14:21] humitos opened #463 "Translate `faq/design.po`"
This needs to reach 100% translated.

Current stats for `faq/design.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 138
- Untranslated: 138

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedocs.io/

[2020-06-28 14:22] humitos opened #464 "Translate `extending/extending.po`"
This needs to reach 100% translated.

Current stats for `extending/extending.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 158
- Untranslated: 158

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readth

[2020-06-28 14:22] humitos opened #465 "Translate `reference/simple_stmts.po`"
This needs to reach 100% translated.

Current stats for `reference/simple_stmts.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 153
- Untranslated: 153

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.rea

[2020-06-28 14:22] humitos opened #466 "Translate `library/base64.po`"
This needs to reach 100% translated.

Current stats for `library/base64.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 50
- Untranslated: 50

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedocs.i

[2020-06-28 14:22] humitos opened #467 "Translate `library/smtplib.po`"
This needs to reach 100% translated.

Current stats for `library/smtplib.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 107
- Untranslated: 107

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedoc

[2020-06-28 14:23] humitos opened #468 "Translate `howto/functional.po`"
This needs to reach 100% translated.

Current stats for `howto/functional.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 206
- Untranslated: 206

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedo

[2020-06-28 14:23] humitos opened #469 "Translate `library/ast.po`"
This needs to reach 100% translated.

Current stats for `library/ast.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 58
- Untranslated: 58

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedocs.io/p

[2020-06-28 14:23] humitos opened #470 "Translate `library/ftplib.po`"
This needs to reach 100% translated.

Current stats for `library/ftplib.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 63
- Untranslated: 63

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedocs.i

[2020-06-28 14:23] humitos opened #471 "Translate `library/tarfile.po`"
This needs to reach 100% translated.

Current stats for `library/tarfile.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 201
- Untranslated: 201

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedoc

[2020-06-28 14:24] humitos opened #472 "Translate `library/abc.po`"
This needs to reach 100% translated.

Current stats for `library/abc.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 45
- Untranslated: 45

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedocs.io/p

[2020-06-28 14:24] humitos opened #473 "Translate `distutils/setupscript.po`"
This needs to reach 100% translated.

Current stats for `distutils/setupscript.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 174
- Untranslated: 174

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.read

[2020-06-28 14:24] humitos opened #474 "Translate `library/test.po`"
This needs to reach 100% translated.

Current stats for `library/test.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 250
- Untranslated: 250

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedocs.i

[2020-06-28 14:24] humitos opened #475 "Translate `library/dis.po`"
This needs to reach 100% translated.

Current stats for `library/dis.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 239
- Untranslated: 239

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedocs.io

[2020-06-28 14:25] humitos opened #476 "Translate `howto/sockets.po`"
This needs to reach 100% translated.

Current stats for `howto/sockets.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 57
- Untranslated: 57

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedocs.io

[2020-06-28 14:25] humitos opened #477 "Translate `library/asyncio.po`"
This needs to reach 100% translated.

Current stats for `library/asyncio.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 20
- Untranslated: 20

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedocs.

[2020-06-28 14:25] humitos opened #478 "Translate `distutils/apiref.po`"
This needs to reach 100% translated.

Current stats for `distutils/apiref.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 411
- Untranslated: 411

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedo

[2020-06-28 15:57] ignaciodopazo commented on #462
Hola! Soy nuevo por acá, me gustaría ayudar empezando con éste.

[2020-06-28 16:19] humitos commented on #462
Hola! Adelante! Puedes empezar con este archivo. Recuerda seguir los pasos de la guía!

[2020-06-28 16:22] cmaureir commented on #463
Me anoto con esta, para acabar los FAQ pronto.

[2020-06-28 18:24] r3v1 commented on #477
I would like to contribute!

[2020-06-28 18:56] #437 closed

[2020-06-28 19:00] humitos commented on #477
Thanks!

[2020-06-28 22:00] eamanu opened #483 "README.rst en Español?"
Dejo esto para discusión (perdón si ya se lo ha discutido antes)

No debería estar el README en español? Si es la traducción al español de la documentación
creo que estaría bueno que lo primero que vea al entrar al proyecto
sea un resumen en español (o en ambas lenguas?)

Saludos!

[2020-06-28 22:04] cmaureir commented on #483
Por lo general la gente no llega por el repositorio, si no por la página https://python-docs-es.readthedocs.io/es/3.8/CONTRIBUTING.html
Pero me parece buena idea dejarlo en Castellano y abajo en inglés,
ya que si miramos las otras iniciativas de traducción, lo tienen en sus respectivos idiomas.
Así que +1

[2020-06-28 22:06] cmaureir commented on #469
Me apunto con ésta

[2020-06-28 22:39] cmaureir commented on #475
Me asigno esta

[2020-06-29 05:00] narvmtz commented on #472
Hola, me gustaría colaborar con este! Gracias.

[2020-06-29 08:14] Unaipg commented on #468
Hi! I'd like to translate this.

[2020-06-29 08:58] humitos commented on #483
Creo que tenemos dos tipos de público: lectores y colaboradores. Los lectores, no deberían llegar a este repositorio en ningún caso, sino directamente a https://docs.python.org/es/3.8/. Los colaboradores, deberían llegar a https://python-docs-es.readthedocs.io/es/3.8/CONTRIBUTING.html

Supongo que podríamos agregar una pequeña sección en castellano en el README para los lectores linkeando a la doc

[2020-06-29 11:12] cmaureir commented on #472
Listo! gracias @narvmtz

[2020-06-29 13:25] #424 closed

[2020-06-29 14:40] ktowen commented on #476
Hola. Quisiera traducir este. Saludos

[2020-06-29 18:35] cmaureir commented on #476
Listo! Muchas gracias @ktowen :) Mucho éxito con la traducción

[2020-06-29 18:36] cmaureir commented on #468
Wohooo! Genial @Unaipg , gracias y mucho éxito con la traducción!

[2020-06-29 18:49] cmaureir commented on #466
Me lo asigno

[2020-06-29 19:35] cmaureir commented on #473
Me asigno esta

[2020-06-29 20:05] mjmolina commented on #474
Hola. Me gustaría traducir este :) !

[2020-06-29 20:05] cmaureir commented on #474
Gracias! Mucho éxito con la traducción!

[2020-06-30 15:10] #201 closed

[2020-06-30 15:41] mikanchu commented on #465
Hello!

I would like to have this file assigned to me.

Thank you!

[2020-06-30 15:43] cmaureir commented on #465
Gracias @mikanchu ! Mucha suerte con la traducción :)

[2020-07-01 01:53] qagustina commented on #461
I would like to work on this :)

[2020-07-01 10:58] raulcd commented on #461
assigned, thanks @qagustina

[2020-07-01 14:32] samvaldez commented on #478
I want to do this.

[2020-07-01 16:54] cmaureir commented on #478
Geniaaaaaal @samvaldez Muchas gracias!
Éxito con la traducción! :dancers:

[2020-07-02 03:09] mayuti commented on #460
Hi!, Can I help translate this file?.

[2020-07-02 14:21] RDCH106 commented on #467
Permission to start this translation

[2020-07-02 22:33] silvinabt87 commented on #470
@humitos I can take this one, since it's a short one! So I can go on trying to fix my branch issues for my PR  :( I haven't found the way to solve it yet (I'll go back to beg for help on Telegram :P

[2020-07-02 23:05] humitos commented on #470
He! Welcome to the crazy days when nothing works 😅

[2020-07-03 04:09] mxarc commented on #471
¡Hola!
Me gustaría trabajar en este issue :)

[2020-07-03 07:32] cmaureir commented on #471
Genial! Muchas gracias @mxarc !!! Suerte con la traducción!

[2020-07-03 07:33] cmaureir commented on #467
wohoooo! Genial @RDCH106 ! ya está asignado. Suerte con la traducción! :dancers:

[2020-07-03 07:33] cmaureir commented on #460
buenisima! Gracias @mayuti, asignado. Suerte con la traducción!

[2020-07-04 20:56] mayuti commented on #460
Buenas!, Espero haber realizado todos los pasos correctamente en mi primera traducción. Saludos.

[2020-07-04 23:10] Tai543 commented on #316
@humitos el PR esta abierto

[2020-07-05 19:24] humitos opened #503 "Translate `library/profile.po`"
This needs to reach 100% translated.

Current stats for `library/profile.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 153
- Untranslated: 153

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedoc

[2020-07-05 19:24] humitos opened #504 "Translate `library/http.client.po`"
This needs to reach 100% translated.

Current stats for `library/http.client.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 91
- Untranslated: 91

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthed

[2020-07-05 19:24] humitos opened #505 "Translate `library/fileinput.po`"
This needs to reach 100% translated.

Current stats for `library/fileinput.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 40
- Untranslated: 40

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedoc

[2020-07-05 19:24] humitos commented on #192
Hola @kikocorreoso! Has podido avanzar con la traducción de este archivo? Puedes abrir una PR en modo Draft si quieres con el trabajo que tengas hasta este momento, aunque no esté completa.

[2020-07-05 19:25] humitos opened #506 "Translate `library/unittest.mock-examples.po`"
This needs to reach 100% translated.

Current stats for `library/unittest.mock-examples.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 160
- Untranslated: 160

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-doc

[2020-07-05 19:25] humitos opened #507 "Translate `library/sched.po`"
This needs to reach 100% translated.

Current stats for `library/sched.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 23
- Untranslated: 23

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedocs.io

[2020-07-05 19:25] humitos opened #508 "Translate `library/cmd.po`"
This needs to reach 100% translated.

Current stats for `library/cmd.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 42
- Untranslated: 42

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedocs.io/p

[2020-07-05 19:25] humitos opened #509 "Translate `library/email.examples.po`"
This needs to reach 100% translated.

Current stats for `library/email.examples.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 12
- Untranslated: 12

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readt

[2020-07-05 19:25] humitos opened #510 "Translate `library/getopt.po`"
This needs to reach 100% translated.

Current stats for `library/getopt.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 19
- Untranslated: 19

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedocs.i

[2020-07-05 19:26] humitos opened #511 "Translate `library/imaplib.po`"
This needs to reach 100% translated.

Current stats for `library/imaplib.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 103
- Untranslated: 103

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedoc

[2020-07-05 19:26] humitos opened #512 "Translate `using/mac.po`"
This needs to reach 100% translated.

Current stats for `using/mac.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 45
- Untranslated: 45

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedocs.io/pag

[2020-07-05 19:26] humitos opened #513 "Translate `library/signal.po`"
This needs to reach 100% translated.

Current stats for `library/signal.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 119
- Untranslated: 119

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedocs

[2020-07-05 19:26] humitos opened #514 "Translate `library/socketserver.po`"
This needs to reach 100% translated.

Current stats for `library/socketserver.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 79
- Untranslated: 79

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthe

[2020-07-05 19:26] humitos opened #515 "Translate `license.po`"
This needs to reach 100% translated.

Current stats for `license.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 91
- Untranslated: 91

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedocs.io/page/

[2020-07-05 19:27] humitos opened #516 "Translate `library/ipaddress.po`"
This needs to reach 100% translated.

Current stats for `library/ipaddress.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 139
- Untranslated: 139

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthed

[2020-07-05 19:27] humitos opened #517 "Translate `library/gettext.po`"
This needs to reach 100% translated.

Current stats for `library/gettext.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 120
- Untranslated: 120

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedoc

[2020-07-05 19:27] humitos opened #518 "Translate `library/collections.abc.po`"
This needs to reach 100% translated.

Current stats for `library/collections.abc.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 97
- Untranslated: 97

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.read

[2020-07-05 19:27] humitos opened #519 "Translate `library/email.message.po`"
This needs to reach 100% translated.

Current stats for `library/email.message.po`:

- Fuzzy: 0
- Percent translated: 54%
- Entries: 55 / 103
- Untranslated: 48

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.rea

[2020-07-05 19:27] humitos opened #520 "Translate `library/cmath.po`"
This needs to reach 100% translated.

Current stats for `library/cmath.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 52
- Untranslated: 52

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedocs.io

[2020-07-05 19:28] humitos opened #521 "Translate `library/mailbox.po`"
This needs to reach 100% translated.

Current stats for `library/mailbox.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 286
- Untranslated: 286

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedoc

[2020-07-05 19:28] humitos opened #522 "Translate `library/xml.dom.po`"
This needs to reach 100% translated.

Current stats for `library/xml.dom.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 234
- Untranslated: 234

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedoc

[2020-07-05 19:28] humitos opened #523 "Translate `library/html.parser.po`"
This needs to reach 100% translated.

Current stats for `library/html.parser.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 48
- Untranslated: 48

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthed

[2020-07-05 19:40] Buzzeitor30 commented on #520
¿Puedo hacerla?

[2020-07-05 19:43] humitos commented on #520
Hola @Buzzeitor30! Sí, claro! Adelante :wink:

[2020-07-05 19:55] #263 closed

[2020-07-05 21:25] mayuti commented on #504
Hola, Podrías asignarme el archivo?.

[2020-07-06 03:39] mayuti commented on #505
Hola, Podrías asignarme el archivo?.

[2020-07-06 07:23] kikocorreoso commented on #192
Está traducido de hace mucho. Lo tengo que revisar y hacer PR. A ver si esta semana lo puedo hacer...

[2020-07-06 07:31] zejiran commented on #508
I would like to work on this task.

[2020-07-06 07:34] zejiran commented on #512
I could help here.

[2020-07-06 07:37] humitos commented on #512
Excellent! You have it assigned. Please, follow the contributing guide 👍

[2020-07-06 07:38] humitos commented on #508
Great! Thanks. Follow the contributing guide, please

[2020-07-06 07:39] humitos commented on #192
Gracias! 👍💪

[2020-07-06 07:52] cmaureir commented on #505
wohooo genial @mayuti ! Ya te lo asigné :) Buena suerte con la traducción !

[2020-07-06 08:44] humitos commented on #504
@mayuti enjoy! Recuerda seguir los pasos de la guía de colaboración! :D

[2020-07-06 08:55] #305 closed

[2020-07-06 16:18] #352 closed

[2020-07-06 18:27] cmaureir commented on #523
Me la asigno

[2020-07-07 00:51] gabrielBarbacil commented on #519
¡Hola!¿Puedo hacerla?

[2020-07-07 12:38] humitos commented on #519
Adelante! Recuerda seguir la guía de contribución 💪

[2020-07-07 12:40] #326 closed

[2020-07-07 13:38] #504 closed

[2020-07-07 16:54] #508 closed

[2020-07-07 16:55] #512 closed

[2020-07-07 20:05] cmaureir commented on #517
Me lo asigno :)

[2020-07-07 21:24] cmaureir commented on #510
Me asigno esta

[2020-07-07 21:45] #344 closed

[2020-07-08 02:39] zejiran commented on #515
I want to be assigned.

[2020-07-08 02:40] zejiran commented on #503
Can I work here?

[2020-07-08 06:55] cmaureir commented on #515
Grande @zejiran ! suerte con la traducción :tada:

[2020-07-08 06:55] cmaureir commented on #503
Sé que vas super rápido, con lo que te lo asigno igual @zejiran :) suerteee!

[2020-07-08 19:21] mayuti commented on #509
Buenas!, Me podrías pasar el archivo?. Gracias.

[2020-07-08 19:29] mayuti commented on #507
Buenas!, Me podrías pasar el archivo?. Gracias.

[2020-07-08 19:47] cmaureir commented on #509
Bien @mayuti  :D Acuerdate de crear la rama desde 3.8 para no incluir cambios anteriores. Mucha suerte!

[2020-07-08 21:04] humitos commented on #507
Ahí lo tienes

[2020-07-08 21:06] humitos commented on #515
This is probably a mistake. Do not translate this file. It's the license.

Please, do not do it! 😀

[2020-07-08 21:06] #515 closed

[2020-07-08 21:07] humitos commented on #515
Pick another one 😉

[2020-07-08 22:50] VladimirGonzalez commented on #514
Me gustaría traducir este

[2020-07-09 09:45] cmaureir commented on #514
buenisimo @VladimirGonzalez ! Gracias! y mucha suerte con la traducción :tada:

[2020-07-09 14:54] #507 closed

[2020-07-09 22:32] hristoroque commented on #522
Me gustaría traducir este archivo

[2020-07-09 23:06] mayuti commented on #518
Buenas!. Podrías asignarme el archivo?. Saludos.

[2020-07-10 07:50] #463 closed

[2020-07-10 08:08] #509 closed

[2020-07-10 08:08] cmaureir commented on #522
Genial @hristoroque ! Buena suerte :dancers:

[2020-07-10 08:09] cmaureir commented on #518
Listo!

[2020-07-10 13:06] nicocastanio commented on #227
perdón, no he podido avanzar. lo dejo libre para que lo pueda tomar alguien mas.

[2020-07-13 12:41] #299 closed

[2020-07-13 16:16] estebansolo commented on #227
Lo puedo tomar?

[2020-07-13 17:35] #503 closed

[2020-07-13 17:36] cmaureir commented on #227
Claro que si @estebansolo  :tada: éxito!

[2020-07-13 18:43] mayuti commented on #511
Buenas!. Podrías asignarme el archivo?.

[2020-07-13 18:54] nahueespinosa commented on #516
Hola! Me gustaría trabajar en este archivo.

[2020-07-13 18:57] humitos opened #551 "Translate `library/asyncore.po`"
This needs to reach 100% translated.

Current stats for `library/asyncore.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 52
- Untranslated: 52

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedocs

[2020-07-13 18:57] humitos opened #552 "Translate `library/pydoc.po`"
This needs to reach 100% translated.

Current stats for `library/pydoc.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 19
- Untranslated: 19

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedocs.io

[2020-07-13 18:58] humitos opened #553 "Translate `library/email.compat32-message.po`"
This needs to reach 100% translated.

Current stats for `library/email.compat32-message.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 104
- Untranslated: 104

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-doc

[2020-07-13 18:58] humitos opened #554 "Translate `library/shlex.po`"
This needs to reach 100% translated.

Current stats for `library/shlex.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 71
- Untranslated: 71

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedocs.io

[2020-07-13 18:58] humitos opened #555 "Translate `library/zipapp.po`"
This needs to reach 100% translated.

Current stats for `library/zipapp.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 79
- Untranslated: 79

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedocs.i

[2020-07-13 18:58] humitos commented on #511
@mayuti leeeesto! Que lo disfrutes!

[2020-07-13 18:58] humitos opened #556 "Translate `library/binascii.po`"
This needs to reach 100% translated.

Current stats for `library/binascii.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 37
- Untranslated: 37

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedocs

[2020-07-13 18:58] humitos opened #557 "Translate `library/gzip.po`"
This needs to reach 100% translated.

Current stats for `library/gzip.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 56
- Untranslated: 56

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedocs.io/

[2020-07-13 18:59] humitos opened #558 "Translate `library/types.po`"
This needs to reach 100% translated.

Current stats for `library/types.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 77
- Untranslated: 77

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedocs.io

[2020-07-13 20:38] cmaureir commented on #516
Genial @nahueespinosa !!! Mucho éxito :tada:

[2020-07-13 20:39] #472 closed

[2020-07-13 21:27] narvmtz commented on #558
Me gustaría trabajar en este :)

[2020-07-13 21:58] hristoroque commented on #552
Me gustaría traducir este archivo, aunque actualmente estoy traduciendo xml.dom pero ese archivo es tiene muchas entradas y me llevará tiempo terminarla, puedo traducir pydoc mientras hago xml.dom.

[2020-07-14 00:49] hellocoldworld commented on #557
Hello! I'm available to work in this one, since this is my first collab I could have a version by the end of the week, approximately.

[2020-07-14 03:21] omartinex commented on #556
Me gustaría trabajar en este archivo

[2020-07-14 08:29] JulienPalard opened #560 "Latex error while building PDF"
Got:
[code]

^P means 0x10, it's a `data link escape`, so, to find them:
[code]

[2020-07-14 08:47] cmaureir commented on #558
bieeen! @narvmtz  :tada:

[2020-07-14 08:48] cmaureir commented on #552
Ok! pero no te cargues mucho @hristoroque !

[2020-07-14 08:48] cmaureir commented on #557
Hola @hellocoldworld , mucho éxito con la traducción.

[2020-07-14 08:49] cmaureir commented on #556
Listo @omartinex éxito con la traducción :+1:

[2020-07-14 10:04] #560 closed

[2020-07-14 17:57] halcolo commented on #551
Hi, I want to work in this library.

[2020-07-14 18:26] cmaureir commented on #551
Gracias @halcolo ! Mucho éxito con la traducción :tada:

[2020-07-14 18:28] #227 closed

[2020-07-14 19:21] estebansolo commented on #554
Hola, podría tomar este issue?

[2020-07-14 21:14] cmaureir commented on #554
Bien @estebansolo :tada: :tada: !

[2020-07-15 08:38] #552 closed

[2020-07-15 11:30] juansemarquez commented on #555
Me gustaría contribuir con traduciendo este archivo.
I'd like to contibute translating this file.
Juan.

[2020-07-15 12:31] cmaureir commented on #555
Bien @juansemarquez !!! :tada: mucho éxito!

[2020-07-15 14:42] rodpoblete commented on #521
I want to work on this issue

[2020-07-15 15:57] humitos commented on #521
@rodpoblete thanks! assigned to you! Remember to follow the Contributing Guide! ;)

[2020-07-15 19:53] VladimirGonzalez commented on #513
Quiero traducir este.. me lo podría asignar?

[2020-07-15 20:06] cmaureir commented on #513
éxito con la traducción! :tada:

[2020-07-15 20:21] colazurda commented on #553
Me gustaría contribuir en este Issue
@colazurda

[2020-07-15 20:34] EduFriesen00 commented on #506
queria trabaja en este issue soy del grupo de telegram estoy como edu friesen

[2020-07-15 20:38] cmaureir commented on #553
Mucho éxito! :tada:

[2020-07-15 20:38] cmaureir commented on #506
Buena suerte con la traducción! :tada:

[2020-07-16 13:47] humitos opened #569 "Translate `library/mmap.po`"
This needs to reach 100% translated.

Current stats for `library/mmap.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 47
- Untranslated: 47

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedocs.io/

[2020-07-16 13:48] humitos opened #570 "Translate `library/wsgiref.po`"
This needs to reach 100% translated.

Current stats for `library/wsgiref.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 115
- Untranslated: 115

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedoc

[2020-07-16 13:48] humitos opened #571 "Translate `library/select.po`"
This needs to reach 100% translated.

Current stats for `library/select.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 201
- Untranslated: 201

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedocs

[2020-07-16 13:48] humitos opened #572 "Translate `library/email.policy.po`"
This needs to reach 100% translated.

Current stats for `library/email.policy.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 101
- Untranslated: 101

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readt

[2020-07-16 13:48] humitos opened #573 "Translate `howto/curses.po`"
This needs to reach 100% translated.

Current stats for `howto/curses.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 105
- Untranslated: 105

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedocs.i

[2020-07-16 13:48] humitos opened #574 "Translate `library/dbm.po`"
This needs to reach 100% translated.

Current stats for `library/dbm.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 74
- Untranslated: 74

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedocs.io/p

[2020-07-16 13:49] humitos opened #575 "Translate `library/readline.po`"
This needs to reach 100% translated.

Current stats for `library/readline.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 47
- Untranslated: 47

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedocs

[2020-07-16 13:49] humitos opened #576 "Translate `library/locale.po`"
This needs to reach 100% translated.

Current stats for `library/locale.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 140
- Untranslated: 140

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedocs

[2020-07-16 13:49] humitos opened #577 "Translate `howto/clinic.po`"
This needs to reach 100% translated.

Current stats for `howto/clinic.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 415
- Untranslated: 415

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedocs.i

[2020-07-16 13:50] humitos opened #578 "Translate `library/imp.po`"
This needs to reach 100% translated.

Current stats for `library/imp.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 68
- Untranslated: 68

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedocs.io/p

[2020-07-16 13:50] hristoroque commented on #569
May I translate this file?

[2020-07-16 13:50] humitos opened #579 "Translate `faq/windows.po`"
This needs to reach 100% translated.

Current stats for `faq/windows.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 47
- Untranslated: 47

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedocs.io/p

[2020-07-16 13:50] humitos opened #580 "Translate `library/bisect.po`"
This needs to reach 100% translated.

Current stats for `library/bisect.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 17
- Untranslated: 17

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedocs.i

[2020-07-16 13:50] humitos opened #581 "Translate `library/weakref.po`"
This needs to reach 100% translated.

Current stats for `library/weakref.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 80
- Untranslated: 80

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedocs.

[2020-07-16 13:51] humitos opened #582 "Translate `library/asyncio-stream.po`"
This needs to reach 100% translated.

Current stats for `library/asyncio-stream.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 76
- Untranslated: 76

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readt

[2020-07-16 13:51] humitos opened #583 "Translate `library/bz2.po`"
This needs to reach 100% translated.

Current stats for `library/bz2.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 65
- Untranslated: 65

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedocs.io/p

[2020-07-16 14:25] mayuti commented on #569
Hola @humitos. Podrías asignarme el archivo?. Saludos.

[2020-07-16 14:26] mayuti commented on #575
Hola @humitos. Podrías asignarme el archivo?.

[2020-07-16 14:29] mayuti commented on #579
Hola @humitos. Podrías asignarme el archivo?.

[2020-07-16 14:54] cmaureir commented on #569
Grande @hristoroque :tada:

[2020-07-16 14:55] cmaureir commented on #575
Vamos, vamos @mayuti :tada:

[2020-07-16 14:55] cmaureir commented on #579
Buenisimo @mayuti :tada:

[2020-07-16 17:01] mrcmoresi commented on #576
Hello! I'm available to work in this one, since this is my first collab I could take longer than expected but I want to work on this.

[2020-07-16 17:05] humitos commented on #576
@mrcmoresi hágale pues! gracias por colaborar con este proyecto :smile: . Recuerda seguir la Contributing Guide y si tienes alguna duda puedes preguntarnos sin problema.

[2020-07-18 22:12] hristoroque commented on #581
Me gustaría traducir este archivo.

[2020-07-19 11:36] cmaureir commented on #581
:tada: :tada: :tada:

[2020-07-19 18:19] halcolo commented on #573
Me gustaría trabajar en este por favor.

[2020-07-19 18:22] halcolo commented on #571
Es posible que pueda trabajar en este?

[2020-07-20 09:52] juansemarquez commented on #580
Quisiera colaborar con este breve archivo.

[2020-07-21 12:07] humitos commented on #573
Hola @halcolo! Excelente! Adelante! Recuerda seguir los pasos de la Contributing Guide!

[2020-07-21 12:07] humitos commented on #580
Hola @juansemarquez! Excelente! Adelante! Recuerda seguir los pasos de la Contributing Guide!

[2020-07-21 12:08] humitos commented on #571
Hola @halcolo! Excelente! Adelante! Recuerda seguir los pasos de la Contributing Guide!

[2020-07-21 12:09] humitos opened #590 "Translate `library/email.parser.po`"
This needs to reach 100% translated.

Current stats for `library/email.parser.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 47
- Untranslated: 47

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthe

[2020-07-21 12:10] humitos opened #591 "Translate `library/nntplib.po`"
This needs to reach 100% translated.

Current stats for `library/nntplib.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 84
- Untranslated: 84

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedocs.

[2020-07-21 12:10] humitos opened #592 "Translate `faq/extending.po`"
This needs to reach 100% translated.

Current stats for `faq/extending.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 60
- Untranslated: 60

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedocs.io

[2020-07-21 12:11] humitos opened #593 "Translate `library/bdb.po`"
This needs to reach 100% translated.

Current stats for `library/bdb.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 92
- Untranslated: 92

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedocs.io/p

[2020-07-21 12:12] humitos opened #594 "Translate `library/tk.po`"
This needs to reach 100% translated.

Current stats for `library/tk.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 4
- Untranslated: 4

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedocs.io/page

[2020-07-21 12:12] humitos opened #595 "Translate `library/atexit.po`"
This needs to reach 100% translated.

Current stats for `library/atexit.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 16
- Untranslated: 16

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedocs.i

[2020-07-21 12:12] humitos opened #596 "Translate `reference/executionmodel.po`"
This needs to reach 100% translated.

Current stats for `reference/executionmodel.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 38
- Untranslated: 38

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.rea

[2020-07-21 12:13] humitos opened #597 "Translate `library/multiprocessing.shared_memory.po`"
This needs to reach 100% translated.

Current stats for `library/multiprocessing.shared_memory.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 34
- Untranslated: 34

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://pytho

[2020-07-21 12:13] humitos opened #598 "Translate `library/_thread.po`"
This needs to reach 100% translated.

Current stats for `library/_thread.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 38
- Untranslated: 38

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedocs.

[2020-07-21 12:13] humitos opened #599 "Translate `howto/pyporting.po`"
This needs to reach 100% translated.

Current stats for `howto/pyporting.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 85
- Untranslated: 85

Please, comment here if you want this file to be assigned to you and an member will assign it to you as soon as possible, so you can start working on it.

Remember to follow the steps in our [Contributing Guide](https://python-docs-es.readthedocs.

[2020-07-21 12:18] humitos opened #600 "Translate `library/secrets.po`"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.8/library/secrets.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/secrets.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 30
- Untranslated: 30

Please, comment here if you want this file to be assigned to you and an member wi

[2020-07-21 12:18] humitos opened #601 "Translate `library/http.cookiejar.po`"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.8/library/http.cookiejar.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/http.cookiejar.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 153
- Untranslated: 153

Please, comment here if you want this file to be assigned to you

[2020-07-21 12:18] humitos opened #602 "Translate `library/telnetlib.po`"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.8/library/telnetlib.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/telnetlib.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 46
- Untranslated: 46

Please, comment here if you want this file to be assigned to you and an membe

[2020-07-21 12:18] humitos opened #603 "Translate `library/tokenize.po`"
This needs to reach 100% translated.

The rendered version of this file will be available at https://docs.python.org/es/3.8/library/tokenize.html once translated.
Meanwhile, the English version is shown.

Current stats for `library/tokenize.po`:

- Fuzzy: 0
- Percent translated: 0%
- Entries: 0 / 43
- Untranslated: 43

Please, comment here if you want this file to be assigned to you and an member

[2020-07-21 13:02] mayuti commented on #594
Buenas!, Me asignarías el archivo?.

[2020-07-21 13:02] mayuti commented on #595
Buenas!, Me asignarías el archivo?.

[2020-07-21 13:02] mayuti commented on #597
Buenas!, Me asignarías el archivo?.

[2020-07-21 16:49] #555 closed

[2020-07-21 17:40] #551 closed

[2020-07-21 18:39] #399 closed

[2020-07-21 21:05] #595 closed

[2020-07-22 08:07] #575 closed

[2020-07-22 14:56] #579 closed

[2020-07-22 16:25] #597 closed

[2020-07-22 19:18] cmaureir commented on #348
@trallard avisanos si te podemos ayudar en algo para hacer el PR :)

[2020-07-23 01:10] Luck547 commented on #599
Quiero trabajar en él.
I wish to work on it.

[2020-07-23 06:43] cmaureir commented on #599
Genial! Buena suerte con la traducción @Luck547 :tada:

[2020-07-23 08:14] clacri commented on #269
@hectorcanto creo que esta issue ya se puede cerrar que no se hizoa utomaticamente con tu pr, cierto?

[2020-07-23 08:15] clacri commented on #203
creo que lo mejor es que si se ha discutido en telegram con los demás, añadas eso a la memoria de traducción

[2020-07-23 08:15] clacri commented on #82
@eamanu vi que ya agregaste la pagina de recursos, está esto incluido? se puede cerrar la issue?

[2020-07-23 23:59] jcantilo commented on #592
puedo encarar este?

[2020-07-24 07:39] cmaureir commented on #592
Grande @jcantilo  :tada: !
Mira que hay varios PRs abiertos sobre extending/*
Ante alguna duda, mejor mirar esos para asi tener consistencia :)

[2020-07-25 08:48] #523 closed

[2020-07-25 08:53] ifosch commented on #603
I am taking this one @cmaureir

[2020-07-25 08:54] cmaureir commented on #603
Gracias @ifosch :tada:

[2020-07-25 10:01] #510 closed

[2020-07-25 10:03] #264 closed

[2020-07-25 10:53] juansemarquez commented on #598
Arranco con este, si les parece.

[2020-07-25 11:01] humitos commented on #598
@juansemarquez :tada:

[2020-07-25 12:26] #511 closed

[2020-07-25 12:29] #516 closed

[2020-07-25 12:45] #594 closed

[2020-07-25 12:48] #420 closed

[2020-07-25 13:11] spiccinini commented on #600
Hi! Can I translate this? Gracias

[2020-07-25 13:22] cmaureir commented on #600
Genial @spiccinini :tada: mucha suerte con la traducción :)

[2020-07-25 13:53] #351 closed

[2020-07-25 13:59] Jighdan commented on #602
Puedo tomar este?

[2020-07-25 14:15] cmaureir commented on #602
Grande @Jighdan  :tada: suerte con la traducción

[2020-07-25 14:25] #517 closed

[2020-07-25 14:49] #598 closed

[2020-07-25 14:57] #473 closed

[2020-07-25 15:18] alphacentauri82 commented on #601
Can you assign this to me please!

[2020-07-25 15:24] cmaureir commented on #601
Genial @alphacentauri82 :tada: :tada: mucha suerte con la traducción!

[2020-07-25 15:24] #518 closed

[2020-07-25 15:48] #466 closed

[2020-07-25 15:54] juansemarquez commented on #596
Quisiera colaborar con este archivo.

[2020-07-25 16:03] cmaureir commented on #596
Vamos con todo @juansemarquez  :tada:

[2020-07-25 17:49] #422 closed

[2020-07-25 17:53] cmaureir commented on #577
Bueno, con tantas entradas, creo que nadie se va a querer matricular con esta, así que creo que tardaré un tiempo, pero me la asigno igual jaja Challenge accepted.

[2020-07-25 19:45] hristoroque commented on #590
Me gustaría hacer este.

[2020-07-25 20:22] cmaureir commented on #590
genial @hristoroque :tada: !

[2020-07-25 20:50] #581 closed

[2020-07-26 07:40] #427 closed

[2020-07-26 07:49] #603 closed

[2020-07-26 09:18] gilgamezh opened #628 "automatizar "pings" en issues/prs sin novedades"
Muchas veces pasa que alguien toma un issue o crea un PR y luego ese PR no tiene actualizaciones. Es posible tener un bot que se ocupe de hacer "ping' o de cerrar/"desasignar" un pr o ticket

Mi propuesta es el siguiente workflow:

Issues:

- si está asignado y no hay actividad en 10 días hacer un "ping": `Hola @author. Este issue tiene varios días sin actividad, por favor agrega un comentario si

[2020-07-26 09:27] cmaureir commented on #628
A mi me parece bien, creo que si hay gente interesada al menos va a comentar algo, de que necesitan otra semana o asi, y con eso el bot  vuelve a contar los días.
Respecto a los días, quizás deberíamos dar un poquito más de tiempo? Mi cabeza también funciona en semanas, pero quizás podemos hacer 10 y 20 días? Recuerdo que con @humitos hablamos esto una vez, pero no me acuerdo de sus tiempos.

Quiz

[2020-07-26 09:42] ifosch commented on #570
@cmaureir Si no ves inconveniente, me pongo con esta traducción

[2020-07-26 09:48] gilgamezh commented on #628
@cmaureir lo que aprendí ayer es que necesitas una persona para decidir si es posible "tomar" ese trabajo o no. Porque los comandos no son triviales y depende de otras cosas.
También pienso que el criterio es importante. hacen falta 2 cambios o 200? etc.

Lo de los días +1 voy a tratar de que sea configurable

[2020-07-26 10:01] cmaureir commented on #570
Claro que no! Vamos con todo @ifosch  :tada:

[2020-07-26 10:06] Woile commented on #583
I'd like to pick this up

[2020-07-26 10:07] cmaureir commented on #583
Suerte con la traducción :tada:

[2020-07-26 12:06] #287 closed

[2020-07-26 13:39] #469 closed

[2020-07-26 15:08] hristoroque commented on #572
Quiero traducir este archivo.

[2020-07-26 15:29] cmaureir commented on #572
Genial @hristoroque :tada: :tada:

[2020-07-26 16:06] #464 closed

[2020-07-26 21:03] #596 closed

[2020-07-27 08:19] #600 closed

[2020-07-27 08:21] #580 closed

[2020-07-27 13:29] #231 closed

[2020-07-27 13:46] Jighdan commented on #578
Me lo llevo :hand:

[2020-07-27 16:24] trallard commented on #348
Hey he andado suuuuper ocupada con trabajo y organizando eventos virtuales. Esta semana tengo tiempo para mover esto y mandar el PR

[2020-07-27 20:38] cmaureir commented on #578
Gracias @Jighdan, mucha suerte con la traducción!

[2020-07-27 21:41] #308 closed

[2020-07-28 07:32] #556 closed

[2020-07-28 15:49] #583 closed

[2020-07-28 18:22] #260 closed

[2020-07-28 18:27] #425 closed

[2020-07-29 09:26] clacri commented on #317
Me encantaría revisar esta issue si @dav009 la traduce, es un módulo que me interesa :)

[2020-08-04 22:04] #558 closed

[2020-08-04 22:42] geekcoty commented on #593
¡Hola!
Me gustaría ayudar a traducir este archivo :)

[2020-08-04 22:46] cmaureir commented on #593
Buenísimooooo, gracias @geekcoty :tada: Mucho éxito con la traducción.

[2020-08-04 22:52] geekcoty commented on #593
¡Gracias!

[2020-08-05 18:28] natayafs commented on #591
Can you assign this to me?

[2020-08-05 19:56] raulcd commented on #591
assigned, thanks @natayafs , happy translation!

[2020-08-06 14:11] #476 closed

[2020-08-06 19:43] #571 closed

[2020-08-07 02:11] Diavolo commented on #582
Hola, me gustaría ayudar con esta tarea.

[2020-08-07 11:04] clacri commented on #599
Este documento seguro se consulta bastante y es un tema interesante :) me encantaría hacer review cuando ya haya alguna PR. Por cierto @Luck547 que si necesitas cualquier cosa por aquí estamos!!!

[2020-08-07 13:38] cmaureir commented on #582
Gracias @Diavolo :tada: Mucho éxito en la traducción. Nos puedes encontrar en el grupo de telegram :)

[2020-08-07 21:17] #576 closed

[2020-08-07 22:10] #475 closed

[2020-08-07 22:14] katialira commented on #574
🙋‍♀️ pido este ticket y prometo no tardarme un mes :)

[2020-08-09 14:59] Argibaycg commented on #574
Buenas, no sé si podre tomar este archivo para comenzar, es mi primer intento de colaborar y no veo otros disponibles, gracias

[2020-08-09 16:29] cmaureir commented on #574
Hola @Argibaycg, vamos por orden, así que se lo asignamos a @katialira y luego cuando generemos mas issues, te puedes apuntar con alguno. De todas formas, hay muchos PR abiertos que corregir, y actualmente es nuestro cuello de botella y nos vendría super bien una mano! a ver si te animas  a ayudarnos a corregir :+1:

[2020-08-10 13:47] #602 closed

[2020-08-10 13:52] #592 closed

[2020-08-10 15:31] clacri commented on #319
Hola @gomezgleonardob estoy retomando la traducción de rapto de unittest.po y he visto que habia esta issue y otra de ficheros muy relacionados. Como hace mucho tiempo que no la has actualizado quería confirmar contigo si sigues queriendo ocuparte de la issue, y en caso contrario que nos lo dijeras para poder reasignarla. Un saludo!

[2020-08-10 15:33] clacri commented on #506
Hola @EduFriesen00 estoy retomando la traducción de rapto del fichero unnitest.po y como está muy relacionado con tu issue y la de unnitest.mock queria confirmar que sigues interesado en continuar con esta issue, y recordarte que si necesitas cualquier ayuda aquí estamos, también puedes ir poniendo una PR aunque tuvieras una traducción parcial. Un saludo!!

[2020-08-10 15:55] cmaureir commented on #461
Queda abierta esta issue para continuar las traducción.

[2020-08-10 20:08] Jighdan commented on #578
Hey -
Se que me he estado retrasando un poco con esta traduccion, pero aun quisiera ser quien la termine.

[2020-08-10 20:29] cmaureir commented on #578
Mucho ánimo @Jighdan !!!

[2020-08-11 07:37] #477 closed

[2020-08-11 07:40] #337 closed

[2020-08-11 13:03] Bgeninatti commented on #461
Me gustaría trabajar en este.

[2020-08-11 13:50] cmaureir commented on #461
Asignado @Bgeninatti :tada: Mucho éxito con la traducción, son bastantes entradas así que te recomiendo que vayas haciendo 'push' a tu PR de vez en cuando, asi la gente va revisando de a poco :)

[2020-08-12 11:08] jcantilo opened #654 "translate `library/fractions.po`"

[2020-08-12 11:18] jcantilo commented on #654
voy a traducir este archivo

[2020-08-14 12:41] #474 closed

[2020-08-14 12:54] #140 closed

[2020-08-14 22:59] #505 closed

[2020-08-14 23:02] #157 closed

[2020-08-15 14:52] cmaureir commented on #89
@dvidsilva te podemos ayudar en algo para poder continuar con este archivo? Si no tienes tiempo, lo podemos dejar libre para que otro continué con el.

[2020-08-15 14:53] cmaureir commented on #158
@iris9112  te podemos ayudar en algo para poder continuar con este archivo? Si no tienes tiempo, lo podemos dejar libre para que otra persona continué con el.

[2020-08-15 14:53] cmaureir commented on #188
@albertcalv te podemos ayudar en algo para poder continuar con este archivo? Si no tienes tiempo, lo podemos dejar libre para que otra persona continué con el.

[2020-08-15 14:54] cmaureir commented on #192
@kikocorreoso te podemos ayudar en algo para poder continuar con este archivo? Si no tienes tiempo, lo podemos dejar libre para que otra persona continué con el.

[2020-08-15 14:54] cmaureir commented on #196
@damiansire  te podemos ayudar en algo para poder continuar con este archivo? Si no tienes tiempo, lo podemos dejar libre para que otra persona continué con el.

[2020-08-15 14:55] cmaureir commented on #198
@josemlp91  te podemos ayudar en algo para poder continuar con este archivo? Si no tienes tiempo, lo podemos dejar libre para que otra persona continué con el.

[2020-08-15 14:55] cmaureir commented on #200
@marcosmamg   te podemos ayudar en algo para poder continuar con este archivo? Si no tienes tiempo, lo podemos dejar libre para que otra persona continué con el.

[2020-08-15 14:56] cmaureir commented on #219
@adriaanbd  te podemos ayudar en algo para poder continuar con este archivo? Si no tienes tiempo, lo podemos dejar libre para que otra persona continué con el.

[2020-08-15 14:56] cmaureir commented on #230
@javierdaza  te podemos ayudar en algo para poder continuar con este archivo? Si no tienes tiempo, lo podemos dejar libre para que otra persona continué con el.

[2020-08-15 14:57] #233 closed

[2020-08-15 14:58] cmaureir commented on #265
@Roluisker  te podemos ayudar en algo para poder continuar con este archivo? Si no tienes tiempo, lo podemos dejar libre para que otra persona continué con el.

[2020-08-15 14:58] cmaureir commented on #286
@Juancacorps  te podemos ayudar en algo para poder continuar con este archivo? Si no tienes tiempo, lo podemos dejar libre para que otra persona continué con el.

[2020-08-15 14:59] cmaureir commented on #302
@itrjwyss  te podemos ayudar en algo para poder continuar con este archivo? Si no tienes tiempo, lo podemos dejar libre para que otra persona continué con el.

[2020-08-15 15:00] cmaureir commented on #303
@lasr21  te podemos ayudar en algo para poder continuar con este archivo? Si no tienes tiempo, lo podemos dejar libre para que otra persona continué con el.

[2020-08-15 15:00] cmaureir commented on #304
@c0x6a  te podemos ayudar en algo para poder continuar con este archivo? Si no tienes tiempo, lo podemos dejar libre para que otra persona continué con el.

[2020-08-15 15:00] adriaanbd commented on #219
@cmaureir tranquilo que lo hago hoy, voy a borrar y reemplazar el archivo

[2020-08-15 15:01] #309 closed

[2020-08-15 15:01] cmaureir commented on #315
@ramsal  te podemos ayudar en algo para poder continuar con este archivo? Si no tienes tiempo, lo podemos dejar libre para que otra persona continué con el.

[2020-08-15 15:02] cmaureir commented on #317
@dav009  te podemos ayudar en algo para poder continuar con este archivo? Si no tienes tiempo, lo podemos dejar libre para que otra persona continué con el.

[2020-08-15 15:02] cmaureir commented on #323
@morenocl  te podemos ayudar en algo para poder continuar con este archivo? Si no tienes tiempo, lo podemos dejar libre para que otra persona continué con el.

[2020-08-15 15:02] cmaureir commented on #324
@MichellePerezS  te podemos ayudar en algo para poder continuar con este archivo? Si no tienes tiempo, lo podemos dejar libre para que otra persona continué con el.

[2020-08-15 15:02] damiansire commented on #196
Recuerdo haber terminado esto el mismo día que me lo asignaron, probablemente hice algo mal ene l proceso de subida. (Era mi primer aportación) Les pido disculpas y está noche lo reviso. Muchas gracias por avisar

[2020-08-15 15:02] cmaureir commented on #325
@shpotes  te podemos ayudar en algo para poder continuar con este archivo? Si no tienes tiempo, lo podemos dejar libre para que otra persona continué con el.

[2020-08-15 15:03] cmaureir commented on #338
@gomezgleonardob  te podemos ayudar en algo para poder continuar con este archivo? Si no tienes tiempo, lo podemos dejar libre para que otra persona continué con el.

[2020-08-15 15:03] cmaureir commented on #339
@claudio-m  te podemos ayudar en algo para poder continuar con este archivo? Si no tienes tiempo, lo podemos dejar libre para que otra persona continué con el.

[2020-08-15 15:03] cmaureir commented on #340
@cacrespo  te podemos ayudar en algo para poder continuar con este archivo? Si no tienes tiempo, lo podemos dejar libre para que otra persona continué con el.

[2020-08-15 15:03] cmaureir commented on #342
@gomezgleonardob  te podemos ayudar en algo para poder continuar con este archivo? Si no tienes tiempo, lo podemos dejar libre para que otra persona continué con el.

[2020-08-15 15:04] cmaureir commented on #343
Ya que tomamos tus ultimos PR @mgaitan tienes algún avance en este archivo para subir y que otra persona lo continue?

[2020-08-15 15:06] cmaureir commented on #348
@trallard me imagino lo ocupada que debes andar, si llevas algo en este archivo, te parece subir lo que llevas y así alguien más lo puede continuar? aún quedan muchos archivos más, solo que no se abrieron los issues de todos de una vez :)

[2020-08-15 15:07] cmaureir commented on #349
@BMariscal  tienes algo de este archivo para subir como draft? quizás así alguien más lo puede continuar.

[2020-08-15 15:07] cmaureir commented on #350
@darwing1210  te podemos ayudar en algo para poder continuar con este archivo? Si no tienes tiempo, lo podemos dejar libre para que otra persona continué con el.

[2020-08-15 15:07] cmaureir commented on #353
@MiguelHeCa  te podemos ayudar en algo para poder continuar con este archivo? Si no tienes tiempo, lo podemos dejar libre para que otra persona continué con el.

[2020-08-15 15:08] cmaureir commented on #417
@RubenGavidia  te podemos ayudar en algo para poder continuar con este archivo? Si no tienes tiempo, lo podemos dejar libre para que otra persona continué con el.

[2020-08-15 15:09] mgaitan commented on #343
No muchachos. Colgué. Más adelante si queda algo retomo, pero estoy medio quemado ahora. Avanti nomás, continuenlo

[2020-08-15 15:09] cmaureir commented on #418
@gomezgleonardob  te podemos ayudar en algo para poder continuar con este archivo? Si no tienes tiempo, lo podemos dejar libre para que otra persona continué con el.

[2020-08-15 15:09] cmaureir commented on #419
@genvalen  te podemos ayudar en algo para poder continuar con este archivo? Si no tienes tiempo, lo podemos dejar libre para que otra persona continué con el.

[2020-08-15 15:09] cmaureir commented on #423
@adriEzeMartinez  te podemos ayudar en algo para poder continuar con este archivo? Si no tienes tiempo, lo podemos dejar libre para que otra persona continué con el.

[2020-08-15 15:09] cmaureir commented on #426
@ALandazabal  te podemos ayudar en algo para poder continuar con este archivo? Si no tienes tiempo, lo podemos dejar libre para que otra persona continué con el.

[2020-08-15 15:10] cmaureir commented on #429
@aigissch  te podemos ayudar en algo para poder continuar con este archivo? Si no tienes tiempo, lo podemos dejar libre para que otra persona continué con el.

[2020-08-15 15:10] #460 closed

[2020-08-15 15:11] cmaureir commented on #462
@ignaciodopazo  te podemos ayudar en algo para poder continuar con este archivo? Si no tienes tiempo, lo podemos dejar libre para que otra persona continué con el.

[2020-08-15 15:12] cmaureir commented on #465
@mikanchu  te podemos ayudar en algo para poder continuar con este archivo? Si no tienes tiempo, lo podemos dejar libre para que otra persona continué con el.

[2020-08-15 15:12] cmaureir commented on #467
@RDCH106  te podemos ayudar en algo para poder continuar con este archivo? Si no tienes tiempo, lo podemos dejar libre para que otra persona continué con el.

[2020-08-15 15:12] cmaureir commented on #468
@Unaipg  te podemos ayudar en algo para poder continuar con este archivo? Si no tienes tiempo, lo podemos dejar libre para que otra persona continué con el.

[2020-08-15 15:12] cmaureir commented on #470
@silvinabt87  te podemos ayudar en algo para poder continuar con este archivo? Si no tienes tiempo, lo podemos dejar libre para que otra persona continué con el.

[2020-08-15 15:12] cmaureir commented on #471
@mxarc  te podemos ayudar en algo para poder continuar con este archivo? Si no tienes tiempo, lo podemos dejar libre para que otra persona continué con el.

[2020-08-15 15:12] cmaureir commented on #478
@samvaldez  te podemos ayudar en algo para poder continuar con este archivo? Si no tienes tiempo, lo podemos dejar libre para que otra persona continué con el.

[2020-08-15 15:13] cmaureir commented on #506
@EduFriesen00  te podemos ayudar en algo para poder continuar con este archivo? Si no tienes tiempo, lo podemos dejar libre para que otra persona continué con el.

[2020-08-15 15:13] cmaureir commented on #513
@VladimirGonzalez  te podemos ayudar en algo para poder continuar con este archivo? Si no tienes tiempo, lo podemos dejar libre para que otra persona continué con el.

[2020-08-15 15:13] cmaureir commented on #514
@VladimirGonzalez  te podemos ayudar en algo para poder continuar con este archivo? Si no tienes tiempo, lo podemos dejar libre para que otra persona continué con el.

[2020-08-15 15:14] cmaureir commented on #521
@rodpoblete  te podemos ayudar en algo para poder continuar con este archivo? Si no tienes tiempo, lo podemos dejar libre para que otra persona continué con el.

[2020-08-15 15:14] cmaureir commented on #522
@hristoroque  te podemos ayudar en algo para poder continuar con este archivo? Si no tienes tiempo, lo podemos dejar libre para que otra persona continué con el.

[2020-08-15 15:14] cmaureir commented on #553
@colazurda  te podemos ayudar en algo para poder continuar con este archivo? Si no tienes tiempo, lo podemos dejar libre para que otra persona continué con el.

[2020-08-15 15:14] cmaureir commented on #554
@estebansolo  te podemos ayudar en algo para poder continuar con este archivo? Si no tienes tiempo, lo podemos dejar libre para que otra persona continué con el.